unpackaged/main/default/flows/Academic_Accommodation_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Check_Account_Id_Validity</name>
        <label>Check Account Id Validity</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_ProgramId_Validity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_ProgramId_Validity</name>
        <label>Check ProgramId Validity</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_Input_Ids_Valid</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Program__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>RBC_Instructions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jennifer.mitchell@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>rose.mcintosh@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Values_for_NO_Academic_Accommodation</name>
        <label>Assign Values for NO Academic Accommodation</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Academic_Accommodation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Academic_Accommodation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Academic Accommodation Not Required -</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Academic_Accommodation.Enrollment_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Academic_Accommodation_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Academic_Accommodation.Full_Name_Missing_Enrollment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FullName_InputFromSubflow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Academic_Accommodation.Email_Missing_Enrollment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_InputFromSubflow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Academic_Accommodation.Account_Id_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Academic_Accommodation.Program_Id_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Academic_Accommodation_NO</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No, I do not require accommodations.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes, I do require the accommodations listed below.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Acknowledgement</name>
        <choiceText>Yes, I have read and followed the above instructions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Input_Ids_Valid</name>
        <label>Are Input Ids Valid?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Handle_Missing_Enrollment_Id_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid or Null Ids</defaultConnectorLabel>
        <rules>
            <name>Valid_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Account_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_ProgramId_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Honors_CTW_Program</targetReference>
            </connector>
            <label>Valid Ids?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provide_Release_Form_or_Not</name>
        <label>Provide Release Form or Not</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_for_NO_Academic_Accommodation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move to End</defaultConnectorLabel>
        <rules>
            <name>Present_Release_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_You_Require_Academic_Accommodations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accommodation_Release_Form</targetReference>
            </connector>
            <label>Present Release Form</label>
        </rules>
    </decisions>
    <description>4/27 - Updated flow to remove reference to &quot;Academics&quot; as required

Handles missing Enrollment Id</description>
    <dynamicChoiceSets>
        <name>Disability_Category_PicklistValues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Disability_Category__c</picklistField>
        <picklistObject>Accommodation__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Accommodation Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accommodation Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Academic_Accommodation</name>
        <label>Create Academic Accommodation</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignRecordIdToReference>Accommodation_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>Accommodation_Request__c</field>
            <value>
                <elementReference>Please_describe_what_academic_accommodations_you_will_require</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Id_Log__c</field>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Release_Consent__c</field>
            <value>
                <elementReference>Date_FromSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disability_Category__c</field>
            <value>
                <elementReference>Disability_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Missing_Enrollment_Id__c</field>
            <value>
                <elementReference>Email_InputFromSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Record__c</field>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name_Missing_Enrollment_Id__c</field>
            <value>
                <elementReference>FullName_InputFromSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Accommodation_Supports_Student__c</field>
            <value>
                <elementReference>Please_describe_how_this_will_support_your_academic_needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Academic Accommodation -</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Party_Consent__c</field>
            <value>
                <elementReference>Other_Party_Members_FromSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Id_Log__c</field>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Accommodation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verto_Staff_Faculty_Consent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Accommodation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Academic_Accommodation_NO</name>
        <label>Create Academic Accommodation NO</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>RBC_Instructions</targetReference>
        </connector>
        <inputReference>Academic_Accommodation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accommodation_Record</name>
        <label>Get Accommodation Record</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accommodation_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Accommodation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enrollment_Record</name>
        <label>Get Enrollment Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accommodations_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enrollment_Id_FromSubflow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Id_Validity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Academic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Accommodations_Screen</name>
        <label>Accommodations Screen</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Provide_Release_Form_or_Not</targetReference>
        </connector>
        <fields>
            <name>Do_You_Require_Academic_Accommodations</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do You Require Accommodations?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Disability_Category</name>
            <choiceReferences>Disability_Category_PicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disability Category</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_You_Require_Academic_Accommodations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_describe_what_academic_accommodations_you_will_require</name>
            <fieldText>Please describe what accommodations you will require.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_You_Require_Academic_Accommodations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_describe_how_this_will_support_your_academic_needs</name>
            <fieldText>Please describe how this will support your educational needs.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_You_Require_Academic_Accommodations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Accommodation_Record</targetReference>
        </connector>
        <fields>
            <name>Upload_Documents_LWC</name>
            <extensionName>c:flowFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Accommodation_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileFieldName</name>
                <value>
                    <stringValue>Guest_Site_fileupload__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileFieldValue</name>
                <value>
                    <elementReference>Accommodation_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoNavigateToNextStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Accommodation_Release_Form</name>
        <label>Accommodation Release Form</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Create_Academic_Accommodation</targetReference>
        </connector>
        <flowName>Accommodation_Release_Form</flowName>
        <outputAssignments>
            <assignToReference>Date_FromSubflow</assignToReference>
            <name>Date_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Other_Party_Members_FromSubflow</assignToReference>
            <name>Other_Party_Members_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Find_Honors_CTW_Program</name>
        <label>Find Honors/CTW Program</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Enrollment_Record</targetReference>
        </connector>
        <flowName>Find_Enrollment_Record_with_Semester_Match_CampusGroups_Integration</flowName>
        <inputAssignments>
            <name>ProgramId</name>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentAccountId</name>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Enrollment_Id_FromSubflow</assignToReference>
            <name>EnrollmentRecordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Missing_Enrollment_Id_0_0</name>
        <label>Handle Missing Enrollment Id</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Accommodations_Screen</targetReference>
        </connector>
        <flowName>Handle_Missing_Enrollment_Id</flowName>
        <outputAssignments>
            <assignToReference>Email_InputFromSubflow</assignToReference>
            <name>Email_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FullName_InputFromSubflow</assignToReference>
            <name>Full_Name_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RBC_Instructions</name>
        <label>RBC Instructions</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <flowName>RBC_Instructions</flowName>
        <inputAssignments>
            <name>ReleaseForm_Required_Input</name>
            <value>
                <elementReference>Academic_Accommodation_Required</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;i&gt;This is an automated email, please do not respond directly in this thread.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following academic accommodation request for &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Accommodation_Record.Student_Name__c}&lt;/span&gt; has been generated. Now that the student has completed their initial accommodation request, they will still be required to fill out the Disability Services Application through Richard Bland College&#39;s website.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An initial Academic Accommodation request has been submitted by {!Get_Accommodation_Record.Student_Name__c}.</text>
    </textTemplates>
    <variables>
        <name>Academic_Accommodation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accommodation__c</objectType>
    </variables>
    <variables>
        <name>Academic_Accommodation_Required</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>true</stringValue>
        </value>
    </variables>
    <variables>
        <name>Accommodation_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date_FromSubflow</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_InputFromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enrollment_Id_FromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileNames_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FullName_InputFromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Party_Members_FromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input from URL containing the Program SFA ID</description>
        <name>Program_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Requires_Accommodations</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Requires_Supporting_Documentation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
