unpackaged/main/default/flows/Accommodation_Grant_Share_Access_Staff_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates and inserts the Accommodation__Share record to give access to the appropriate Public Group for the Record.</description>
        <name>createAccommodationShareRecord</name>
        <label>createAccommodationShareRecord</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>FlowRecordSharingUtils</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accessFieldName</name>
            <value>
                <elementReference>ACCESS_FIELD_NAME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accessLevel</name>
            <value>
                <elementReference>ACCESS_LEVEL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deleteExistingSharingRecords</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupField</name>
            <value>
                <elementReference>LOOKUP_FIELD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AccommodationRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shareSObjectName</name>
            <value>
                <elementReference>SHARE_OBJECT_NAME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>SOBJECT_NAME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>publicGroupId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>ACCESS_FIELD_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AccessLevel</stringValue>
        </value>
    </constants>
    <constants>
        <name>ACCESS_LEVEL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Read</stringValue>
        </value>
    </constants>
    <constants>
        <name>LOOKUP_FIELD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ParentId</stringValue>
        </value>
    </constants>
    <constants>
        <name>SHARE_OBJECT_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Accommodation__Share</stringValue>
        </value>
    </constants>
    <constants>
        <name>SOBJECT_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Accommodation__c</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks for a non-null returned value from the getPublicGroupIdFromOpportunityProgram element.</description>
        <name>checkForExistingPublicGroup</name>
        <label>checkForExistingPublicGroup</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Public_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>publicGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAccommodationShareRecord</targetReference>
            </connector>
            <label>Existing Public Group</label>
        </rules>
    </decisions>
    <description>Switching to Enrollment Program instead of Opportunity</description>
    <interviewLabel>Accommodation - Grant Share Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accommodation - Grant Share Access [Staff Portal]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPublicGroupIdFromOpportunityProgram</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Returns the Public Group ID of the corresponding group that matches the Opportunity&#39;s current program.</description>
        <name>getPublicGroupIdFromOpportunityProgram</name>
        <label>getPublicGroupIdFromOpportunityProgram</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>checkForExistingPublicGroup</targetReference>
        </connector>
        <flowName>getPublicGroupFromProgram</flowName>
        <inputAssignments>
            <name>ProgramName</name>
            <value>
                <elementReference>AccommodationRecord.Enrollment_Record__r.Program__r.Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>publicGroupId</assignToReference>
            <name>GroupId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccommodationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accommodation__c</objectType>
    </variables>
    <variables>
        <description>The Public Group Id of the corresponding group.</description>
        <name>publicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
