unpackaged/main/default/flows/Accommodation_Release_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Screen_Values</name>
        <label>Assign Screen Values</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Other_Party_Members_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Party_Members</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Date_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>4/27 - Updated verbiage to Release Information Template to align with new requirements.</description>
    <interviewLabel>Accommodation Release Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accommodation Release Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Release_Information</name>
        <label>Release Information</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_Values</targetReference>
        </connector>
        <fields>
            <name>Release_Information_Display</name>
            <fieldText>&lt;p&gt;{!Release_Information_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Student_Signature</name>
            <dataType>String</dataType>
            <fieldText>Participant Signature</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Party_Members</name>
            <fieldText>Please indicate other parties we may release your dietary accommodations to. i.e. doctor, family member, etc.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Release_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Release_Information_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;The Health, Wellness, and Accommodations Manager serves as a resource for participants and staff of Verto Education&amp;nbsp;in relation to the provision of accommodations for the unique needs of participants. Through the provision of services at Verto Education and through the Academic Provider it offers an opportunity for all participants to achieve their educational and personal goals.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;All participants must sign a release of information form during their onboarding process which either states that they do not agree for any information to be shared outside of the Verto Education, or specifies exactly who they have agreed to release information to.&amp;nbsp;The only information the participant is giving Verto Education&amp;nbsp;is the permission to discuss the specific accommodations and&amp;nbsp;how these can be implemented within the course.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;PROCEDURE:&lt;/b&gt;&lt;/p&gt;&lt;h1&gt;&lt;span style=&quot;background-color: transparent; color: rgb(46, 117, 181); font-family: Calibri, sans-serif; font-size: 16pt;&quot;&gt;Release of Information&lt;/span&gt;&lt;/h1&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;I, _____________________,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;give my permission to the Health, Wellness, and Accommodations Manager at Verto Education to Release/Exchange information to the following individual(s) / agency(s) as may be necessary for me to apply for and/or receive reasonable accommodations related to my disability.&amp;nbsp;I understand that any released information will be kept confidential.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;﻿Release from Liability:&lt;/u&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;I release and agree to hold harmless the Verto Education and its agents, representatives, and employees, including the Health, Wellness, and Accommodations Manager, from any and all liability associated with the release of confidential client information in accord with this authorization.&amp;nbsp;I understand that Verto Education cannot be responsible for use or re-disclosure of information to third parties.&amp;nbsp;This release is in effect until written notification of termination is received from the participant.&amp;nbsp;I certify that this form has been fully explained to me, that I have read it or had it read to me, and that I understand its contents.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Date_Output</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Other_Party_Members_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
