unpackaged/main/default/flows/Alumni_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Sets the student ID to the ID of the account retrieved from the Get Student Account query.</description>
        <name>setStudentId</name>
        <label>setStudentId</label>
        <locationX>264</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>studentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Student_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLastLocation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks for the presence of a Page Parameter</description>
        <name>isStudentIdNull</name>
        <label>isStudentIdNull</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Get_Student_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotNullOrInvalid</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>studentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>studentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>studentIdLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>studentIdLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLastLocation</targetReference>
            </connector>
            <label>isNotNullOrInvalid</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Activities_Resources</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Activities_Resources__c</picklistField>
        <picklistObject>Alumni_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Attend_College_Immediately_Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Attended_college_immediately_after_Verto__c</picklistField>
        <picklistObject>Alumni_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>First_Generation_College_Student_Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>First_Generation_College_Student__c</picklistField>
        <picklistObject>Alumni_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Hispanic_Latino_Spanish_Origin_Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Hispanic_Latino_Spanish_origin__c</picklistField>
        <picklistObject>Alumni_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IntendedPostVertoCollegePlanValueSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Intended_post_college_plan__c</picklistField>
        <picklistObject>Alumni_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Major</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Major_of_Interest_1__c</picklistField>
        <picklistObject>College_Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pell_Grant_Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Received_a_Federal_Pell_Grant__c</picklistField>
        <picklistObject>Alumni_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Racial_Ethnic_Options</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Racial_ethnic_groups__c</picklistField>
        <picklistObject>Alumni_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Why_did_you_choose_the_college_you_currently_attend_P</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Why_did_you_choose_your_current_college__c</picklistField>
        <picklistObject>Alumni_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>LocationId</name>
        <dataType>String</dataType>
        <expression>{!getLastLocation.Program__r.Location__c}</expression>
    </formulas>
    <formulas>
        <name>RecordName</name>
        <dataType>String</dataType>
        <expression>{!First_Name} + &quot; &quot; + {!Last_Name} + &quot; - &quot; + TEXT(MONTH({!$Flow.CurrentDate})) + &quot;/&quot; + TEXT(DAY({!$Flow.CurrentDate})) + &quot;/&quot; + TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>studentIdLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!studentId})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Alumni Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alumni Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Alumni_Survey</name>
        <label>Create Alumni Survey</label>
        <locationX>176</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>ThankYouScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Academically_prepared_post_Verto__c</field>
            <value>
                <elementReference>I_Was_Academically_Prepared.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activities_Resources__c</field>
            <value>
                <elementReference>What_activities_resources_would_you_take_advantage_of_if_they_were_offered_to_yo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_final_comments_or_questions__c</field>
            <value>
                <elementReference>Any_final_comments_or_questions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attended_college_immediately_after_Verto__c</field>
            <value>
                <elementReference>Did_you_attend_college_the_semester_immediately_following_your_semester_s_with_V</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Can_afford_college_I_currently_attend__c</field>
            <value>
                <elementReference>Can_Afford_Current_College.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Career_plan__c</field>
            <value>
                <elementReference>What_is_your_current_plan_for_what_you_want_to_do_in_your_career</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cell_Phone_Number__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenges_faced_transitioning_to_colleg__c</field>
            <value>
                <elementReference>What_specific_challenges_did_you_face_when_you_transitioned_to_college</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clear_idea_on_what_Ill_do_this_summer__c</field>
            <value>
                <elementReference>Clear_Idea_Of_Summer_Plans.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>College_I_currently_attend_Text__c</field>
            <value>
                <elementReference>Enter_the_name_of_the_college_you_currently_attend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>College_I_currently_attend__c</field>
            <value>
                <elementReference>College_I_Currently_Attend.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>College_attended_post_Verto_was_good_fit__c</field>
            <value>
                <elementReference>College_After_Verto_Good_Fit.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credits_earned_at_Verto_transferred__c</field>
            <value>
                <elementReference>College_Credits_Transferred.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Email_Address__c</field>
            <value>
                <elementReference>Current_Email_Address.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_GPA_optional__c</field>
            <value>
                <elementReference>Current_GPA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_intended_major__c</field>
            <value>
                <elementReference>Current_intended_major</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Degree_of_Independence__c</field>
            <value>
                <elementReference>Degree_of_Independence.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Easiest_part_of_transition_to_college__c</field>
            <value>
                <elementReference>What_was_the_easiest_part_of_your_transition_to_college</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feel_connected_to_a_community_at_college__c</field>
            <value>
                <elementReference>Feel_Connected_To_Community.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Felt_well_supported__c</field>
            <value>
                <elementReference>Felt_Well_Supported_By_College.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Generation_College_Student__c</field>
            <value>
                <elementReference>Are_you_a_First_Generation_College_Student_Note_First_Generation_College_Student</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hardest_part_of_transition_to_college__c</field>
            <value>
                <elementReference>What_was_the_hardest_part_of_your_transition_to_college</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Help_figuring_out_how_to_afford_school__c</field>
            <value>
                <elementReference>Help_Figuring_Out_How_To_Afford_School.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hispanic_Latino_Spanish_origin__c</field>
            <value>
                <elementReference>Are_you_of_Hispanic_Latino_Spanish_origin_Select_one</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_could_Verto_be_helpful_to_you_today__c</field>
            <value>
                <elementReference>How_could_Verto_be_most_helpful_to_you_today_Please_share_1_3_ideas_on_how_we_co</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_you_identify__c</field>
            <value>
                <elementReference>We_value_all_your_identities_and_we_recognize_that_who_you_are_may_not_be_accura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_am_on_track_to_graduate_in_4_years__c</field>
            <value>
                <elementReference>I_Am_On_Track_To_Graduate.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_see_myself_as_a_global_leader__c</field>
            <value>
                <elementReference>I_See_Myself_As_Global_Leader.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_would_recommend_Verto_Ed_to_a_friend__c</field>
            <value>
                <elementReference>Recommend_Verto_To_Friend.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_like_help_deciding_on_a_major__c</field>
            <value>
                <elementReference>Help_Deciding_Major.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_like_help_getting_a_great_summer_job__c</field>
            <value>
                <elementReference>Help_Getting_Summer_Job.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_like_help_with_improving_my_grades__c</field>
            <value>
                <elementReference>Help_Improving_Grades.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_like_help_with_studying_abroad_again__c</field>
            <value>
                <elementReference>Help_Studying_Abroad_Again.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Idea_on_what_Ill_do_when_I_graduate__c</field>
            <value>
                <elementReference>Clear_Idea_of_Graduation_Plansgr.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_not_college_what_are_you_doing__c</field>
            <value>
                <elementReference>If_you_don_t_currently_attend_college_share_what_you_are_currently_doing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Increased_Confidence_Living_Abroad__c</field>
            <value>
                <elementReference>Increased_Confidence_Living_Abroad.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Increased_Curiosity_about_the_World__c</field>
            <value>
                <elementReference>Increased_Curiosity_about_World.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intended_Graduation_date__c</field>
            <value>
                <elementReference>Intended_graduation_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intended_post_college_plan__c</field>
            <value>
                <elementReference>Intended_post_college_plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Knew_college_I_was_going_to_attend__c</field>
            <value>
                <elementReference>Knew_Which_College_I_Was_Going_To_Attend.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Location__c</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Like_help_transferring_to_a_new_college__c</field>
            <value>
                <elementReference>Help_Transferring_To_New_College.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nominator_First_Name__c</field>
            <value>
                <elementReference>NominatorName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nominator_Last_Name__c</field>
            <value>
                <elementReference>NominatorName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>One_thing_Verto_could_help_with_today__c</field>
            <value>
                <elementReference>If_Verto_could_help_you_today_with_one_thing_what_would_it_be</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Racial_ethnic_groups__c</field>
            <value>
                <elementReference>What_racial_ethnic_groups_do_you_belong_to_Select_all_that_apply</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_a_Federal_Pell_Grant__c</field>
            <value>
                <elementReference>Have_you_received_a_Federal_Pell_Grant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rigor_of_Verto_academic_courses__c</field>
            <value>
                <elementReference>Rigor_of_Verto_Courses.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Account__c</field>
            <value>
                <elementReference>studentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verto_Staff_Support__c</field>
            <value>
                <elementReference>Verto_Staff_Support.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verto_counseling_before_starting_college__c</field>
            <value>
                <elementReference>I_Engaged_College_Counseling.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verto_helped_me_with_financial_plan__c</field>
            <value>
                <elementReference>Verto_Helped_Me_Develop_A_Clear_Plan.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verto_influenced_my_career_decision__c</field>
            <value>
                <elementReference>Verto_Influenced_Career.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verto_influenced_my_major_decision__c</field>
            <value>
                <elementReference>Verto_Influenced_Major.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_would_ve_helped_overcome_challenges__c</field>
            <value>
                <elementReference>What_would_have_helped_you_overcome_those_challenges</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_did_you_choose_your_current_college__c</field>
            <value>
                <elementReference>Why_did_you_choose_the_college_you_currently_attend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Postal_Code__c</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Alumni_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Student_Account</name>
        <label>Get Student Account</label>
        <locationX>264</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setStudentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Email_Address.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries the Enrollment Records for the Student. Grabs the most recent only and assigns the Program&#39;s Location ID as the Last Location value on the Alumni Survey</description>
        <name>getLastLocation</name>
        <label>getLastLocation</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Alumni_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>studentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Enrollment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Graduated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Alumni_Survey_Page_1</name>
        <label>Alumni Survey Page 1</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alumni_Survey_Page_2</targetReference>
        </connector>
        <fields>
            <name>Contact_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Contact Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Current_Email_Address</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Email Address:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cell Phone Number:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue> </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Alumni_Survey_Page_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Alumni_Survey_Page_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NominationText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Did a Verto Alumnus nominate you to fill out this survey?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NominatorName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nominator&#39;s Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Page1of7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Section 1 of 7&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alumni_Survey_Page_2</name>
        <label>Alumni Survey Page 2</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alumni_Survey_Page_3</targetReference>
        </connector>
        <fields>
            <name>Demographic_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Demographic Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_racial_ethnic_groups_do_you_belong_to_Select_all_that_apply</name>
            <choiceReferences>Racial_Ethnic_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What racial/ethnic groups do you belong to? Select all that apply.</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_you_of_Hispanic_Latino_Spanish_origin_Select_one</name>
            <choiceReferences>Hispanic_Latino_Spanish_Origin_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you of Hispanic/Latino/Spanish origin? Select one.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_you_a_First_Generation_College_Student_Note_First_Generation_College_Student</name>
            <choiceReferences>First_Generation_College_Student_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you a First-Generation College Student? Note: First-Generation College Student means that your parents did not complete a 4-year college or university degree.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_you_received_a_Federal_Pell_Grant</name>
            <choiceReferences>Pell_Grant_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you received a Federal Pell Grant?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>We_value_all_your_identities_and_we_recognize_that_who_you_are_may_not_be_accura</name>
            <fieldText>We value all your identities and we recognize that who you are may not be accurately summed up from our list. We’d love to hear in your own words, how you identify - whatever that means to you. Feel free to include any or all aspects of your identity that you are comfortable disclosing.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Page2of7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Section 2 of 7&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alumni_Survey_Page_3</name>
        <label>Alumni Survey Page 3</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alumni_Survey_Page_4</targetReference>
        </connector>
        <fields>
            <name>Post_Verto_Experience_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Post-Verto Experience&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Alumni_Survey_Page_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Alumni_Survey_Page_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>College_I_Currently_Attend</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>College_I_currently_attend__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>College I currently attend:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Alumni_Survey__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>My_University_Is_Not_Listed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enter_the_name_of_the_college_you_currently_attend</name>
                    <dataType>String</dataType>
                    <fieldText>Enter the name of the college you currently attend:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>My_University_Is_Not_Listed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_University_Is_Not_Listed</name>
                    <dataType>Boolean</dataType>
                    <fieldText>My University Is Not Listed.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Alumni_Survey_Page_3_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Alumni_Survey_Page_3_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intended_graduation_date</name>
                    <dataType>String</dataType>
                    <fieldText>Intended graduation date (MM/YYYY):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date must be in &#39;MM/YYYY&#39; format.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Intended_graduation_date},&quot;^((0[1-9])|(1[0-2]))/[0-9]{4}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Current_intended_major</name>
                    <choiceReferences>Major</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Current/intended major:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Current_GPA</name>
                    <dataType>Number</dataType>
                    <fieldText>Current GPA:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>If_you_don_t_currently_attend_college_share_what_you_are_currently_doing</name>
                    <fieldText>If you don’t currently attend college, share what you are currently doing:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Did_you_attend_college_the_semester_immediately_following_your_semester_s_with_V</name>
                    <choiceReferences>Attend_College_Immediately_Options</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Did you attend college the semester immediately following your semester(s) with Verto?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Intended_post_college_plan</name>
                    <choiceReferences>IntendedPostVertoCollegePlanValueSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Intended post-college plan:</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Post_College_plan_explanation</name>
                    <fieldText>Intended post college plan explanation</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Intended_post_college_plan</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>College_I_Currently_Attend.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Enter_the_name_of_the_college_you_currently_attend</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Page3of7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(62, 62, 60);&quot;&gt;Section 3 of 7&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alumni_Survey_Page_4</name>
        <label>Alumni Survey Page 4</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alumni_Survey_Page_5</targetReference>
        </connector>
        <fields>
            <name>Preparing_For_College</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Preparing for College&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agree_Disagree</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;1-4 how much do you agree or disagree:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;(1 = Strongly Disagree, 4 = Strongly Agree)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Knew_Which_College_I_Was_Going_To_Attend</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I knew which college I was going to attend before enrolling with Verto Education.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Verto_Influenced_Major</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Verto Education influenced the college major I chose to pursue:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Verto_Influenced_Career</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Verto Education influenced the career path I chose to pursue:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>I_Engaged_College_Counseling</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I engaged College Counseling services through Verto before starting college:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>I_Was_Academically_Prepared</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I was academically prepared for college following Verto:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Verto_Helped_Me_Develop_A_Clear_Plan</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Verto Education helped me develop a clear plan for financing college:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Recommend_Verto_To_Friend</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I would recommend Verto Education to a friend or colleague (1 = Strongly Disagree, 10 = Strongly Agree):</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Why_did_you_choose_the_college_you_currently_attend</name>
            <choiceReferences>Why_did_you_choose_the_college_you_currently_attend_P</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why did you choose the college you currently attend? Choose all that apply</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rank_1_10</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Rank the elements of your Verto experience that best prepared you for college. (1= no help in preparation, 10= extremely helpful in preparing me)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rigor_of_Verto_Courses</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rigor of Verto academic courses:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Degree_of_Independence</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Degree of Independence:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Verto_Staff_Support</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Verto Staff Support:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Increased_Confidence_Living_Abroad</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Increased Confidence from Living Abroad:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Increased_Curiosity_about_World</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Increased Curiosity about the World</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Page4of7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(62, 62, 60);&quot;&gt;Section 4 of 7&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alumni_Survey_Page_5</name>
        <label>Alumni Survey Page 5</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alumni_Survey_Page_6</targetReference>
        </connector>
        <fields>
            <name>Transitioning_to_college</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Transitioning to College&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agree_Disagree_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;1-4 how much do you agree or disagree:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;(1 = Strongly Disagree, 4 = Strongly Agree)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>College_After_Verto_Good_Fit</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>The college I attended after Verto has been a good fit for me.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Felt_Well_Supported_By_College</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I felt well-supported by the college when I arrived:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Feel_Connected_To_Community</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I feel connected to a community of peers at my college:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>College_Credits_Transferred</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>The college credits I earned at Verto transferred successfully to my new college:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Can_Afford_Current_College</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I can afford the college I am currently attending:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_specific_challenges_did_you_face_when_you_transitioned_to_college</name>
            <fieldText>What specific challenges did you face when you transitioned to college?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_would_have_helped_you_overcome_those_challenges</name>
            <fieldText>What would have helped you overcome those challenges?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Page5of7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(62, 62, 60);&quot;&gt;Section 5 of 7&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alumni_Survey_Page_6</name>
        <label>Alumni Survey Page 6</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alumni_Survey_Page_7</targetReference>
        </connector>
        <fields>
            <name>Achieving_My_College_and_Career_Goals</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Achieving my College and Career Goals&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agree_Disagree_3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;1-4 how much do you agree or disagree:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;(1 = Strongly Disagree, 4 = Strongly Agree)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_See_Myself_As_Global_Leader</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I see myself as a global leader:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>I_Am_On_Track_To_Graduate</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I am on track to graduate in 4 years:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Clear_Idea_Of_Summer_Plans</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I have a clear idea of what I want to do this summer:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Clear_Idea_of_Graduation_Plansgr</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I have a clear idea of what I want to do when I graduate:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_is_your_current_plan_for_what_you_want_to_do_in_your_career</name>
            <fieldText>What is your current plan for what you want to do in your career?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_was_the_easiest_part_of_your_transition_to_college</name>
            <fieldText>What was the easiest part of your transition to college?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_was_the_hardest_part_of_your_transition_to_college</name>
            <fieldText>What was the hardest part of your transition to college?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Page6of7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(62, 62, 60);&quot;&gt;Section 6 of 7&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alumni_Survey_Page_7</name>
        <label>Alumni Survey Page 7</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isStudentIdNull</targetReference>
        </connector>
        <fields>
            <name>Ongoing_Support_and_Engagement_with_Verto</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Ongoing Support and Engagement with Verto&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_could_Verto_be_most_helpful_to_you_today_Please_share_1_3_ideas_on_how_we_co</name>
            <fieldText>How could Verto be most helpful to you today? Please share 1-3 ideas on how we could help.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Agree_Disagree_4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;1-4 how much do you agree or disagree:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;(1 = Strongly Disagree, 4 = Strongly Agree)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Help_Deciding_Major</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I&#39;d like help with deciding on a major:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Help_Figuring_Out_How_To_Afford_School</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I&#39;d like help with figuring out how to afford school:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Help_Getting_Summer_Job</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I&#39;d like help with getting a great summer job:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Help_Improving_Grades</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I&#39;d like help with improving my grades:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Help_Studying_Abroad_Again</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I&#39;d like help studying abroad again:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Help_Transferring_To_New_College</name>
            <extensionName>c:radioScale</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I&#39;d like help with transferring to a new college:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>scaleLimit</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_activities_resources_would_you_take_advantage_of_if_they_were_offered_to_yo</name>
            <choiceReferences>Activities_Resources</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What activities, resources would you take advantage of if they were offered to you as a Verto Alumnus? Click all that apply</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_Verto_could_help_you_today_with_one_thing_what_would_it_be</name>
            <fieldText>If Verto could help you today with one thing, what would it be?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Any_final_comments_or_questions</name>
            <fieldText>Any final comments or questions?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Page7of7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(62, 62, 60);&quot;&gt;Section 7 of 7&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYouScreen</name>
        <label>ThankYouScreen</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&amp;nbsp;&lt;b&gt;Thank you for participating!&lt;/b&gt; &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;RSVP for Reunion at &lt;a href=&quot;https://vertoeducation.org/alumni/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;vertoeducation.org/alumni &lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Nominate a student - every person that lists you you’ll get $5&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alumni_Survey_Page_1</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Verto Alumni - We Want to Hear from You!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Thank you for your response to the Alumni Census. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This survey should take 10 minutes to complete and will be used to inform our Alumni Engagement strategy the best support you as a Verto alumnus.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Upon completion, you will be sent a gift card for a free coffee. Our goal is to have 100% completion by March 31st - will you help us?&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Questions? Reach out to Matteo - alumni@vertoeducation.org. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;﻿Thank you!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>studentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>University_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
