unpackaged/main/default/flows/Automatically_Update_Lead_Status_to_Application_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <description>This Flow is triggered with the Application checkbox gets checked and updates the Lead&#39;s status to Application Complete.</description>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Automatically Update Lead Status to Application Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatically Update Lead Status to Application Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Input_Application_Complete_Date</name>
        <label>Input Application Complete Date</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Input_New_Lead_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Complete_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Complete_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Pending_Date_If_Blank</name>
        <label>Input Application Pending Date - If Blank</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Pending_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Pending_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Attempted_Contact_Date_If_Blank</name>
        <label>Input Attempted Contact Date - If Blank</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Input_Contact_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attempted_Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attempted_Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Contact_Date_If_Blank</name>
        <label>Input Contact Date - If Blank</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Input_Application_Pending_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_New_Lead_Date_If_Blank</name>
        <label>Input New Lead Date - If Blank</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Input_Attempted_Contact_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_New_Lead_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_New_Lead_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>When the Application checkbox is checked, this updates the Lead Status to Application Complete.</description>
        <name>Update_Lead_Status_to_Application_Complete</name>
        <label>Update Lead Status to Application Complete</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Input_Application_Complete_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Application Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Lead_Status_to_Application_Complete</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
