unpackaged/main/default/flows/Calendly_Create_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Default_Last_Name</name>
        <label>Set Default Last Name</label>
        <locationX>314</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>InviteeLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotProvided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Last_Name_0</name>
        <label>Set Default Last Name</label>
        <locationX>1018</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>InviteeLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotProvided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invitee_Last_Name</name>
        <label>Set Invitee Last Name</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>InviteeLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InviteeLastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invitee_Last_Name_0</name>
        <label>Set Invitee Last Name</label>
        <locationX>754</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>InviteeLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InviteeLastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_we_have_a_Last_Name</name>
        <label>Do we have a Last Name?</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No we do not have a last name</defaultConnectorLabel>
        <rules>
            <name>Yes_we_have_a_last_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InviteeLastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invitee_Last_Name</targetReference>
            </connector>
            <label>Yes, we have a last name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_a_Last_Name_0</name>
        <label>Do we have a Last Name?</label>
        <locationX>886</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Last_Name_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No we do not have a last name</defaultConnectorLabel>
        <rules>
            <name>Yes_we_have_a_last_name_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InviteeLastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invitee_Last_Name_0</targetReference>
            </connector>
            <label>Yes, we have a last name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_a_Record</name>
        <label>Do we have a Record?</label>
        <locationX>380</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Create_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, we have a Record</defaultConnectorLabel>
        <rules>
            <name>No_Create_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Last_Name</targetReference>
            </connector>
            <label>No, Create Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_a_Record_0</name>
        <label>Do we have a Record?</label>
        <locationX>1084</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Create_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, we have a Record</defaultConnectorLabel>
        <rules>
            <name>No_Create_Lead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Last_Name_0</targetReference>
            </connector>
            <label>No, Create Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Event_Owner_Active_1</name>
        <label>Is Event Owner Active</label>
        <locationX>732</locationX>
        <locationY>1559</locationY>
        <defaultConnector>
            <targetReference>Find_Default_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Owner Not Active User</defaultConnectorLabel>
        <rules>
            <name>Event_Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_User_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Record</targetReference>
            </connector>
            <label>Event Owner Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Converted</name>
        <label>Is Lead Converted?</label>
        <locationX>809</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Find_User_of_Event_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead is Not Converted</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_is_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Converted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Converted_Contact</targetReference>
            </connector>
            <label>Yes, Lead is Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Contact_Found</name>
        <label>Was Contact Found?</label>
        <locationX>732</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Find_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Matched</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_of_Event_Owner</targetReference>
            </connector>
            <label>Yes, Contact Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Event_Family_Interview</name>
        <label>Was Event Family Interview?</label>
        <locationX>732</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>No, not a family interview</defaultConnectorLabel>
        <rules>
            <name>Yes_Family_Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EventSubject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Family Interview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObjectRecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Opportunity</targetReference>
            </connector>
            <label>Yes, Family Interview</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Lead_Found</name>
        <label>Was Lead Found?</label>
        <locationX>963</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Find_User_of_Event_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lead Match</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Lead_Converted</targetReference>
            </connector>
            <label>Yes, Lead Matched</label>
        </rules>
    </decisions>
    <description>This flow creates an event when a new CalendlyAction is created with the subject of invitee.created</description>
    <interviewLabel>Calendly Create Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calendly Create Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>732</locationX>
        <locationY>2567</locationY>
        <connector>
            <targetReference>Was_Event_Family_Interview</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InviteeUuid__c</field>
            <value>
                <elementReference>$Record.InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.EventSubject__c} - Calendly - {!$Record.InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ObjectRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_0_0</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>2135</locationY>
        <assignRecordIdToReference>ObjectRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Company Placeholder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>InviteeLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <stringValue>US High School Student</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_0_0_0</name>
        <label>Create Lead</label>
        <locationX>886</locationX>
        <locationY>2255</locationY>
        <assignRecordIdToReference>ObjectRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Company Placeholder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>InviteeLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <stringValue>US High School Student</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>732</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ObjectRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Converted_Contact</name>
        <label>Find Converted Contact</label>
        <locationX>677</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_User_of_Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ObjectRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Default_Owner</name>
        <label>Find Default Owner</label>
        <locationX>1084</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_a_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0053h000004HP8FAAW</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Username</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>This uses the Primary Event Publisher&#39;s User ID (i.e the owner of the Calendly Invite) as a search criteria to help reduce the scope of the search so we do not exceed the 200,000 record limit.</description>
        <name>Find_Lead</name>
        <label>Find Lead</label>
        <locationX>963</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Lead_Found</targetReference>
        </connector>
        <filterLogic>2 AND (1 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryEventPublisher_UserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Parent_1_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Parent_2_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactID</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ObjectRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Converted</assignToReference>
            <field>IsConverted</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Opportunity</name>
        <label>Find Opportunity</label>
        <locationX>600</locationX>
        <locationY>2807</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Family_Interview_Schedule_Date_on_Opp</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>z_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Z_Parent_1_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Z_Parent_2_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>FamilyInterviewOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_User_of_Event_Owner</name>
        <label>Find User of Event Owner</label>
        <locationX>732</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Event_Owner_Active_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0053h000003jTIYAA2</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Is_User_Active</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <sortField>Username</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>This finds the user record matching the Event Primary Publisher Email and stores the ID so that later in the flow when it searches Leads we can limit the scope to those Leads owned by the Event Primary Publisher to reduce hitting the 200,000 per day limit.</description>
        <name>Find_User_Record_for_Event_Owner</name>
        <label>Find User Record for Event Owner</label>
        <locationX>732</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0053h000003jTIYAA2</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>PrimaryEventPublisher_UserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Is_User_Active</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <sortField>Username</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Input_Family_Interview_Schedule_Date_on_Opp</name>
        <label>Input Family Interview Schedule Date on Opp</label>
        <locationX>600</locationX>
        <locationY>2927</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FamilyInterviewOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Family_Admissions_Call_Date_Time__c</field>
            <value>
                <elementReference>$Record.EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_User_Record_for_Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invitee.created</stringValue>
            </value>
        </filters>
        <filters>
            <field>EventPrimaryPublisherEmail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>mitch@vertoeducation.org</stringValue>
            </value>
        </filters>
        <filters>
            <field>EventPrimaryPublisherEmail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>emily@vertoeducation.org</stringValue>
            </value>
        </filters>
        <filters>
            <field>EventPrimaryPublisherEmail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>steve@vertoeducation.org</stringValue>
            </value>
        </filters>
        <filters>
            <field>EventPrimaryPublisherEmail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>michael@vertoeducation.org</stringValue>
            </value>
        </filters>
        <filters>
            <field>EventPrimaryPublisherEmail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>jake@vertoeducation.org</stringValue>
            </value>
        </filters>
        <filters>
            <field>EventPrimaryPublisherEmail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>madeline@vertoeducation.org</stringValue>
            </value>
        </filters>
        <object>CalendlyAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Converted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FamilyInterviewOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InviteeLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_User_Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This stores the User ID for the Primary Event Publisher of the Calendly invite.</description>
        <name>PrimaryEventPublisher_UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
