unpackaged/main/default/flows/Capitalize_First_and_Last_Names.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>FirstName Format incorrect</description>
        <name>FirstName_Format_incorrect</name>
        <label>FirstName Format incorrect</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>LastName_Format_Incorrect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterFirstname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_FirstName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>LastName Format Incorrect</description>
        <name>LastName_Format_Incorrect</name>
        <label>LastName Format Incorrect</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LastnameisIncorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_LastName</targetReference>
            </connector>
            <label>LastName is Incorrect</label>
        </rules>
    </decisions>
    <description>To update first name and last names and have them be auto Proper Cased regardless of how they entered it</description>
    <formulas>
        <name>FilterFirstname</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(ISBLANK({!FirstName} )),
    LEFT( {!FirstName}, 1) &lt;&gt; UPPER(LEFT( {!FirstName} , 1)))</expression>
    </formulas>
    <formulas>
        <name>FilterLastName</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(ISBLANK({!LastName} )),
    LEFT( {!LastName}, 1) &lt;&gt; UPPER(LEFT( {!LastName} , 1)))</expression>
    </formulas>
    <formulas>
        <name>PropercaseFirstName</name>
        <dataType>String</dataType>
        <expression>IF (
  FIND(&quot; &quot;, {!FirstName} ,1)=0,
  UPPER(LEFT({!FirstName} ,1))&amp;LOWER(MID({!FirstName},2,LEN({!FirstName})-1)),
  IF(
    FIND(&quot; &quot;,MID({!FirstName} ,FIND(&quot; &quot;,{!FirstName},1)+1,LEN({!FirstName})-FIND(&quot; &quot;,{!FirstName},1)))=0,
    UPPER(LEFT({!FirstName} ,1))&amp;LOWER(MID({!FirstName} ,2,FIND(&quot; &quot;,{!FirstName} ,1)-1))&amp;UPPER(MID({!FirstName} ,FIND(&quot; &quot;,{!FirstName} ,1)+1,1))&amp;LOWER(MID({!FirstName} ,FIND(&quot; &quot;,{!FirstName} ,1)+2,LEN({!FirstName})-1)),
    UPPER(LEFT({!FirstName} ,1))&amp;LOWER(MID({!FirstName} ,2,FIND(&quot; &quot;,{!FirstName} ,1)-1))&amp;UPPER(MID({!FirstName},FIND(&quot; &quot;,{!FirstName},1)+1,1))&amp;LOWER(MID({!FirstName} ,FIND(&quot; &quot;,{!FirstName} ,1)+2,FIND(&quot; &quot;,MID({!FirstName} ,FIND(&quot; &quot;,{!FirstName} ,1)+1,LEN({!FirstName} )-FIND(&quot; &quot;,{!FirstName} ,1)))-1))&amp;
    UPPER(MID({!FirstName} ,FIND(&quot; &quot;,MID({!FirstName} ,FIND(&quot; &quot;,{!FirstName} ,1)+1,LEN({!FirstName})-FIND(&quot; &quot;,{!FirstName} ,1)))+FIND(&quot; &quot;,{!FirstName} ,1)+1,1))&amp;LOWER(MID({!FirstName} ,FIND(&quot; &quot;,MID({!FirstName} ,FIND(&quot; &quot;,{!FirstName} ,1)+1,LEN({!FirstName} )-FIND(&quot; &quot;,{!FirstName} ,1)))+FIND(&quot; &quot;,{!FirstName},1)+2,LEN({!FirstName})-1))
  )
)</expression>
    </formulas>
    <formulas>
        <name>ProperCaseLastName</name>
        <dataType>String</dataType>
        <expression>IF (
  FIND(&quot; &quot;, {!LastName} ,1)=0,
  UPPER(LEFT({!LastName} ,1))&amp;LOWER(MID({!LastName},2,LEN({!LastName})-1)),
  IF(
    FIND(&quot; &quot;,MID({!LastName} ,FIND(&quot; &quot;,{!LastName} ,1)+1,LEN({!LastName})-FIND(&quot; &quot;,{!LastName},1)))=0,
    UPPER(LEFT({!LastName} ,1))&amp;LOWER(MID({!LastName} ,2,FIND(&quot; &quot;,{!LastName} ,1)-1))&amp;UPPER(MID({!LastName} ,FIND(&quot; &quot;,{!LastName} ,1)+1,1))&amp;LOWER(MID({!LastName} ,FIND(&quot; &quot;,{!LastName} ,1)+2,LEN({!LastName})-1)),
    UPPER(LEFT({!LastName} ,1))&amp;LOWER(MID({!LastName} ,2,FIND(&quot; &quot;,{!LastName} ,1)-1))&amp;UPPER(MID({!LastName} ,FIND(&quot; &quot;,{!LastName} ,1)+1,1))&amp;LOWER(MID({!LastName} ,FIND(&quot; &quot;,{!LastName} ,1)+2,FIND(&quot; &quot;,MID({!LastName} ,FIND(&quot; &quot;,{!LastName} ,1)+1,LEN({!LastName} )-FIND(&quot; &quot;,{!LastName},1)))-1))&amp;
    UPPER(MID({!LastName} ,FIND(&quot; &quot;,MID({!LastName} ,FIND(&quot; &quot;,{!LastName} ,1)+1,LEN({!LastName})-FIND(&quot; &quot;,{!LastName} ,1)))+FIND(&quot; &quot;,{!LastName} ,1)+1,1))&amp;LOWER(MID({!LastName} ,FIND(&quot; &quot;,MID({!LastName} ,FIND(&quot; &quot;,{!LastName} ,1)+1,LEN({!LastName} )-FIND(&quot; &quot;,{!LastName} ,1)))+FIND(&quot; &quot;,{!LastName} ,1)+2,LEN({!LastName})-1))
  )
)</expression>
    </formulas>
    <interviewLabel>Capitalize First and Last Names {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capitalize First and Last Names</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the FirstName</description>
        <name>Update_the_FirstName</name>
        <label>Update the FirstName</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>LastName_Format_Incorrect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>PropercaseFirstName</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the LastName</description>
        <name>Update_the_LastName</name>
        <label>Update the LastName</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ProperCaseLastName</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FirstName_Format_incorrect</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>FirstName</description>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>LastName</description>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
