unpackaged/main/default/flows/ConcatenateCollaboratorString.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignEmail</name>
        <label>AssignEmail</label>
        <locationX>670</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>tempEmailString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughEmails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignEmailString</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEmailString</name>
        <label>assignEmailString</label>
        <locationX>654</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>stringtoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addComma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughEmails</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>addComma</name>
        <dataType>String</dataType>
        <expression>{!tempEmailString} +&quot;, &quot;+ {!stringtoUpdate}</expression>
    </formulas>
    <interviewLabel>ConcatenateCollaboratorString {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ConcatenateCollaboratorString</label>
    <loops>
        <name>LoopThroughEmails</name>
        <label>LoopThroughEmails</label>
        <locationX>472</locationX>
        <locationY>227</locationY>
        <collectionReference>GetContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>338</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContacts</name>
        <label>GetContacts</label>
        <locationX>175</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Box_View_Access__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>377</locationX>
        <locationY>375</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>string_collaborators__c</field>
            <value>
                <elementReference>stringtoUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetContacts</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stringtoUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempEmailString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
