unpackaged/main/default/flows/Course_Registration_Confirmation_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Course_Registration_Confirmation_Email</name>
        <label>Send Course Registration Confirmation Email</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Student_Account__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>registrar@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Course Registration Confirmation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Alternative_Course_Values</name>
        <label>Assign Alternative Course Values</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>AlternativeCourses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Alternative_Single_Course</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Courses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Course_Values</name>
        <label>Assign Course Values</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PrimaryCourse1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Course_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Courses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Primary_or_Alternative</name>
        <label>Primary or Alternative?</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Assign_Alternative_Course_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alternative</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Courses.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Course_Values</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <interviewLabel>Course Registration Confirmation Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Registration Confirmation Email Alert</label>
    <loops>
        <name>Loop_over_Courses</name>
        <label>Loop over Courses</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Course_Interests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Primary_or_Alternative</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Course_Registration_Confirmation_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Interests</name>
        <label>Get Course Interests</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Courses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrollment_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Interest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Interests</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Interest_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Enrollment_Record__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Alternative_Single_Course</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table style=&quot;border-bottom: 1px solid #efac08; padding-bottom: 5px; padding-top: 5px; width: 60%;&quot;&gt;
&lt;tr style=&quot;text-align: left; color: #143f56;&quot;&gt;
    &lt;th style=&quot;width: 40%;&quot;&gt;&lt;/th&gt;
    &lt;th&gt;Credits:&lt;/th&gt;
    &lt;th&gt;Preference:&lt;/th&gt;
    &lt;th&gt;Type:&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
    &lt;td style=&quot;color: rgb(30, 120, 145); font-weight: bold; width: 40%;&quot;&gt;{!Loop_over_Courses.Course__r.Name}&lt;/td&gt;
    &lt;td style=&quot;color: #143f56;&quot;&gt;{!Loop_over_Courses.Credit_Hours__c}&lt;/td&gt;
    &lt;td style=&quot;color: #143f56;&quot;&gt;{!Loop_over_Courses.Preference_Rank__c}&lt;/td&gt;
    &lt;td style=&quot;color: #143f56;&quot;&gt;{!Loop_over_Courses.Type__c}&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Student_Account__r.First_Name__c},&lt;/p&gt;&lt;p&gt;Thank you for completing your course registration. Here is a summary of your course selection:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(30, 120, 145); font-size: 16px;&quot;&gt;Primary Choices:&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;border-bottom: 2px solid #ddd; padding-bottom: 5px; padding-top: 5px; width: 60%&quot;&gt;
&lt;tbody&gt;&lt;tr style=&quot;text-align: left; color: #143f56;&quot;&gt;&lt;th style=&quot;width: 40%;&quot;&gt;Course&lt;/th&gt;&lt;th&gt;Credits:&lt;/th&gt;&lt;th&gt;Preference:&lt;/th&gt;
&lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;{!PrimaryCourse1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(30, 120, 145); font-size: 16px;&quot;&gt;Alternative Choices:&lt;/span&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;border-bottom: 2px solid #ddd; padding-bottom: 5px; padding-top: 5px; width: 60%&quot;&gt;
&lt;tbody&gt;&lt;tr style=&quot;text-align: left; color: #143f56;&quot;&gt;&lt;th style=&quot;width: 40%;&quot;&gt;Course&lt;/th&gt;&lt;th&gt;Credits:&lt;/th&gt;&lt;th&gt;Preference:&lt;/th&gt;
&lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;{!AlternativeCourses}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Verto Education&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Single_Course_Details</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table style=&quot;border-bottom: 1px solid #ddd; padding-bottom: 10px; padding-top: 10px; width: 60%;&quot;&gt;
&lt;tr&gt;
    &lt;td style=&quot;color: rgb(30, 120, 145); font-weight: bold; width: 40%;&quot;&gt;{!Loop_over_Courses.Course__r.Name}&lt;/td&gt;
    &lt;td style=&quot;color: #143f56; text-align: right;&quot;&gt;{!Loop_over_Courses.Credit_Hours__c}&lt;/td&gt;
    &lt;td style=&quot;color: #143f56; text-align: right;&quot;&gt;{!Loop_over_Courses.Preference_Rank__c}&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>AlternativeCourses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>courseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Interest__c</objectType>
    </variables>
    <variables>
        <name>creditHours</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Primary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Interest__c</objectType>
    </variables>
    <variables>
        <name>PrimaryCourse1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
