unpackaged/main/default/flows/Course_Feedback_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>courseSelectionToValues</name>
        <label>courseSelectionToValues</label>
        <locationX>402</locationX>
        <locationY>1646</locationY>
        <actionName>Ostrij_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>courses_loop</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Select_Course</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>add</name>
        <label>add</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>finalCourseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>courses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_course_id_text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_course_id</name>
        <label>add course id</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>courseIdTextList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Offerings.Course__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Offerings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Course_Survey_To_List</name>
        <label>Add Course Survey To List</label>
        <locationX>490</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>courseSurveyList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>courseSurveyDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>courses_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Section_1</name>
        <label>Section 1</label>
        <locationX>490</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>courses_loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.average_amount_of_hours_spent_preparing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_estimate_the_average_amount_of_time_in_hours_you_spent_preparing_for_each</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Course_difficulty_given_credit_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_would_you_rate_the_level_of_difficulty_of_this_course_given_the_course_credi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Effort_Satisfaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_satisfied_are_you_with_your_personal_effort_in_this_course</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Faculty_Member</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Student_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Survey_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_choose_which_survey_you_will_be_completing_today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>courseSurvey2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>section_2</name>
        <label>section 2</label>
        <locationX>490</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_communication_clear_effective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_communicates_the_subject_clearly_and_effectively</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_displays_mastery_of_subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_displays_a_mastery_of_the_subject_material</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_provides_clear_assignments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_provides_clear_assignments_and_directions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_provides_helpful_feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_provides_regular_helpful_feedback_concerning_your_comprehension_of_c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_creates_class_a_safe_space_class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_creates_a_classroom_which_is_free_of_harassment_and_prejudice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_fosters_diversity_and_respect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_fosters_a_diverse_and_inclusive_classroom_where_the_dignity_of_every</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_was_approachable_and_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_was_approachable_and_available_for_help_outside_of_class</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_is_interested_in_helping_student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_demonstrates_an_interest_in_helping_students_learn_and_stimulated_my</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_teaching_methods_are_effective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_s_teaching_methods_assist_me_in_achieving_the_course_s_learning_outc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_facilitates_class_discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_effectively_facilitates_class_discussions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_uses_active_learning_methods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_faculty_regularly_uses_active_learning_methods_such_as_small_group_activitie</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_s_overall_effectiveness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Your_instructor_s_overall_effectiveness_as_a_teacher_is</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Faculty_extra_comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_expand_upon_on_your_responses_to_the_Faculty_Evaluation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>courseSurvey3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>section_3</name>
        <label>section 3</label>
        <locationX>490</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Class_activities_were_effective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Class_activities_helped_me_to_practice_the_course_learning_outcomes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Experiential_activities_were_effective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Experiential_activities_helped_me_to_practice_the_course_learning_outcomes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Content_met_expectations_and_goals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_course_content_was_applicable_to_my_own_expectations_and_goals_for_taking_th</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Course_material_supported_learning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_materials_available_through_Canvas_or_other_means_communicated_by_my_inst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Completing_assignments_enhanced_learning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completing_course_assignments_enhanced_my_knowledge_and_understanding_of_course</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Course_contributed_to_personal_growth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_learning_contributed_to_my_personal_growth_in_the_areas_of_self_awareness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Satisfactory_progress_on_learning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_believe_I_am_making_satisfactory_progress_on_achieving_the_learning_outcomes_f</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Amount_learned_in_the_course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_amount_you_have_learned_in_this_course_is</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Course_extra_comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_expand_upon_your_responses_to_the_Course_Evaluation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>courseSurvey4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>section_4</name>
        <label>section 4</label>
        <locationX>490</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Best_assignments_or_activities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_course_assignments_or_activities_in_class_were_most_helpful_and_interestin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.Best_experiential_assignments_activities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_experiential_learning_assignments_or_activities_in_class_or_on_excursions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>courseSurveyDetail.How_to_improve_the_course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_are_one_or_more_action_step_s_that_faculty_can_change_now_that_will_make_th</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Course_Survey_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>final_is_empty</name>
        <label>final is empty</label>
        <locationX>226</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>course_selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finalCourseList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_courses</targetReference>
            </connector>
            <label>empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_match</name>
        <label>is match?</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>courses.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_course_id_text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add</targetReference>
            </connector>
            <label>match</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>agreeDisagreePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Class_activities_were_effective__c</picklistField>
        <picklistObject>Survey_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>coursePicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Course__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>difficultyPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Course_difficulty_given_credit_hours__c</picklistField>
        <picklistObject>Survey_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>facultyPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Persona__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Faculty</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blaire Modic</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>finalCourseCollectionPicklist</name>
        <collectionReference>finalCourseList</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Course__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HighPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Faculty_s_overall_effectiveness__c</picklistField>
        <picklistObject>Survey_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>hoursPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>average_amount_of_hours_spent_preparing__c</picklistField>
        <picklistObject>Survey_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>programPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Spring 2022</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>UNDECIDED - Spring 2022</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fiji, New Zealand, &amp; Australia - Spring 2022</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hawaii - Spring 2022</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>England &amp; Costa Rica (CTW) - Spring 2022</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Costa Rica Honors - Spring 2022</stringValue>
            </value>
        </filters>
        <object>Program__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>satisfiedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Effort_Satisfaction__c</picklistField>
        <picklistObject>Survey_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurveyType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Survey_Type__c</picklistField>
        <picklistObject>Survey_Response__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Course Feedback Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Feedback Survey</label>
    <loops>
        <name>courses_loop</name>
        <label>courses loop</label>
        <locationX>402</locationX>
        <locationY>1766</locationY>
        <collectionReference>courseSelectionToValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Course</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Course_Surveys</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_course_id_text</name>
        <label>loop course id text</label>
        <locationX>226</locationX>
        <locationY>734</locationY>
        <collectionReference>courseIdTextList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>courses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>final_is_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Offerings</name>
        <label>loop Offerings</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <collectionReference>Course_Offerings_in_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_course_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_course_id_text</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Course_Surveys</name>
        <label>Create Course Surveys</label>
        <locationX>402</locationX>
        <locationY>3302</locationY>
        <connector>
            <targetReference>endScreen</targetReference>
        </connector>
        <inputReference>courseSurveyList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Course_Offerings_in_Program</name>
        <label>Course Offerings in Program</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Offerings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>courses</name>
        <label>courses</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_course_id_text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>490</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chooseFaculty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>courses_loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>chooseFaculty</name>
        <label>chooseFaculty</label>
        <locationX>490</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>courseSurvey</targetReference>
        </connector>
        <fields>
            <name>CourseDisplayText</name>
            <fieldText>&lt;p&gt;Course Name: {!Get_Course.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Faculty_Member</name>
            <choiceReferences>facultyPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Faculty Member</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>course_selection</name>
        <label>course selection</label>
        <locationX>402</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>courseSelectionToValues</targetReference>
        </connector>
        <fields>
            <name>Select_Course</name>
            <choiceReferences>finalCourseCollectionPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Course</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>courseSurvey</name>
        <label>courseSurvey</label>
        <locationX>490</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Section_1</targetReference>
        </connector>
        <fields>
            <name>courseDisplayText2</name>
            <fieldText>&lt;p&gt;Course Name: {!Get_Course.Name}&lt;/p&gt;&lt;p&gt;Faculty Name: {!Faculty_Member}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_estimate_the_average_amount_of_time_in_hours_you_spent_preparing_for_each</name>
            <choiceReferences>hoursPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please estimate the average amount of time in hours you spent preparing for each class session (readings and pre-class work) (in hours)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_would_you_rate_the_level_of_difficulty_of_this_course_given_the_course_credi</name>
            <choiceReferences>difficultyPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would you rate the level of difficulty of this course given the course credit hours?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_satisfied_are_you_with_your_personal_effort_in_this_course</name>
            <choiceReferences>satisfiedPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How satisfied are you with your personal effort in this course?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>courseSurvey2</name>
        <label>courseSurvey2</label>
        <locationX>490</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>section_2</targetReference>
        </connector>
        <fields>
            <name>courseDisplayText3</name>
            <fieldText>&lt;p&gt;Course Name: {!Get_Course.Name}&lt;/p&gt;&lt;p&gt;Faculty Name: {!Faculty_Member}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Your_instructor_s_overall_effectiveness_as_a_teacher_is</name>
            <choiceReferences>HighPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Your instructor&#39;s overall effectiveness as a teacher is</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_communicates_the_subject_clearly_and_effectively</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty communicates the subject clearly and effectively.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_displays_a_mastery_of_the_subject_material</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty displays a mastery of the subject material.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_provides_clear_assignments_and_directions</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty provides clear assignments and directions.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_provides_regular_helpful_feedback_concerning_your_comprehension_of_c</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty provides regular helpful feedback concerning your comprehension of course-related materials or skills.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_creates_a_classroom_which_is_free_of_harassment_and_prejudice</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty creates a classroom which is free of harassment and prejudice.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_fosters_a_diverse_and_inclusive_classroom_where_the_dignity_of_every</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty fosters a diverse and inclusive classroom where the dignity of every student is respected.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_was_approachable_and_available_for_help_outside_of_class</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty was approachable and available for help outside of class.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_demonstrates_an_interest_in_helping_students_learn_and_stimulated_my</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty demonstrates an interest in helping students learn and stimulated my interest in the subject.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_s_teaching_methods_assist_me_in_achieving_the_course_s_learning_outc</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty&#39;s teaching methods assist me in achieving the course&#39;s learning outcomes.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_effectively_facilitates_class_discussions</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty effectively facilitates class discussions.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_faculty_regularly_uses_active_learning_methods_such_as_small_group_activitie</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The faculty regularly uses active learning methods, such as small group activities and interactive exercises in class.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_expand_upon_on_your_responses_to_the_Faculty_Evaluation</name>
            <dataType>String</dataType>
            <fieldText>Please expand upon on your responses to the Faculty Evaluation.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>courseSurvey3</name>
        <label>courseSurvey3</label>
        <locationX>490</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>section_3</targetReference>
        </connector>
        <fields>
            <name>courseDisplaytext4</name>
            <fieldText>&lt;p&gt;Course Name: {!Get_Course.Name}&lt;/p&gt;&lt;p&gt;Faculty Name: {!Faculty_Member}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>The_amount_you_have_learned_in_this_course_is</name>
            <choiceReferences>HighPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The amount you have learned in this course is</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Class_activities_helped_me_to_practice_the_course_learning_outcomes</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Class activities helped me to practice the course learning outcomes.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Experiential_activities_helped_me_to_practice_the_course_learning_outcomes</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Experiential activities helped me to practice the course learning outcomes.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>The_course_content_was_applicable_to_my_own_expectations_and_goals_for_taking_th</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The course content was applicable to my own expectations and goals for taking the course.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_materials_available_through_Canvas_or_other_means_communicated_by_my_inst</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course materials available through Canvas or other means communicated by my instructor supported my learning in the course.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Completing_course_assignments_enhanced_my_knowledge_and_understanding_of_course</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Completing course assignments enhanced my knowledge and understanding of course topics.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_learning_contributed_to_my_personal_growth_in_the_areas_of_self_awareness</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course learning contributed to my personal growth in the areas of self-awareness, social awareness, and/or responsible decision making.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I_believe_I_am_making_satisfactory_progress_on_achieving_the_learning_outcomes_f</name>
            <choiceReferences>agreeDisagreePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I believe I am making satisfactory progress on achieving the learning outcomes for this course.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_expand_upon_your_responses_to_the_Course_Evaluation</name>
            <dataType>String</dataType>
            <fieldText>Please expand upon your responses to the Course Evaluation.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>courseSurvey4</name>
        <label>courseSurvey4</label>
        <locationX>490</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>section_4</targetReference>
        </connector>
        <fields>
            <name>courseDisplayText5</name>
            <fieldText>&lt;p&gt;Course Name: {!Get_Course.Name}&lt;/p&gt;&lt;p&gt;Faculty Name: {!Faculty_Member}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_course_assignments_or_activities_in_class_were_most_helpful_and_interestin</name>
            <dataType>String</dataType>
            <fieldText>Which course assignments or activities in class were most helpful and interesting? (Note: You will have a chance to address experiential learning activities in the next question)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Which_experiential_learning_assignments_or_activities_in_class_or_on_excursions</name>
            <dataType>String</dataType>
            <fieldText>Which experiential learning assignments or activities (in class or on excursions) were most helpful and interesting?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_are_one_or_more_action_step_s_that_faculty_can_change_now_that_will_make_th</name>
            <dataType>String</dataType>
            <fieldText>What are one or more action step(s) that faculty can change now that will make this course experience better for you moving forward?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>endScreen</name>
        <label>endScreen</label>
        <locationX>402</locationX>
        <locationY>3422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thankYouText</name>
            <fieldText>&lt;p&gt;Thank you for taking the time to complete this survey!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>no_courses</name>
        <label>no courses</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noCoursesDisplay</name>
            <fieldText>&lt;p&gt;No courses in this program!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Course_Offerings_in_Program</targetReference>
        </connector>
        <fields>
            <name>nameDisclaimer</name>
            <fieldText>&lt;p&gt;Thank you for taking time to provide your feedback on your Verto courses.&lt;/p&gt;&lt;p&gt;We value your contributions and will use the information you provide here to improve our courses and the Verto student experience for next semester.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This survey should take about 15 minutes to complete.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We&#39;ve asked for your name so we can follow up with you if need be, but student names will be removed before data is shared with professors. We encourage you to be honest and intentional with your feedback. Thank you!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Survey Outline:&lt;/p&gt;&lt;p&gt;Section 1. General Information&lt;/p&gt;&lt;p&gt;Section 2. Faculty Evaluation&lt;/p&gt;&lt;p&gt;Section 3. Course Evaluation&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Full_Name</name>
            <dataType>String</dataType>
            <fieldText>Full Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Program</name>
            <choiceReferences>programPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_choose_which_survey_you_will_be_completing_today</name>
            <choiceReferences>SurveyType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose which survey you will be completing today</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>courseIdTextList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>courseSurveyDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Response__c</objectType>
    </variables>
    <variables>
        <name>courseSurveyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Response__c</objectType>
    </variables>
    <variables>
        <name>finalCourseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
</Flow>
