unpackaged/main/default/flows/createAdditionalSemesterV2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignContactId</name>
        <label>AssignContactId</label>
        <locationX>468</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughContactRoles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the ClosedWonOppOwnerId equal to the running user&#39;s ID.</description>
        <name>setOppOwnerIdEqualToRunningUser</name>
        <label>setOppOwnerIdEqualToRunningUser</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ClosedWonOppOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewOpp_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ClosedWonOppOwnerId equal to the Enrollment Record Owner.</description>
        <name>setOppOwnerIdToEnrollmentOwner</name>
        <label>setOppOwnerIdToEnrollmentOwner</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ClosedWonOppOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEnrollmentRecord.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewOpp_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks to see if the Owner User of the Enrollment Record is Active and sets the ClosedWonOppOwnerId variable based upon the decision.</description>
        <name>isEnrollmentOwnerActive</name>
        <label>isEnrollmentOwnerActive</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>setOppOwnerIdEqualToRunningUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEnrollmentRecord.Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOppOwnerIdToEnrollmentOwner</targetReference>
            </connector>
            <label>isActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>STAGE</name>
        <label>STAGE</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>CreateNewOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OPEN</defaultConnectorLabel>
        <rules>
            <name>CLOSED_WON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOriginalOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEnrollmentRecord</targetReference>
            </connector>
            <label>CLOSED WON</label>
        </rules>
    </decisions>
    <formulas>
        <name>sixmonthsfromtoday</name>
        <dataType>Date</dataType>
        <expression>today() + 180</expression>
    </formulas>
    <interviewLabel>createAdditionalSemesterV2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createAdditionalSemesterV2</label>
    <loops>
        <name>LoopThroughContactRoles</name>
        <label>LoopThroughContactRoles</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <collectionReference>getContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContactId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateContactRole</name>
        <label>CreateContactRole</label>
        <locationX>468</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>LoopThroughContactRoles</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewOpp</name>
        <label>CreateNewOpp</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>newOppId</assignRecordIdToReference>
        <connector>
            <targetReference>LoopThroughContactRoles</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getOriginalOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>sixmonthsfromtoday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Additional Semester</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getOriginalOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Opp_Additional_Semester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Additional Semester</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewOpp_0</name>
        <label>CreateNewOpp</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>newOppId</assignRecordIdToReference>
        <connector>
            <targetReference>LoopThroughContactRoles</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getOriginalOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>sixmonthsfromtoday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Additional Semester</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ClosedWonOppOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Opp_Additional_Semester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Additional Semester</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>getContactRoles</name>
        <label>getContactRoles</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>STAGE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnrollmentRecord</name>
        <label>getEnrollmentRecord</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isEnrollmentOwnerActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOriginalOpp.Enrollment_Record__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOriginalOpp</name>
        <label>getOriginalOpp</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContactRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOriginalOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The ID for the owner of the newly created Additional Semester</description>
        <name>ClosedWonOppOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>tempContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>tempOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
