unpackaged/main/default/flows/createParent_ContactRole.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Parent_2_Default</name>
        <label>Parent 2 Default</label>
        <locationX>1289</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>Parent2Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_Parent_1_Contact_Exist</name>
        <label>Does Parent 1 Contact Exist?</label>
        <locationX>483</locationX>
        <locationY>848</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Parent_1_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent 1 Exists</defaultConnectorLabel>
        <rules>
            <name>No_Parent_1_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent1ContactID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_1_Contact</targetReference>
            </connector>
            <label>No Parent 1 Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_2_Contact_Exist</name>
        <label>Does Parent 2 Contact Exist?</label>
        <locationX>1180</locationX>
        <locationY>1377</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Parent_2_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent 2 Exists</defaultConnectorLabel>
        <rules>
            <name>No_Parent_2_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent2ContactID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_2_Contact</targetReference>
            </connector>
            <label>No Parent 2 Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_1_Last_Name_Populated</name>
        <label>Is Parent 1 Last Name Populated?</label>
        <locationX>468</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Is_Parent_2_Last_Name_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P1_Last_Name_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpp.Z_Parent_1_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpp.Z_Parent_1_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Parent_1_Contact</targetReference>
            </connector>
            <label>P1 Last Name &amp; Email</label>
        </rules>
        <rules>
            <name>P1_Last_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpp.Z_Parent_1_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_1_Contact</targetReference>
            </connector>
            <label>P1 Last Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_2_Last_Name_Populated</name>
        <label>Is Parent 2 Last Name Populated?</label>
        <locationX>910</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>Parent_2_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P2_Last_Name_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpp.Z_Parent_2_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpp.Z_Parent_2_Last_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpp.Z_Parent_2_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpp.Z_Parent_2_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Parent_2_Contact</targetReference>
            </connector>
            <label>P2 Last Name &amp; Email</label>
        </rules>
        <rules>
            <name>P2_Last_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpp.Z_Parent_2_Last_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpp.Z_Parent_2_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_2_Contact</targetReference>
            </connector>
            <label>P2 Last Name</label>
        </rules>
    </decisions>
    <description>Creates a parent contact record and an opportunity contact role</description>
    <interviewLabel>createParent&amp;ContactRole {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createParent&amp;ContactRole</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Parent_1_Contact</name>
        <label>Create Parent 1 Contact</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <assignRecordIdToReference>Parent1ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Parent_1_Opp_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpp.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>GetOpp.Z_Parent_1_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>GetOpp.Z_Parent_1_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>GetOpp.Z_Parent_1_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>GetOpp.Z_Parent_1_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Contact_ParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFMC_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_1_Opp_Contact_Role</name>
        <label>Create Parent 1 Opp Contact Role</label>
        <locationX>600</locationX>
        <locationY>1432</locationY>
        <connector>
            <targetReference>Is_Parent_2_Last_Name_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Parent1ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_2_Contact</name>
        <label>Create Parent 2 Contact</label>
        <locationX>1015</locationX>
        <locationY>1706</locationY>
        <assignRecordIdToReference>Parent2ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Parent_2_Opp_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>GetOpp.Z_Parent_2_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>GetOpp.Z_Parent_2_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>GetOpp.Z_Parent_2_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>GetOpp.Z_Parent_2_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Contact_ParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFMC_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_2_Opp_Contact_Role</name>
        <label>Create Parent 2 Opp Contact Role</label>
        <locationX>1218</locationX>
        <locationY>1963</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Parent2ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Parent_1_Contact</name>
        <label>Get Existing Parent 1 Contact</label>
        <locationX>481</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_1_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpp.Z_Parent_1_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Parent1ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Parent_2_Contact</name>
        <label>Get Existing Parent 2 Contact</label>
        <locationX>1141</locationX>
        <locationY>1037</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_2_Contact_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Parent_2_Default</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpp.Z_Parent_2_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Parent2ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOpp</name>
        <label>GetOpp</label>
        <locationX>474</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Parent_1_Last_Name_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Parent_1_Contact</name>
        <label>Update Existing Parent 1 Contact</label>
        <locationX>506</locationX>
        <locationY>1059</locationY>
        <connector>
            <targetReference>Create_Parent_1_Opp_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent1ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>GetOpp.Z_Parent_1_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>GetOpp.Z_Parent_1_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>GetOpp.Z_Parent_1_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Contact_ParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFMC_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Parent_2_Contact</name>
        <label>Update Existing Parent 2 Contact</label>
        <locationX>1377</locationX>
        <locationY>1687</locationY>
        <connector>
            <targetReference>Create_Parent_2_Opp_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent2ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>GetOpp.Z_Parent_2_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>GetOpp.Z_Parent_2_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetOpp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>GetOpp.Z_Parent_2_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Contact_ParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFMC_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>352</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOpp</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Parent1ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Parent2ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Parent2Default</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
