unpackaged/main/default/flows/Create_Parent_2_Contact_and_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Parent_2_Provided</name>
        <label>Parent 2 Provided?</label>
        <locationX>168</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_2_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_2_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_2_Contact</targetReference>
            </connector>
            <label>Yes Parent 2 Provided</label>
        </rules>
    </decisions>
    <description>This flow creates a parent contact and contact role when an opportunity is saved AND Parent 2 Last Name is provided.</description>
    <interviewLabel>Create Parent 2 Contact and Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Parent 2 Contact and Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Parent_2_Contact</name>
        <label>Create Parent 2 Contact</label>
        <locationX>403</locationX>
        <locationY>357</locationY>
        <assignRecordIdToReference>Parent2ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Parent_2_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Parent_2_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Parent_2_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Parent_2_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Parent_2_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123h000000HxDJAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFMC_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_2_Contact_Role</name>
        <label>Create Parent 2 Contact Role</label>
        <locationX>607</locationX>
        <locationY>356</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Parent2ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Parent_2_Provided</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Parent2ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
