unpackaged/main/default/flows/Create_Enrollment_Agreement_and_Welcome_Call_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>This determines if the student is a Change the World student via the Confirmed First Program field.</description>
        <name>Change_the_World_Student</name>
        <label>Change the World Student?</label>
        <locationX>3746</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Channel_Enrollment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CTW_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enrollment_Record.Z_Confirmed_First_Program__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1G3h000000i3nqEAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CTW_Student_Field</targetReference>
            </connector>
            <label>Yes, CTW Student</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision is based on if the Lead Source field is Channel Enrollment</description>
        <name>Channel_Enrollment</name>
        <label>Channel Enrollment?</label>
        <locationX>3746</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_s_a_Channel_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Channel_Partner</targetReference>
            </connector>
            <label>Yes, it&#39;s a Channel Enrollment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Channel_Partner</name>
        <label>Which Channel Partner</label>
        <locationX>2426</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Illinois_Institute_of_Technology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Illinois Tech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record</targetReference>
            </connector>
            <label>Illinois Institute of Technology</label>
        </rules>
        <rules>
            <name>The_University_of_South_Florida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>the University of South Florida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0</targetReference>
            </connector>
            <label>The University of South Florida</label>
        </rules>
        <rules>
            <name>The_University_of_Vermont</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>the University of Vermont</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0</targetReference>
            </connector>
            <label>The University of Vermont</label>
        </rules>
        <rules>
            <name>The_University_of_Tennessee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>the University of Tennessee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0</targetReference>
            </connector>
            <label>The University of Tennessee</label>
        </rules>
        <rules>
            <name>William_Mary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>William &amp; Mary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0</targetReference>
            </connector>
            <label>William &amp; Mary</label>
        </rules>
        <rules>
            <name>Berry_College</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Berry College</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0</targetReference>
            </connector>
            <label>Berry College</label>
        </rules>
        <rules>
            <name>Bucknell_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bucknell University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Bucknell University</label>
        </rules>
        <rules>
            <name>Denison_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denison University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Denison University</label>
        </rules>
        <rules>
            <name>High_Point_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Point University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>High Point University</label>
        </rules>
        <rules>
            <name>The_College_of_Idaho</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>the College of Idaho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>The College of Idaho</label>
        </rules>
        <rules>
            <name>St_Mary_s_College_of_Maryland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>St. Mary&#39;s College of Maryland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>St. Mary&#39;s College of Maryland</label>
        </rules>
        <rules>
            <name>The_University_of_Dayton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>the University of Dayton</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>The University of Dayton</label>
        </rules>
        <rules>
            <name>DePauw_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DePauw University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>DePauw University</label>
        </rules>
        <rules>
            <name>Roger_Williams_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roger Williams University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Roger Williams University</label>
        </rules>
        <rules>
            <name>Baylor_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baylor University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Baylor University</label>
        </rules>
        <rules>
            <name>Grinnell_College</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grinnell College</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Grinnell College</label>
        </rules>
        <rules>
            <name>Temple_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temple University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Temple University</label>
        </rules>
        <rules>
            <name>Binghampton_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Binghampton University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Binghampton University</label>
        </rules>
    </decisions>
    <description>This flow creates the Enrollment Record and Welcome Call task when an Opportunity&#39;s Stage is set to Closed Won (Deposit).</description>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Create Enrollment Agreement and Welcome Call Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Enrollment Record and Welcome Call Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Enrollment_Record</name>
        <label>Create Enrollment Record</label>
        <locationX>3746</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Get_Enrollment_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>CTW_Fall_Semester_Preference__c</field>
            <value>
                <elementReference>$Record.CTW_First_Semester__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_student_have_concerns__c</field>
            <value>
                <elementReference>$Record.Does_student_have_concerns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPA__c</field>
            <value>
                <elementReference>$Record.High_School_GPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_Level__c</field>
            <value>
                <elementReference>$Record.Interest_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <stringValue>0053h000002yvIQAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planning_on_using_FAFSA__c</field>
            <value>
                <elementReference>$Record.Fafsa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Account__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Any_Additional_Feedback_for_SS__c</field>
            <value>
                <elementReference>$Record.Additional_feedback_for_Student_Success__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_College_Planning_Process_Notes__c</field>
            <value>
                <elementReference>$Record.College_Planning_Process_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Confirmed_First_Program__c</field>
            <value>
                <elementReference>$Record.Confirmed_Program__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Confirmed_First_Semester__c</field>
            <value>
                <elementReference>$Record.Confirmed_Semester__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Text_First_Name__c</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_College_Counselor__c</field>
            <value>
                <elementReference>$Record.College_Counselor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_HS_Experience_Notes__c</field>
            <value>
                <elementReference>$Record.HS_Experience_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_First_Name__c</field>
            <value>
                <elementReference>$Record.Parent_1_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_Last_Name__c</field>
            <value>
                <elementReference>$Record.Parent_1_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_2_First_Name__c</field>
            <value>
                <elementReference>$Record.Parent_2_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_2_Last_Name__c</field>
            <value>
                <elementReference>$Record.Parent_2_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Student_s_Family_Support_Situation__c</field>
            <value>
                <elementReference>$Record.Student_Family_Support_Situation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Student_s_hobbies_or_interests__c</field>
            <value>
                <elementReference>$Record.Student_Hobbies_or_Interests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Text_Last_Name__c</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Thoughts_on_Major__c</field>
            <value>
                <elementReference>$Record.Thoughts_on_Major__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_What_drew_this_student_to_Verto__c</field>
            <value>
                <elementReference>$Record.What_drew_this_student_to_Verto__c</elementReference>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call_Task</name>
        <label>Create Welcome Call Task</label>
        <locationX>3746</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Enrollment_Record.Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Enrollment_Record</name>
        <label>Get Enrollment Record</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_the_World_Student</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Enrollment_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>If the Confirmed First Program is Change the World, this will update the CTW Student? field to Yes.</description>
        <name>Update_CTW_Student_Field</name>
        <label>Update CTW Student? Field</label>
        <locationX>3614</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Channel_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CTW_Student__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record</name>
        <label>Update Enrollment Record</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGKAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0</name>
        <label>Update Enrollment Record</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGKAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>578</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGMAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>842</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGLAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>1106</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGOAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>1370</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvFlAAL</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>1634</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvFmAAL</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>1898</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvFtAAL</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>2162</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvFxAAL</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>2426</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGPAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>2690</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGEAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>2954</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGRAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>3218</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvFuAAL</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>3482</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGCAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>4802</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>3746</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000KOe8rAAD</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>4010</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UVumpAAD</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>4274</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000UAvGGAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This step fills in the Channel Enrollment and Channel Partner fields on the Enrollment Record</description>
        <name>Update_Enrollment_Record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Enrollment Record</label>
        <locationX>4538</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Enrollment__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <stringValue>0013h00000KOeATAA1</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <start>
        <locationX>3620</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Enrollment_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won (Enrolled)</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
