unpackaged/main/default/flows/Enrollment_Form_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Account_Id_Validity</name>
        <label>Check Account Id Validity</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Program_Id_Validity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>$Record.Student_s_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Program_Id_Validity</name>
        <label>Check Program Id Validity</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_Input_Ids_Valid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>$Record.Program__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Program__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Are_Input_Ids_Valid</name>
        <label>Are Input Ids Valid?</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Invalid of Null Ids</defaultConnectorLabel>
        <rules>
            <name>Valid_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Account_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Program_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Program</targetReference>
            </connector>
            <label>Valid Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_or_Updated</name>
        <label>Is New or Updated?</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enrollment_Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Record__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Form_0</targetReference>
            </connector>
            <label>Enrollment Is Updated</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Id_Validity</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Override_Workflow</name>
        <label>Override Workflow?</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_or_Updated</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <description>netid2 error handling</description>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Enrollment Form Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Form Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetEnrollmentInfo</name>
        <label>GetEnrollmentInfo</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Enrollment_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enrollment_Id_FromSubflow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enrollment_Form</name>
        <label>Update Enrollment Form</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>updateEnrollmentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enrollment_Record__c</field>
            <value>
                <elementReference>GetEnrollmentInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Enrollment_Form_Name_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetEnrollmentInfo.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_s_Account__c</field>
            <value>
                <elementReference>$Record.Enrollment_Record__r.Student_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrollment_Form_0</name>
        <label>Update Enrollment Form</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>updateEnrollmentRecord_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Enrollment_Form_Name_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Enrollment_Record__r.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_s_Account__c</field>
            <value>
                <elementReference>$Record.Enrollment_Record__r.Student_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Enrollment_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEnrollmentRecord</name>
        <label>updateEnrollmentRecord</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enrollment_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Enrollment_Form_Submitted__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEnrollmentRecord_0</name>
        <label>updateEnrollmentRecord</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enrollment_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Enrollment_Form_Submitted__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Form_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Override_Workflow</targetReference>
        </connector>
        <object>Enrollment_Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Confirm_Program</name>
        <label>Confirm Program</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>GetEnrollmentInfo</targetReference>
        </connector>
        <flowName>Find_Enrollment_Record_with_Semester_Match_CampusGroups_Integration</flowName>
        <inputAssignments>
            <name>ProgramId</name>
            <value>
                <elementReference>$Record.Program__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentAccountId</name>
            <value>
                <elementReference>$Record.Student_s_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Enrollment_Id_FromSubflow</assignToReference>
            <name>EnrollmentRecordId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Enrollment_Form_Name_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.First_Name__c} {!$Record.Last_Name__c} - First Semester</text>
    </textTemplates>
    <variables>
        <name>Enrollment_Id_FromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
