unpackaged/main/default/flows/Enrollment_Record_New_Or_Program_Changed_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Shares the Application Record to the Appropriate Group</description>
        <name>ShareApplicationRecord</name>
        <label>ShareApplicationRecord</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>FlowRecordSharingUtils</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>deleteExistingSharingRecords</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accessFieldName</name>
            <value>
                <stringValue>AccessLevel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupField</name>
            <value>
                <stringValue>ParentId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shareSObjectName</name>
            <value>
                <stringValue>Application__Share</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ApplicationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>PublicGroupId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Determines if the required inputs are non-null/available before attempting to create a sharing record for the Application.</description>
        <name>CheckForNecessaryInputs</name>
        <label>CheckForNecessaryInputs</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Inputs_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PublicGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShareApplicationRecord</targetReference>
            </connector>
            <label>Required Inputs Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the record was newly created or if the Program was updated.</description>
        <name>checkIfCreatedOrProgramUpdated</name>
        <label>checkIfCreatedOrProgramUpdated</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Newly_Created_or_Program_Changed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPublicGroupId</targetReference>
            </connector>
            <label>Newly Created or Program Changed</label>
        </rules>
    </decisions>
    <description>Handles actions related to the Enrollment Record being created or changed, such as sharing Applications or other records related to the student for the Staff Portal.</description>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Enrollment Record - New Or Program Changed Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Record - New Or Program Changed Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the ID of the Application that is a child of the Enrollment Record&#39;s Account Lookup.</description>
        <name>getApplicationId</name>
        <label>getApplicationId</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForNecessaryInputs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_Account__c</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputAssignments>
            <assignToReference>ApplicationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIfCreatedOrProgramUpdated</targetReference>
        </connector>
        <object>Enrollment_Record__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>getPublicGroupId</name>
        <label>getPublicGroupId</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>getApplicationId</targetReference>
        </connector>
        <flowName>getPublicGroupFromProgram</flowName>
        <inputAssignments>
            <name>ProgramName</name>
            <value>
                <elementReference>$Record.Program__r.Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PublicGroupId</assignToReference>
            <name>GroupId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>The Application ID related to the Enrollment Record</description>
        <name>ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the corresponding Public Group</description>
        <name>PublicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
