unpackaged/main/default/flows/Enrollment_Record_Populate_Cancel_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Override_Flow</name>
        <label>Check Override Flow</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cancel_Date</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <description>This flow will auto populate the Date Canceled field if the status is changed to Canceled or Verto Cancel</description>
    <interviewLabel>Enrollment Record - Populate Cancel Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Record - Populate Cancel Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>This will auto populate the cancel date if status is changed</description>
        <name>Update_Cancel_Date</name>
        <label>Update Cancel Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Date_Cancel__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Override_Flow</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Enrollment_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Enrollment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Enrollment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verto Cancel</stringValue>
            </value>
        </filters>
        <object>Enrollment_Record__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
