unpackaged/main/default/flows/Five9_List_Manager_Lead_Scheduled_Callback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Override</name>
        <label>Override?</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Add_to_Five9_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Override_0</name>
        <label>Override?</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Delete_from_Five9_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Enables the lead to receive a scheduled dial in a Five9 outbound autodial campaign at the Scheduled Callback Date/Time. Cancels the scheduled dial if the Scheduled Callback Date/Time is cleared</description>
    <interviewLabel>Five9 List Manager - Lead - Scheduled Callback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Five9 List Manager - Lead - Scheduled Callback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_to_Five9_List</name>
        <label>Add to Five9 List</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Add_to_f9list_id__c</field>
            <value>
                <elementReference>Five9LeadListId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>f9callasap__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Delete_from_Five9_List</name>
        <label>Delete from Five9 List</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Delete_from_f9list_id__c</field>
            <value>
                <elementReference>Five9LeadListId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Override_0</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scheduled_Callback_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path</name>
            <connector>
                <targetReference>Override</targetReference>
            </connector>
            <label>Scheduled Path</label>
            <maxBatchSize>10</maxBatchSize>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Scheduled_Callback_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Five9LeadListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a3Y6S00000371fMUAQ</stringValue>
        </value>
    </variables>
</Flow>
