unpackaged/main/default/flows/Five9_List_Manager_Lead_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <constants>
        <description>This is the id of the Five9 lead list in production</description>
        <name>Five9LeadListId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a3Y6S00000371fMUAQ</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_To_List</name>
        <label>Add To List?</label>
        <locationX>275</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_To_Five9_List</name>
            <conditionLogic>1 and ((2 or 3 or 4) or (5 and 6)) and 7 and 8 and 9 and (10 or 11)</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Lead_TraditionalEnrollment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Nurture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadMarketingNurtureReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Responsive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadDoNotCall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadIsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Five9_List_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadScheduledCallbackDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadScheduledCallbackDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Five9_List1</targetReference>
            </connector>
            <label>Add To Five9 List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_with_Flow</name>
        <label>Proceed with Flow?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Pause_for_Five9_Order_of_Operations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Override_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Override = True</label>
        </rules>
    </decisions>
    <description>AAA 4/21/22 - Get rid of the &quot;remove from Five9&quot; route
Adds lead to and removes lead from the Five9 List, by way of the related Five9 campaign</description>
    <formulas>
        <name>TwoMinutesFromNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 2/1440</expression>
    </formulas>
    <interviewLabel>Five9 List Manager - Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Five9 List Manager - Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Five9_List_Item</name>
        <label>Get Five9 List Item</label>
        <locationX>275</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Five9LSP__Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Five9LSP__Five9_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Five9LeadListId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Add the lead to the Leads Five9 list, triggering the creation of a Five9 list item</description>
        <name>Add_to_Five9_List1</name>
        <label>Add to Five9 List</label>
        <locationX>143</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_to_f9list_id__c</field>
            <value>
                <elementReference>Five9LeadListId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Proceed_with_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadDoNotCall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadIsConverted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LeadMarketingNurtureReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadScheduledCallbackDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <waits>
        <description>This pause allows for the most recent data changes to sync to Five9 before the campaign member and five9 list item are deleted. Deleting the list item breaks the sync between Salesforce and Five9, so this must occur after the sync is complete.</description>
        <name>Pause_for_Five9_Order_of_Operations</name>
        <label>Pause for Five9 Order of Operations</label>
        <locationX>473</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>X2_Minute_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Five9_List_Item</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>TwoMinutesFromNow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>2 Minute Pause</label>
        </waitEvents>
    </waits>
</Flow>
