unpackaged/main/default/flows/Flight_Submission_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Account_Id_Validity</name>
        <label>Check Account Id Validity</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Program_Id_Validity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Program_Id_Validity</name>
        <label>Check Program Id Validity</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_Input_Ids_Valid</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Program__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>No_Additional_Flights</name>
        <choiceText>No, I do not have any additional flights.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Train</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Santa_Justa_Train_Station</name>
        <choiceText>Santa Justa Train Station</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Santa Justa Train Station</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_I_Have_a_2nd_Flight</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_I_Have_a_3rd_Flight</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Return_Flight_Available</name>
        <choiceText>Yes, I have return flight information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Train</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Input_Ids_Valid</name>
        <label>Are Input Ids Valid?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Handle_Missing_Enrollment_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid or Null Ids</defaultConnectorLabel>
        <rules>
            <name>Valid_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Account_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Program_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Program</targetReference>
            </connector>
            <label>Valid Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_student_have_a_return_flight</name>
        <label>Does the student have a return flight?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Additional_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Return Flight</defaultConnectorLabel>
        <rules>
            <name>Has_Return_Flight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Costa_Rica_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Returning_Flight_Information</targetReference>
            </connector>
            <label>Has Return Flight</label>
        </rules>
    </decisions>
    <description>Verbiage changes and added dynamic train arrival question</description>
    <formulas>
        <name>ArrivalTime_FirstLeg_Return_UTC</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Arrival_Time_First_Leg_Return}), 16)</expression>
    </formulas>
    <formulas>
        <name>ArrivalTime_FirstLeg_UTC</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Arrival_Time}), 16)</expression>
    </formulas>
    <formulas>
        <name>ArrivalTime_SecondLeg_Return_UTC</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Arrival_Time_Second_Leg_Return}), 16)</expression>
    </formulas>
    <formulas>
        <name>ArrivalTime_SecondLeg_UTC</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Arrival_Time_Second_Leg}), 16 )</expression>
    </formulas>
    <formulas>
        <name>ArrivalTime_ThirdLeg_Return_UTC</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Arrival_Time_Third_Leg_Return}), 16)</expression>
    </formulas>
    <formulas>
        <name>ArrivalTime_ThirdLeg_UTC</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Arrival_Time_Third_Leg}), 16)</expression>
    </formulas>
    <formulas>
        <name>Costa_Rica_Program</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!Get_Enrollment_Record.Program__r.Location__r.Name}, &#39;Costa Rica&#39;), true, false)</expression>
    </formulas>
    <formulas>
        <name>FirstLeg_ArrivalTime</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(ISNULL({!Arrival_Time_Second_Leg}), ISNULL({!Arrival_Time_Third_Leg}), OR({!Arrival_Time} &lt; {!Get_Enrollment_Record.Opportunity__r.Current_Program__r.Flight_Arrival_Window_Start__c}, {!Arrival_Time} &gt; {!Get_Enrollment_Record.Opportunity__r.Current_Program__r.Flight_Arrival_Window_End__c}
)),true, false )</expression>
    </formulas>
    <interviewLabel>Flight Submission Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flight Submission Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Flight_Record</name>
        <label>Create Flight Record</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignRecordIdToReference>Flight_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Itinerary</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Id_Log__c</field>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Information__c</field>
            <value>
                <elementReference>Do_you_have_any_additional_information_you_would_like_to_share_with_the_team_reg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Airport_Code_First_Leg__c</field>
            <value>
                <elementReference>Arrival_Airport_Code.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Airport_Code_Second_Leg__c</field>
            <value>
                <elementReference>Arrival_Airport_Code_Second_Leg.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Airport_Code_Third_Leg__c</field>
            <value>
                <elementReference>Arrival_Airport_Code_Third_Leg.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Time_First_Leg_UTC_Conversion__c</field>
            <value>
                <elementReference>ArrivalTime_FirstLeg_UTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Time_First_Leg__c</field>
            <value>
                <elementReference>Arrival_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Time_Second_Leg_UTC_Conversion__c</field>
            <value>
                <elementReference>ArrivalTime_SecondLeg_UTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Time_Second_Leg__c</field>
            <value>
                <elementReference>Arrival_Time_Second_Leg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Time_Third_Leg_UTC_Conversion__c</field>
            <value>
                <elementReference>ArrivalTime_ThirdLeg_UTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Time_Third_Leg__c</field>
            <value>
                <elementReference>Arrival_Time_Third_Leg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Airport_Code_First_Leg__c</field>
            <value>
                <elementReference>Departing_Airport_Code.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Airport_Code_Second_Leg__c</field>
            <value>
                <elementReference>Departing_Airport_Code_2nd_Leg.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Airport_Code_Third_Leg__c</field>
            <value>
                <elementReference>Departing_Airport_Code_Third_Leg.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Missing_Enrollment_Id__c</field>
            <value>
                <elementReference>Email_InputFromSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Record__c</field>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Number_First_Leg__c</field>
            <value>
                <elementReference>Flight_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Number_Second_Leg__c</field>
            <value>
                <elementReference>Flight_Number_Second_Leg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flight_Number_Third_Leg__c</field>
            <value>
                <elementReference>Flight_Number_Third_Leg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name_Missing_Enrollment_Id__c</field>
            <value>
                <elementReference>FullName_InputFromSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Id_Log__c</field>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Flights_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Arrival_Airport_Code_First_Leg__c</field>
            <value>
                <elementReference>Return_Flight_Arrival_Airport_Code.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Arrival_Airport_Code_Second_Leg__c</field>
            <value>
                <elementReference>Return_Flight_Arrival_Airport_Code_Second_Leg.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Arrival_Airport_Code_Third_Leg__c</field>
            <value>
                <elementReference>Return_Flight_Arrival_Airport_Code_Third_Leg.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Arrival_Time_First_Leg_UTC__c</field>
            <value>
                <elementReference>ArrivalTime_FirstLeg_Return_UTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Arrival_Time_First_Leg__c</field>
            <value>
                <elementReference>Arrival_Time_First_Leg_Return</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Arrival_Time_Second_Leg_UTC__c</field>
            <value>
                <elementReference>ArrivalTime_SecondLeg_Return_UTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Arrival_Time_Second_Leg__c</field>
            <value>
                <elementReference>Arrival_Time_Second_Leg_Return</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Arrival_Time_Third_Leg_UTC__c</field>
            <value>
                <elementReference>ArrivalTime_ThirdLeg_Return_UTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Arrival_Time_Third_Leg__c</field>
            <value>
                <elementReference>Arrival_Time_Third_Leg_Return</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Flight_Airport_Code_First_Leg__c</field>
            <value>
                <elementReference>Return_Flight_Airport_Code.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Flight_Airport_Code_Second_Leg__c</field>
            <value>
                <elementReference>Return_Flight_Airport_Code_Second_Leg.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Flight_Airport_Code_Third_Leg__c</field>
            <value>
                <elementReference>Return_Flight_Airport_Code_Third_Leg.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Flight_Number_First_Leg__c</field>
            <value>
                <elementReference>Flight_Number_First_Leg_Return</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Flight_Number_Second_Leg__c</field>
            <value>
                <elementReference>Flight_Number_Second_Leg_Return</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Flight_Number_Third_Leg__c</field>
            <value>
                <elementReference>Flight_Number_Third_Leg_Return</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Train_Arrival_Station__c</field>
            <value>
                <elementReference>Train_Arrival_Station</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Train_Arrival_Time__c</field>
            <value>
                <elementReference>Train_Arrival_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Flight__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Enrollment_Record</name>
        <label>Get Enrollment Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flight_Submission_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enrollment_Id_FromSubflow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flights_RT</name>
        <label>Get Flights RT</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Flight_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flights</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Additional_Information</name>
        <label>Additional Information</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Flights_RT</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_any_additional_information_you_would_like_to_share_with_the_team_reg</name>
            <fieldText>Do you have any additional information you would like to share with our Onsite Team regarding your flight and travel plans?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flight_Submission_Form</name>
        <label>Flight Submission Form</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_the_student_have_a_return_flight</targetReference>
        </connector>
        <fields>
            <name>Other_Program_Instructions</name>
            <fieldText>&lt;p&gt;Please complete the following flight form with your arrival and departure information.&lt;/p&gt;&lt;p&gt;Verto&#39;s Onsite Team will use this information to arrange your airport pick-up and transfer you to your housing accommodations when you arrive! Reach out to your Student Onboarding Advisor if you have any questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please add your departing flight information below. Start with your flight from your home destination to your program destination.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CostaRica_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(51, 51, 51);&quot;&gt;Your flight window for Costa Rica is January 24: 12:00pm-8:00pm local time&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Costa_Rica_Program</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Departing_Airport_Code</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Departure_Airport_Code_First_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Departing Airport Code - First Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Arrival_Airport_Code</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Arrival_Airport_Code_First_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Arrival Airport Code - First Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Flight_Number</name>
            <dataType>String</dataType>
            <fieldText>Flight Number (Ex: AA123, BA123) - First Leg</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;(Ex: AA123, BA123)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Arrival_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Arrival Date &amp; Time (as seen on itinerary) - First Leg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_an_additional_leg_on_your_flight_itinerary</name>
            <choiceReferences>No_Additional_Flights</choiceReferences>
            <choiceReferences>Yes_I_Have_a_2nd_Flight</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Additional_Flights</defaultSelectedChoiceReference>
            <fieldText>Do you have an additional leg on your flight itinerary?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Departing_Airport_Code_2nd_Leg</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Departure_Airport_Code_Second_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Departing Airport Code - Second Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Arrival_Airport_Code_Second_Leg</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Arrival_Airport_Code_Second_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Arrival Airport Code - Second Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_Number_Second_Leg</name>
            <dataType>String</dataType>
            <fieldText>Flight Number - Second Leg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Arrival_Time_Second_Leg</name>
            <dataType>DateTime</dataType>
            <fieldText>Arrival Date &amp; Time (as seen on itinerary) - Second Leg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_an_additional_leg_on_your_flight_itinerary_2</name>
            <choiceReferences>No_Additional_Flights</choiceReferences>
            <choiceReferences>Yes_I_Have_a_3rd_Flight</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Additional_Flights</defaultSelectedChoiceReference>
            <fieldText>Do you have an additional leg on your flight itinerary?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Departing_Airport_Code_Third_Leg</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Departure_Airport_Code_Third_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Departing Airport Code - Third Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_3rd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Arrival_Airport_Code_Third_Leg</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Arrival_Airport_Code_Third_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Arrival Airport Code - Third Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_3rd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_Number_Third_Leg</name>
            <dataType>String</dataType>
            <fieldText>Flight Number - Third Leg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_3rd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Arrival_Time_Third_Leg</name>
            <dataType>DateTime</dataType>
            <fieldText>Arrival Date &amp; Time (as seen on itinerary) - Third Leg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_3rd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Will_you_be_arriving_by_train</name>
            <choiceReferences>Yes_Train</choiceReferences>
            <choiceReferences>No_Train</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will you be arriving by train?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Enrollment_Record.Program_Location_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Spain</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_Submission_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_Submission_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Train_Arrival_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Train Arrival Date &amp; Time (as seen on itinerary)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_you_be_arriving_by_train</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Train</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_Submission_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Train_Arrival_Station</name>
                    <choiceReferences>Santa_Justa_Train_Station</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Santa_Justa_Train_Station</defaultSelectedChoiceReference>
                    <fieldText>Train Arrival Station</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_you_be_arriving_by_train</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Train</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Returning_Flight_Information</name>
        <label>Returning Flight Information</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Information</targetReference>
        </connector>
        <fields>
            <name>Return_Flight_DisplayInfo</name>
            <fieldText>&lt;p&gt;Please fill out your &lt;b&gt;RETURN &lt;/b&gt;flight information below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Return_Flight_Airport_Code</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Return_Flight_Airport_Code_First_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Return Flight Airport Code - First Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Return_Flight_Arrival_Airport_Code</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Return_Arrival_Airport_Code_First_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Return Flight Arrival Airport Code - First Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Flight_Number_First_Leg_Return</name>
            <dataType>String</dataType>
            <fieldText>Flight Number (Ex: AA123, BA123) - First Leg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Arrival_Time_First_Leg_Return</name>
            <dataType>DateTime</dataType>
            <fieldText>Arrival Date &amp; Time (as seen on itinerary) - First Leg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_an_additional_leg_on_your_flight_itinerary_return</name>
            <choiceReferences>No_Additional_Flights</choiceReferences>
            <choiceReferences>Yes_I_Have_a_2nd_Flight</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Additional_Flights</defaultSelectedChoiceReference>
            <fieldText>Do you have an additional leg on your flight itinerary?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Return_Flight_Airport_Code_Second_Leg</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Return_Flight_Airport_Code_Second_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Return Flight Airport Code - Second Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_return</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Return_Flight_Arrival_Airport_Code_Second_Leg</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Return_Arrival_Airport_Code_Second_Leg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Return Flight Arrival Airport Code - Second Leg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_return</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_Number_Second_Leg_Return</name>
            <dataType>String</dataType>
            <fieldText>Flight Number (Ex: AA123, BA123) - Second Leg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_return</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Arrival_Time_Second_Leg_Return</name>
            <dataType>DateTime</dataType>
            <fieldText>Arrival Date &amp; Time (as seen on itinerary) - Second Leg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_return</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_an_additional_leg_on_your_flight_itinerary_return_third_leg</name>
            <choiceReferences>No_Additional_Flights</choiceReferences>
            <choiceReferences>Yes_I_Have_a_3rd_Flight</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Additional_Flights</defaultSelectedChoiceReference>
            <fieldText>Do you have an additional leg on your flight itinerary?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_return</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_I_Have_a_2nd_Flight</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Returning_Flight_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Returning_Flight_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Return_Flight_Airport_Code_Third_Leg</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Return_Flight_Airport_Code_Third_Leg__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Return Flight Airport Code - Third Leg</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Flight__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_return_third_leg</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_I_Have_a_3rd_Flight</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Flight_Number_Third_Leg_Return</name>
                    <dataType>String</dataType>
                    <fieldText>Flight Number (Ex: AA123, BA123) - Third Leg</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_return_third_leg</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_I_Have_a_3rd_Flight</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Returning_Flight_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Return_Flight_Arrival_Airport_Code_Third_Leg</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Return Flight Arrival Airport Code - Third Leg</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Return_Arrival_Airport_Code_Third_Leg__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Flight__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_return_third_leg</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_I_Have_a_3rd_Flight</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Arrival_Time_Third_Leg_Return</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Arrival Date &amp; Time (as seen on itinerary) - Third Leg</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_have_an_additional_leg_on_your_flight_itinerary_return_third_leg</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_I_Have_a_3rd_Flight</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Itinerary</name>
        <label>Upload Itinerary</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>End_Flow</targetReference>
        </connector>
        <fields>
            <name>Display_Upload_Itinerary_Instructions</name>
            <fieldText>&lt;p&gt;Please upload copies of your flight itinerary. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When you see a green check box in the prompt window, the file has successfully uploaded. You will not see the files on the screen underneath.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .png, .pdf, .doc, .docx</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Flight_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Id_Validity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Confirm_Program</name>
        <label>Confirm Program</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Enrollment_Record</targetReference>
        </connector>
        <flowName>Find_Enrollment_Record_with_Semester_Match_CampusGroups_Integration</flowName>
        <inputAssignments>
            <name>ProgramId</name>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentAccountId</name>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Enrollment_Id_FromSubflow</assignToReference>
            <name>EnrollmentRecordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <flowName>RBC_Instructions</flowName>
        <inputAssignments>
            <name>ReleaseForm_Required_Input</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Missing_Enrollment_Id</name>
        <label>Handle Missing Enrollment Id</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Flight_Submission_Form</targetReference>
        </connector>
        <flowName>Handle_Missing_Enrollment_Id</flowName>
        <outputAssignments>
            <assignToReference>Email_InputFromSubflow</assignToReference>
            <name>Email_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FullName_InputFromSubflow</assignToReference>
            <name>Full_Name_Output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_InputFromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enrollment_Id_FromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flight_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flight_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flight__c</objectType>
    </variables>
    <variables>
        <name>FullName_InputFromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Program_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
