unpackaged/main/default/flows/Generate_or_Update_Welcome_Call_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>This checks to see if a Welcome Call Task was found.</description>
        <name>Does_Welcome_Call_Task_Exist</name>
        <label>Does Welcome Call Task Exist</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Welcome_Call_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, there is no Welcome Call Task</defaultConnectorLabel>
        <rules>
            <name>Yes_Welcome_Call_Task_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Welcome_Call_Task_Active</targetReference>
            </connector>
            <label>Yes, Welcome Call Task Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Welcome_Call_Task_Active</name>
        <label>Is Welcome Call Task Active</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No, it&#39;s been completed.</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ActivityStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActivityStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Welcome_Call_Task_Owner</targetReference>
            </connector>
            <label>Yes, it is Active</label>
        </rules>
    </decisions>
    <description>This Flow is triggered by the Process Builder Create Welcome Call Task and checks if a WC task already exists and if no creates on, if yes, it updates if it&#39;s still open.</description>
    <interviewLabel>Generate or Update Welcome Call Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate or Update Welcome Call Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Welcome_Call_Task</name>
        <label>Create Welcome Call Task</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EnrollmentRecordOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>EnrollmentRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>The action will look to see if the Enrollment Record has already had a Welcome Call task.</description>
        <name>Find_Existing_Welcome_Call_Task</name>
        <label>Find Existing Welcome Call Task</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Welcome_Call_Task_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>ActivityID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ActivityStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>This updates the Owner of the Welcome Call Task with the new Owner of the Enrollment Record.</description>
        <name>Update_Welcome_Call_Task_Owner</name>
        <label>Update Welcome Call Task Owner</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EnrollmentRecordOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Existing_Welcome_Call_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActivityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnrollmentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnrollmentRecordOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
