unpackaged/main/default/flows/Generate_Tuition_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Line_Item_to_Collection</name>
        <label>Assign Line Item to Collection</label>
        <locationX>440</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>LineItems_ForInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Line_item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products_to_Create_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Values_to_Line_Item</name>
        <label>Assign Product Values to Line Item</label>
        <locationX>440</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>Line_item.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products_to_Create_Line_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_item.bt_stripe__Sales_Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_item.bt_stripe__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products_to_Create_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_item.bt_stripe__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_item.bt_stripe__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products_to_Create_Line_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_item.bt_stripe__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prices.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Item_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_a_Tuition_Invoice_Exists</name>
        <label>Check if a Tuition Invoice Exists</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Gateway</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_There_is_Already_an_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>Handles Additional Semester trigger logic - Send EA Link

Set &#39;Prepared For&#39; contact fields to make sending Invoice via button easier.</description>
    <formulas>
        <name>SalesDocument_Tuition_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &#39; - &#39; + {!$Record.Current_Program__r.Name} + &#39; - Tuition&#39;</expression>
    </formulas>
    <interviewLabel>Generate Tuition Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Tuition Invoice</label>
    <loops>
        <name>Loop_Products_to_Create_Line_Items</name>
        <label>Loop Products to Create Line Items</label>
        <locationX>352</locationX>
        <locationY>1175</locationY>
        <collectionReference>Get_Tuition_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Prices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Line_Item</name>
        <label>Create Line Item</label>
        <locationX>352</locationX>
        <locationY>1751</locationY>
        <inputReference>LineItems_ForInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tuition_Sales_Document</name>
        <label>Create Tuition Sales Document</label>
        <locationX>352</locationX>
        <locationY>935</locationY>
        <assignRecordIdToReference>InvoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Tuition_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <stringValue>Tuition</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Sales_Document_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Bill_To__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Company__c</field>
            <value>
                <elementReference>Get_Company_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Contact__c</field>
            <value>
                <elementReference>Get_Student_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Currency_ISO__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Due_Date__c</field>
            <value>
                <elementReference>$Record.Current_Program__r.Semester__r.Tuition_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Email__c</field>
            <value>
                <elementReference>Get_Student_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Enabled_Payment_Methods__c</field>
            <value>
                <stringValue>Card;ACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Issue_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Payment_Gateway__c</field>
            <value>
                <elementReference>Get_Payment_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Subject__c</field>
            <value>
                <elementReference>SalesDocument_Tuition_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>bt_stripe__Sales_Document__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_If_There_is_Already_an_Invoice</name>
        <label>Check If There is Already an Invoice</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_a_Tuition_Invoice_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tuition</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Sales_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Company_Info</name>
        <label>Get Company Info</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Student_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verto Education</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Company__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Gateway</name>
        <label>Get Payment Gateway</label>
        <locationX>352</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Company_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>primary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Payment_Gateway__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prices</name>
        <label>Get Prices</label>
        <locationX>440</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Product_Values_to_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products_to_Create_Line_Items.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student_Contact</name>
        <label>Get Student Contact</label>
        <locationX>352</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Tuition_Sales_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Persona__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US High School Student</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tuition_Product</name>
        <label>Get Tuition Product</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Products_to_Create_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Current_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tuition</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_There_is_Already_an_Invoice</targetReference>
        </connector>
        <filterLogic>(1 AND 3) AND (2 OR 4)</filterLogic>
        <filters>
            <field>Current_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Student Acceptance</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send EA Link</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Line_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Line_Item__c</objectType>
    </variables>
    <variables>
        <name>LineItems_ForInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Line_Item__c</objectType>
    </variables>
</Flow>
