unpackaged/main/default/flows/Generate_Invoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Line_Item_Values</name>
        <label>Assign Line Item Values</label>
        <locationX>490</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>Line_Item.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Deposit_Product.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Item.bt_stripe__Sales_Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Item.bt_stripe__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Deposit_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Item.bt_stripe__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Item.bt_stripe__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Item.bt_stripe__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_PriceBook.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Contact_Collection</name>
        <label>Assign Parent Contact Collection</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>ParentContact_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Student_Contact_to_Variable</name>
        <label>Assign Student Contact to Variable</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>StudentContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Persona_for_Contact_Type</name>
        <label>Check Persona for Contact Type</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Student_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contacts.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US High School Student</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Student_Contact_to_Variable</targetReference>
            </connector>
            <label>Student Contact</label>
        </rules>
        <rules>
            <name>Parent_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contacts.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Contact_Collection</targetReference>
            </connector>
            <label>Parent Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Deposit_Sales_Document</name>
        <label>Is There a Deposit Sales Document?</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Gateway</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Deposit_Sales_Documents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type?</label>
        <locationX>402</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Additional</defaultConnectorLabel>
        <rules>
            <name>Traditional_or_Channel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traditional_Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel_Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Existing_Deposit_Sales_Documents</targetReference>
            </connector>
            <label>Traditional or Channel</label>
        </rules>
    </decisions>
    <description>TEH 4/25/2022 - Creates Deposit Invoices on Opportunity creation (excludes additional semester)

Removed emails (handled by CIO) and removed any reference to Additional Semester

Populates Transaction Paylink on the Opportunity
Populates &quot;Prepared For&quot; contact fields to more easily send the Invoice manually if required.
Updated trigger so it can handle checking record types. Also added logic to check for existing Deposit Sales Documents.
Pulls deposit due date from Semester__c</description>
    <formulas>
        <name>EnrollmentAgreement_URL</name>
        <dataType>String</dataType>
        <expression>&#39;https://vertoeducation.formstack.com/forms/deposit_ea_2021_copy?oid=&#39; + {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Invoice_DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>SalesDocument_Deposit_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &#39; - Deposit&#39;</expression>
    </formulas>
    <interviewLabel>Generate Invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Deposit Invoice &amp; Enrollment Agreement Form</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_All_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Persona_for_Contact_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Deposit_Sales_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Deposit_Sales_Document</name>
        <label>Create Deposit Sales Document</label>
        <locationX>490</locationX>
        <locationY>1607</locationY>
        <assignRecordIdToReference>InvoiceID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Deposit_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Sales_Document_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Bill_To__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Company__c</field>
            <value>
                <elementReference>Get_Company_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Contact__c</field>
            <value>
                <elementReference>StudentContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Currency_ISO__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Due_Date__c</field>
            <value>
                <elementReference>$Record.Current_Program__r.Semester__r.Deposit_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Email__c</field>
            <value>
                <elementReference>StudentContact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Enabled_Payment_Methods__c</field>
            <value>
                <stringValue>Card;ACH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Issue_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Payment_Gateway__c</field>
            <value>
                <elementReference>Get_Payment_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Subject__c</field>
            <value>
                <elementReference>SalesDocument_Deposit_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>bt_stripe__Sales_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Line_Item</name>
        <label>Create Line Item</label>
        <locationX>490</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Get_SalesDocument</targetReference>
        </connector>
        <inputReference>Line_Item</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>490</locationX>
        <locationY>2327</locationY>
        <assignRecordIdToReference>TransactionId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>bt_stripe__Amount__c</field>
            <value>
                <elementReference>Get_SalesDocument.bt_stripe__Balance_Due_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Description__c</field>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Payment_Gateway__c</field>
            <value>
                <elementReference>Get_Payment_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Receipt_Email__c</field>
            <value>
                <elementReference>$Record.Account.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Sales_Document__c</field>
            <value>
                <elementReference>Get_SalesDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <object>bt_stripe__Transaction__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Deposit_Sales_Documents</name>
        <label>Check for Existing Deposit Sales Documents</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_a_Deposit_Sales_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Sales_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Contacts</name>
        <label>Get All Related Contacts</label>
        <locationX>490</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Company_Info</name>
        <label>Get Company Info</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verto Education</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Company__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deposit_Product</name>
        <label>Get Deposit Product</label>
        <locationX>490</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_PriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Gateway</name>
        <label>Get Payment Gateway</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Company_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>primary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Payment_Gateway__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_PriceBook</name>
        <label>Get Price - PriceBook</label>
        <locationX>490</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Line_Item_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Deposit_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SalesDocument</name>
        <label>Get SalesDocument</label>
        <locationX>490</locationX>
        <locationY>2207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Sales_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction</name>
        <label>Get Transaction</label>
        <locationX>490</locationX>
        <locationY>2447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransactionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>490</locationX>
        <locationY>2567</locationY>
        <inputAssignments>
            <field>Deposit_Paylink_URL__c</field>
            <value>
                <elementReference>Get_Transaction.bt_paylink__PayLink__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EnrollmentAgreement_EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!EnrollmentAgreement_URL}</text>
    </textTemplates>
    <textTemplates>
        <name>EnrollmentAgreement_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Account.Name} - Please Sign Your Enrollment Agreement Form</text>
    </textTemplates>
    <textTemplates>
        <name>Invoice_Template_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!StudentContact.Name},

We are excited to have you join us here at Verto! Please click on the link below to pay your deposit for your upcoming semester in {!$Record.Current_Program__r.Name}.

{!Get_Transaction.bt_paylink__PayLink__c}

Kind regards,

Verto Education</text>
    </textTemplates>
    <textTemplates>
        <name>Invoice_Template_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoice {!Get_SalesDocument.bt_stripe__Name__c} - {!Get_SalesDocument.bt_stripe__Subject__c} Due: {!Get_SalesDocument.bt_stripe__Due_Date__c}</text>
    </textTemplates>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>Contact_Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Sales_Document__c</objectType>
    </variables>
    <variables>
        <name>InvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Line_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ParentContact_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>StudentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
