unpackaged/main/default/flows/Handle_Missing_Enrollment_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Data_for_Output</name>
        <label>Assign Data for Output</label>
        <locationX>176</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>Full_Name_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailInput.value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Changed email text field to Email field type</description>
    <interviewLabel>Handle Missing Enrollment Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Missing Enrollment Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>176</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Data_for_Output</targetReference>
        </connector>
        <fields>
            <name>Display_Error_Message</name>
            <fieldText>&lt;p&gt;There is an issue connecting your form information with your enrollment record. Please enter your Full Name &amp;amp; Email below so we can ensure your form is submitted successfully:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Full_Name</name>
            <dataType>String</dataType>
            <fieldText>First and Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailInput</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Display_Error</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Email_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Handles fault messages from parent flows</description>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Test</stringValue>
        </value>
    </variables>
    <variables>
        <name>Full_Name_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
