unpackaged/main/default/flows/Health_Form_Mental_Health_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Accommodation_Email_Fall</name>
        <label>Send Accommodation Email Fall</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AccommodationEmailBodyFall</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jennifer.mitchell@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>gina.duttle@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AccommodationEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends email to Verto Accommodation Manager</description>
        <name>Send_Accommodation_Email_Spr</name>
        <label>Send Accommodation Email Spr</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AccommodationEmailBodySpr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jennifer.mitchell@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>gina.duttle@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AccommodationEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>This will send the email notification with a link to the Spring 2022 Report</description>
        <name>Send_Notification_Fall22</name>
        <label>Send Notification Fall22</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Requested_formal_accommodations_Spring</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MentalHealthNotificationBodyFall22</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>james.lorello@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>gina.duttle@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MentalHealthNotificationSubjectF22</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>This will send the email notification with a link to the Spring 2022 Report</description>
        <name>Send_Notification_Spr22</name>
        <label>Send Notification Spr22</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Requested_formal_accommodations_Fall</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MentalHealthNotificationBodySpring22</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>beth.warsof@vertoeducation.org, james.lorello@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>gina.duttle@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MentalHealthNotificationSubjectSpr22</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Override</name>
        <label>Override</label>
        <locationX>1320</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Override_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Enrollment_Record</targetReference>
            </connector>
            <label>Override = False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_formal_accommodations_Fall</name>
        <label>Requested formal accommodations?</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Formal_Accommodations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Accommodation_Email_Spr</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_formal_accommodations_Spring</name>
        <label>Requested formal accommodations?</label>
        <locationX>710</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Fall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Formal_Accommodations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Accommodation_Email_Fall</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Entered_Mental_Health_Disclosure</name>
        <label>User Entered Mental Health Disclosure?</label>
        <locationX>1007</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Receiving_Treatment_for_Mental_Health__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None of the above</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_semester_is_this_for</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_semester_is_this_for</name>
        <label>Which semester is this for?</label>
        <locationX>644</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spring_2022</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSemester.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a003h000008swYDAAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_Spr22</targetReference>
            </connector>
            <label>Spring 2022</label>
        </rules>
        <rules>
            <name>Fall_2022</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSemester.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a003h000008swYEAAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_Fall22</targetReference>
            </connector>
            <label>Fall 2022</label>
        </rules>
    </decisions>
    <description>This flow will trigger an email notification to specific users if a user has submitted a new health form with mental health disclosure.</description>
    <interviewLabel>Health Form - Mental Health Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Health Form - Mental Health Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Enrollment_Record</name>
        <label>Get Enrollment Record</label>
        <locationX>1007</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProgram</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enrollment_Record__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProgram</name>
        <label>GetProgram</label>
        <locationX>1007</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSemester</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Program__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSemester</name>
        <label>GetSemester</label>
        <locationX>1007</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Entered_Mental_Health_Disclosure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProgram.Semester__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Semester__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1194</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Override</targetReference>
        </connector>
        <object>Health_Form__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AccommodationEmailBodyFall</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.First_Name__c} {!$Record.Last_Name__c} plans to request formal accommodations for (Mental Health) on their &lt;a href=&quot;https://vertoeducation.lightning.force.com/lightning/r/Health_Form__c/%7B!$Record.Id%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Health History Form&lt;/a&gt; for {!$Record.Enrollment_Record__r.Program__r.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This entry has been added to the report and can be viewed &lt;/span&gt;&lt;a href=&quot;https://vertoeducation.lightning.force.com/lightning/r/Report/00O6S000007srzvUAA/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please login to review this record and follow up accordingly.&lt;/p&gt;&lt;p&gt;https://vertoeducation.lightning.force.com/lightning/r/Health_Form__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AccommodationEmailBodySpr</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.First_Name__c} {!$Record.Last_Name__c} plans to request formal accommodations for (Mental Health) on their &lt;a href=&quot;https://vertoeducation.lightning.force.com/lightning/r/Health_Form__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Health History Form&lt;/a&gt; for {!$Record.Enrollment_Record__r.Program__r.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This entry has been added to the report and can be viewed &lt;/span&gt;&lt;a href=&quot;https://vertoeducation.lightning.force.com/lightning/r/Report/00O6S000007smKIUAY/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please login to review this record and follow up accordingly.&lt;/p&gt;&lt;p&gt;https://vertoeducation.lightning.force.com/lightning/r/Health_Form__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AccommodationEmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Enrollment_Record__r.Program__r.Name} - Plan to Request Formal Accommodations for (Mental Health) has been submitted by: {!$Record.First_Name__c} {!$Record.Last_Name__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MentalHealthNotificationBodyFall22</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.First_Name__c} {!$Record.Last_Name__c} has submitted an entry for Receiving Treatment for (Mental Health) on their Health History Form for {!$Record.Enrollment_Record__r.Program__r.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This entry has been added to the report and can be viewed &lt;a href=&quot;https://vertoeducation.lightning.force.com/lightning/r/Report/00O6S000007srzvUAA/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please login to review this record and follow up accordingly.&lt;/p&gt;&lt;p&gt;https://vertoeducation.lightning.force.com/lightning/r/Health_Form__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MentalHealthNotificationBodySpring22</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.First_Name__c} {!$Record.Last_Name__c} has submitted an entry for Receiving Treatment for (Mental Health) on their Health History Form for {!$Record.Enrollment_Record__r.Program__r.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This entry has been added to the report and can be viewed &lt;a href=&quot;https://vertoeducation.lightning.force.com/lightning/r/Report/00O6S000007smKIUAY/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please login to review this record and follow up accordingly.&lt;/p&gt;&lt;p&gt;https://vertoeducation.lightning.force.com/lightning/r/Health_Form__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MentalHealthNotificationSubjectF22</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Enrollment_Record__r.Program__r.Name} - New Entry of Receiving Treatment for (Mental Health) has been submitted by: {!$Record.First_Name__c} {!$Record.Last_Name__c}</text>
    </textTemplates>
    <textTemplates>
        <name>MentalHealthNotificationSubjectSpr22</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Enrollment_Record__r.Program__r.Name} - New Entry of Receiving Treatment for (Mental Health) has been submitted by: {!$Record.First_Name__c} {!$Record.Last_Name__c}</text>
    </textTemplates>
    <variables>
        <description>Input for receiving treatment for mental health</description>
        <name>Mental_Health_Options</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Health_Form__c</objectType>
    </variables>
</Flow>
