unpackaged/main/default/flows/Housing_Preference_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Check_Account_Id_Validity</name>
        <label>Check Account Id Validity</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Program_Id_Validity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Program_Id_Validity</name>
        <label>Check Program Id Validity</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_Input_Ids_Valid</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Program__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Housing_Preference_Id_to_Enrollment_Record</name>
        <label>Assign Housing Preference Id to Enrollment Record</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Get_Enrollment_Record.Housing_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Preference_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Housing_Values</name>
        <label>Assign_Housing_Values</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Sex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_your_biological_sex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Gender_Identity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_most_closely_describes_your_gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Quiet_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_am_a_quiet_person_I_prefer_to_keep_the_door_closed_and_not_have_guests_in_my_r</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Neat_and_Tidy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_am_a_neat_and_tidy_person_and_like_my_room_to_be_clean</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Roommate_Wakes_Early__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_am_comfortable_living_with_a_person_who_gets_up_early</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Roommate_Stays_Up_Late__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_am_comfortable_living_with_a_roommate_who_stays_up_late</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Prefer_Limited_Distractions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Studying</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Faithful_and_Conservative_Values__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Faithful_and_Conservative_Values_Buttons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Additional_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.LGBTQ_Roommate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_would_be_a_good_roommate_to_a_person_who_identifies_as_LGBTQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Non_Binary_Roommate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_would_be_a_good_roommate_to_a_person_who_identifies_as_trans_or_non_binary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Enrollment_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Full_Name_Missing_Enrollment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FullName_Output</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Email_Missing_Enrollment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Output</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Account_Id_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Program_Id_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Housing_Preference_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Preference_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Housing_Preference_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Preference_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.I_feel_comfortable_living_with__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_feel_comfortable_living_with</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Smoker_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_would_feel_comfortable_living_with</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Pet_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_feel_comfortable_living_with_pets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Pet_allergies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_pet_allergies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Pet_allergies_explain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_explain_your_pet_allergies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Special_dietary_requirements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_special_dietary_requirements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.Special_dietary_requirements_explain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_list_any_dietary_requirements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Housing_Preference_Record.What_religion_do_you_practice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>what_religion_do_you_practice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Housing_Preference</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Default</name>
        <choiceText>Default</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Housing_Option_Selected</elementReference>
        </value>
    </choices>
    <choices>
        <name>Homestay</name>
        <choiceText>Homestay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homestay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Homestay_Students_will_be_paired_with_another_Verto_student_to_live_with_a_local</name>
        <choiceText>Homestay - Students will be paired with another Verto student to live with a local family. Will be around a 15-20 minute walk to where classes are held</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homestay - Students will be paired with another Verto student to live with a local family. Will be around a 15-20 minute walk to where classes are held</stringValue>
        </value>
    </choices>
    <choices>
        <name>pet</name>
        <choiceText>pet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>pet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residencia2</name>
        <choiceText>Residencia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residencia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residencia_Students_will_live_in_double_or_triple_occupancy_rooms_with_other_Ver</name>
        <choiceText>Residencia - Students will live in double or triple occupancy rooms with other Verto students. Will be around a 30-40 minutes walk or 20-25 minutes via public transportation to the study center.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residencia - Students will live in double or triple occupancy rooms with other Verto students. Will be around a 30-40 minutes walk or 20-25 minutes via public transportation to the study center.</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Input_Ids_Valid</name>
        <label>Are Input Ids Valid?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Handle_Missing_Enrollment_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid or Null Ids</defaultConnectorLabel>
        <rules>
            <name>Valid_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Account_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Program_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Program</targetReference>
            </connector>
            <label>Valid Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Input_Ids_Valid_0</name>
        <label>Are Input Ids Valid?</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>End_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid or Null Ids</defaultConnectorLabel>
        <rules>
            <name>Valid_Ids_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Account_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Program_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Housing_Preference_Id_to_Enrollment_Record</targetReference>
            </connector>
            <label>Valid Ids</label>
        </rules>
    </decisions>
    <decisions>
        <description>Any student going to Spain should require a student to list the order of their housing preferences.</description>
        <name>Program_Location</name>
        <label>Program Location</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Lifestyle_Preferences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enrollment_Record.Program_Location_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Housing_Preferences</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Argentina</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enrollment_Record.Program_Location_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Argentina</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Homestay_Questions</targetReference>
            </connector>
            <label>Argentina</label>
        </rules>
    </decisions>
    <description>Added dynamic Homestay questions</description>
    <dynamicChoiceSets>
        <name>Dietary_Requirements</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Special_dietary_requirements__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Early_Bird</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Roommate_Wakes_Early__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Faithful_and_Conservative_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Faithful_and_Conservative_Values__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Family_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>I_feel_comfortable_living_with__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Gender_Identity__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LGBTQ_Roommate_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>LGBTQ_Roommate__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Neat_and_Tidy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Neat_and_Tidy__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Night_Owl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Roommate_Stays_Up_Late__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NonBinary_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Non_Binary_Roommate__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pet_Allergies</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Pet_allergies__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pet_Preference</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Pet_Preference__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Quiet_Person</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Quiet_Person__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sex</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Sex__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Smoker_Preference</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Smoker_Preference__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Studying_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Prefer_Limited_Distractions__c</picklistField>
        <picklistObject>Housing_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Checks if option has already been selected</description>
        <name>Housing_Option_Selected</name>
        <dataType>String</dataType>
        <expression>IF( {!Housing_Preference_1} = &quot;Homestay&quot;, &quot;Residencia&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Housing Preference Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Housing Preference Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Housing_Preference</name>
        <label>Create Housing Preference</label>
        <locationX>314</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Are_Input_Ids_Valid_0</targetReference>
        </connector>
        <inputReference>Housing_Preference_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Enrollment_Record</name>
        <label>Get Enrollment Record</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Personal_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enrollment_Id_FromSubflow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enrollment_Record</name>
        <label>Update Enrollment Record</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>End_Flow</targetReference>
        </connector>
        <inputReference>Get_Enrollment_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Additional_Information_Requests</name>
        <label>Additional Information &amp; Requests</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Housing_Values</targetReference>
        </connector>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Please list any additional information you would like to share with your future roommate and/or onsite staff: (example: I love dogs, I hate electronic dance music, this is my first time traveling, etc.)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>314</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>checkbox</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://vertoeducation--qa--c.documentforce.com/sfc/servlet.shepherd/version/download/0688M000000DlDA?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>End_Flow_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Your form has been submitted!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You may now close this window.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://vertoeducation.campusgroups.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;b&gt;Back to Student Portal&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Homestay_Questions</name>
        <label>Homestay Questions</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lifestyle_Preferences</targetReference>
        </connector>
        <fields>
            <name>I_feel_comfortable_living_with</name>
            <choiceReferences>Family_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I feel comfortable living with: (multi-select)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_would_feel_comfortable_living_with</name>
            <choiceReferences>Smoker_Preference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would feel comfortable living with: (multi-select)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_feel_comfortable_living_with_pets</name>
            <choiceReferences>Pet_Preference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I feel comfortable living with: (multi-select)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_any_pet_allergies</name>
            <choiceReferences>Pet_Allergies</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have any pet allergies?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_explain_your_pet_allergies</name>
            <fieldText>Please list all of your pet allergies:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_any_pet_allergies</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_any_special_dietary_requirements</name>
            <choiceReferences>Dietary_Requirements</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have any special dietary requirements?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_list_any_dietary_requirements</name>
            <fieldText>Please list any dietary requirements:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_any_special_dietary_requirements</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>what_religion_do_you_practice</name>
            <dataType>String</dataType>
            <fieldText>With the sole objective of finding the best match for you, what religion do you practice?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Housing_Preferences</name>
        <label>Housing Preferences</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Homestay_Questions</targetReference>
        </connector>
        <fields>
            <name>Preferences_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please choose your preferences for the following housing options in Seville.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Homestay1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Homestay&lt;/b&gt; - Participants will be paired with another Verto student to live with a local family. Will be around a 15-20 minute walk to where classes are held&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Residencia1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Residencia&lt;/b&gt; - &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Participants&lt;/span&gt; will live in double or triple occupancy rooms with other Verto participants. Will be around a 30-40 minutes walk or 20-25 minutes via public transportation to the study center.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Housing_Preferences_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_Preferences_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Preference_1</name>
                    <choiceReferences>Homestay</choiceReferences>
                    <choiceReferences>Residencia2</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>First Choice</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_Preferences_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Preference_2</name>
                    <choiceReferences>Homestay</choiceReferences>
                    <choiceReferences>Residencia2</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Housing_Option_Selected</elementReference>
                    </defaultValue>
                    <fieldText>Second Choice</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lifestyle_Preferences</name>
        <label>Lifestyle Preferences</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Study_Habits_Personal_Reflection</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(51, 51, 51);&quot;&gt;Reflect on each statement and select which response applies most to you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_am_a_quiet_person_I_prefer_to_keep_the_door_closed_and_not_have_guests_in_my_r</name>
            <choiceReferences>Quiet_Person</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I am a quiet person - I prefer to keep the door closed and not have guests in my room.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_am_a_neat_and_tidy_person_and_like_my_room_to_be_clean</name>
            <choiceReferences>Neat_and_Tidy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I am a neat and tidy person and like my room to be clean.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_am_comfortable_living_with_a_person_who_gets_up_early</name>
            <choiceReferences>Early_Bird</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I am comfortable living with a person who gets up early.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_am_comfortable_living_with_a_roommate_who_stays_up_late</name>
            <choiceReferences>Night_Owl</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I am comfortable living with a roommate who stays up late.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Personal_Information</name>
        <label>Personal Information</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Program_Location</targetReference>
        </connector>
        <fields>
            <name>What_is_your_biological_sex</name>
            <choiceReferences>Sex</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your biological sex?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_most_closely_describes_your_gender</name>
            <choiceReferences>Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which most closely describes your gender?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Study_Habits_Personal_Reflection</name>
        <label>Study Habits &amp; Personal Reflection</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Information_Requests</targetReference>
        </connector>
        <fields>
            <name>Studying</name>
            <choiceReferences>Studying_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When studying, I prefer limited noise and distractions (music, visitors, etc.) in the room.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Faithful_and_Conservative_Values_Buttons</name>
            <choiceReferences>Faithful_and_Conservative_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I am devout in my faith and spiritual beliefs and have traditional, conservative values.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_would_be_a_good_roommate_to_a_person_who_identifies_as_LGBTQ</name>
            <choiceReferences>LGBTQ_Roommate_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would be a good roommate to a person who identifies as LGBTQ+</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_would_be_a_good_roommate_to_a_person_who_identifies_as_trans_or_non_binary</name>
            <choiceReferences>NonBinary_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would be a good roommate to a person who identifies as trans or non-binary.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Id_Validity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Confirm_Program</name>
        <label>Confirm Program</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Enrollment_Record</targetReference>
        </connector>
        <flowName>Find_Enrollment_Record_with_Semester_Match_CampusGroups_Integration</flowName>
        <inputAssignments>
            <name>ProgramId</name>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentAccountId</name>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Enrollment_Id_FromSubflow</assignToReference>
            <name>EnrollmentRecordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Missing_Enrollment_Id</name>
        <label>Handle Missing Enrollment Id</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Personal_Information</targetReference>
        </connector>
        <flowName>Handle_Missing_Enrollment_Id</flowName>
        <inputAssignments>
            <name>Error</name>
            <value>
                <elementReference>Error</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Email_Output</assignToReference>
            <name>Email_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FullName_Output</assignToReference>
            <name>Full_Name_Output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enrollment_Id_FromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FullName_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Housing_Preference_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Housing_Preference__c</objectType>
    </variables>
    <variables>
        <name>Program_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
