unpackaged/main/default/flows/JBSystemFlow_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj42d20849a48c1db3e81b6822d4be9d98_FireJBTrigger</name>
        <label>SalesforceObj42d20849a48c1db3e81b6822d4be9d98_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj42d20849a48c1db3e81b6822d4be9d98</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514007218</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;OwnerId&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Source__c&quot;,&quot;LeadSource&quot;,&quot;Parent_1_Email__c&quot;,&quot;Parent_2_Email__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Parent_1_First_Name__c&quot;,&quot;Parent_2_First_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Lead:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Calendly_Link__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_FireJBTrigger</name>
        <label>SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj42d20849a48c1db3e81b6822d4be9d98</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj42d20849a48c1db3e81b6822d4be9d98</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514007218</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Application__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Associated_Application__r&quot;,&quot;dePrefix&quot;:&quot;Lead:Associated_Application__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Year_of_High_School_Graduation__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;OwnerId&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Lead:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj42d20849a48c1db3e81b6822d4be9d98</name>
        <label>JB_Decision_Null_Check_SalesforceObj42d20849a48c1db3e81b6822d4be9d98</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5</name>
        <label>JB_Decision_Null_Check_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj42d20849a48c1db3e81b6822d4be9d98</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_Decision</name>
        <label>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj42d20849a48c1db3e81b6822d4be9d98</name>
            <conditionLogic>( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Grinnell-Verto Global Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Grinnell College</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj42d20849a48c1db3e81b6822d4be9d98_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj42d20849a48c1db3e81b6822d4be9d98</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_State_change_Decision</name>
        <label>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj42d20849a48c1db3e81b6822d4be9d98</name>
            <conditionLogic>NOT  ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Grinnell-Verto Global Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Grinnell College</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj42d20849a48c1db3e81b6822d4be9d98_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj42d20849a48c1db3e81b6822d4be9d98</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_Decision</name>
        <label>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj42d20849a48c1db3e81b6822d4be9d98</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND  (5 OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Associated_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Channel Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0123h000000VHZDAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_State_change_Decision</name>
        <label>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj42d20849a48c1db3e81b6822d4be9d98</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND  (5 OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Associated_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Channel Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0123h000000VHZDAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj6f60ce00b6c4bcdddd621ef8df773eb5</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
