unpackaged/main/default/flows/LeadConverted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_App_Collection</name>
        <label>Add to App Collection</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>AppCollectionForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Related_Apps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Related_Apps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>578</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Related_Apps.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_App_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verto is the record type used for student accounts</description>
        <name>Does_Account_RT_Student</name>
        <label>Does Account RT = Student?</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_Account_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_RT_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecordType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Account_Verto</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_1</targetReference>
            </connector>
            <label>Account RT &lt;&gt; Student</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_RT_Student</name>
        <label>Does Contact RT = Student?</label>
        <locationX>490</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Get_Converted_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_RT_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Contact_Student</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_RT_Student</targetReference>
            </connector>
            <label>Contact RT &lt;&gt; Student</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Record_Type</name>
        <label>Opp Record Type?</label>
        <locationX>490</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Get_Apps_Related_to_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Apps_Related_to_Lead</targetReference>
            </connector>
            <label>No Opp</label>
        </rules>
        <rules>
            <name>Already_Traditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Lead_TraditionalEnrollment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Opp.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Opp_TraditionalEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_1</targetReference>
            </connector>
            <label>Already Traditional</label>
        </rules>
        <rules>
            <name>Update_to_Traditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Lead_TraditionalEnrollment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Opp.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Opp_TraditionalEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_2</targetReference>
            </connector>
            <label>Update to Traditional</label>
        </rules>
        <rules>
            <name>Already_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Lead_ChannelEnrollment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Opp.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Opp_ChannelEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_3</targetReference>
            </connector>
            <label>Already Channel</label>
        </rules>
        <rules>
            <name>Update_to_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Lead_ChannelEnrollment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Opp.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Opp_ChannelEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_4</targetReference>
            </connector>
            <label>Update to Channel</label>
        </rules>
    </decisions>
    <description>When a student lead is converted, set the corresponding record types for the opp, account and contact, set the opportunity Owner and  Tier 1 Owner, set the Account lookup field on all related applications, and launch flow to create parent contacts</description>
    <interviewLabel>LeadConverted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadConverted</label>
    <loops>
        <name>Loop_through_Related_Apps</name>
        <label>Loop through Related Apps</label>
        <locationX>490</locationX>
        <locationY>1766</locationY>
        <collectionReference>Get_Apps_Related_to_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_App_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Apps_Related_to_Lead</name>
        <label>Get Apps Related to Lead</label>
        <locationX>490</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Related_Apps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_App</name>
        <label>Get Associated App</label>
        <locationX>490</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update_Parent_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Associated_Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Account</name>
        <label>Get Converted Account</label>
        <locationX>490</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_RT_Student</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>490</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_RT_Student</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Opp</name>
        <label>Get Converted Opp</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>490</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converted_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Contact_RT_Student</name>
        <label>Set Contact RT = Student</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Converted_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Contact_Student</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_1</name>
        <label>Update Account 1</label>
        <locationX>358</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Account_Verto</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_2</name>
        <label>Update Account 2</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_App_Collection</name>
        <label>Update App Collection</label>
        <locationX>490</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Get_Associated_App</targetReference>
        </connector>
        <inputReference>AppCollectionForUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_1</name>
        <label>Update Opp 1</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_Apps_Related_to_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_1_Owner__c</field>
            <value>
                <elementReference>Get_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_2</name>
        <label>Update Opp 2</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_Apps_Related_to_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Admitted_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Opp_TraditionalEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_1_Owner__c</field>
            <value>
                <elementReference>Get_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_3</name>
        <label>Update Opp 3</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_Apps_Related_to_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_1_Owner__c</field>
            <value>
                <elementReference>Get_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_4</name>
        <label>Update Opp 4</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_Apps_Related_to_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Qualified_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Opp_ChannelEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_1_Owner__c</field>
            <value>
                <elementReference>Get_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Don&#39;t pass through student contact info. Only parent</description>
        <name>Create_or_Update_Parent_Contacts</name>
        <label>Create or Update Parent Contacts</label>
        <locationX>490</locationX>
        <locationY>2462</locationY>
        <flowName>createOrUpdateContact</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Lead.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowLaunchedByLeadConversion</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>Get_Lead.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1Email</name>
            <value>
                <elementReference>Get_Associated_App.Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1FirstName</name>
            <value>
                <elementReference>Get_Associated_App.Parent_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1LastName</name>
            <value>
                <elementReference>Get_Associated_App.Parent_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1Phone</name>
            <value>
                <elementReference>Get_Associated_App.Parent_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent2Email</name>
            <value>
                <elementReference>Get_Associated_App.Parent_Guardian_2_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent2FirstName</name>
            <value>
                <elementReference>Get_Associated_App.Parent_Guardian_2_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent2LastName</name>
            <value>
                <elementReference>Get_Associated_App.Parent_Guardian_2_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent2Phone</name>
            <value>
                <elementReference>Get_Associated_App.Parent_Guardian_2_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentEmail</name>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentFirstName</name>
            <value>
                <elementReference>Get_Lead.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentLastName</name>
            <value>
                <elementReference>Get_Lead.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentPhone</name>
            <value>
                <elementReference>Get_Lead.Phone</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AccountRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Collection of apps ready for update</description>
        <name>AppCollectionForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>ContactRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
