unpackaged/main/default/flows/Lead_Input_Postal_Code_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <description>This Flow is triggered by Process Builder Lead - Postal Code Input Automation</description>
    <interviewLabel>Lead - Input Postal Code Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Input Postal Code Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This action finds the Postal Code record matching the Zip Code on the Lead and stores all data.</description>
        <name>Find_Postal_Code_Record</name>
        <label>Find Postal Code Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_With_Postal_Code_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadZipCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Postal_Code__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This action updates the city, state, zip code, and time zone fields based on what&#39;s on the matching Postal Code record.</description>
        <name>Update_Lead_With_Postal_Code_Data</name>
        <label>Update Lead With Postal Code Data</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Find_Postal_Code_Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Find_Postal_Code_Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>Find_Postal_Code_Record.Time_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Postal_Code_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
