unpackaged/main/default/flows/Lead_Status_Date_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>this decision checks if the Lead Status was set.</description>
        <name>Was_Lead_Status_Set</name>
        <label>Was Lead Status Set</label>
        <locationX>1568</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_was_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Status_was_Lead_Set_to</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Status was Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision looks at what the status was set to on the lead.</description>
        <name>Which_Status_was_Lead_Set_to</name>
        <label>Which Status was Lead Set to</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_New_Lead_Date</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Attempted_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempted Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Attempted_Contact_Date</targetReference>
            </connector>
            <label>Attempted Contact</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Contact_Date</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Application_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Application_Pending_Date</targetReference>
            </connector>
            <label>Application Pending</label>
        </rules>
        <rules>
            <name>Application_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Application_Complete_Date</targetReference>
            </connector>
            <label>Application Complete</label>
        </rules>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Converted_Date</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
        <rules>
            <name>Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Unqualified_Date</targetReference>
            </connector>
            <label>Unqualified</label>
        </rules>
    </decisions>
    <description>This flow checks if the Lead Status was set, and if so follows logic to input the appropriate date tracking information.</description>
    <formulas>
        <description>This formula input today&#39;s date (i.e. the date the flow is taking action).</description>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Lead Status Change Date Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Status Date Tracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Input_Application_Complete_Date</name>
        <label>Input Application Complete Date</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Input_New_Lead_Date_If_Blank_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Complete_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Complete_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Complete_Date_If_Blank</name>
        <label>Input Application Complete Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Complete_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Complete_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Pending_Date</name>
        <label>Input Application Pending Date</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Input_New_Lead_Date_If_Blank_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Pending_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Pending_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Pending_Date_If_Blank</name>
        <label>Input Application Pending Date - If Blank</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Pending_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Pending_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Pending_Date_If_Blank_0</name>
        <label>Input Application Pending Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Input_Application_Complete_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Pending_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Pending_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the Attempted Contact Date is blank, this puts in today&#39;s date.</description>
        <name>Input_Attempted_Contact_Date</name>
        <label>Input Attempted Contact Date</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Input_New_Lead_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attempted_Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attempted_Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the Attempted Contact Date field is blank, input today&#39;s date.</description>
        <name>Input_Attempted_Contact_Date_If_Blank</name>
        <label>Input Attempted Contact Date - If Blank</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attempted_Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attempted_Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the Attempted Contact Date field is blank, input today&#39;s date.</description>
        <name>Input_Attempted_Contact_Date_If_Blank_0</name>
        <label>Input Attempted Contact Date - If Blank</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Input_Contact_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attempted_Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attempted_Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the Attempted Contact Date field is blank, input today&#39;s date.</description>
        <name>Input_Attempted_Contact_Date_If_Blank_0_0</name>
        <label>Input Attempted Contact Date - If Blank</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Input_Contact_Date_If_Blank_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attempted_Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attempted_Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the Attempted Contact Date field is blank, input today&#39;s date.</description>
        <name>Input_Attempted_Contact_Date_If_Blank_0_0_0</name>
        <label>Input Attempted Contact Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Input_Contact_Date_If_Blank_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attempted_Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attempted_Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>This updates the Contact Date if it is blank</description>
        <name>Input_Contact_Date</name>
        <label>Input Contact Date</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Input_New_Lead_Date_If_Blank_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>This updates the Contact Date if it is blank</description>
        <name>Input_Contact_Date_If_Blank</name>
        <label>Input Contact Date - If Blank</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>This updates the Contact Date if it is blank</description>
        <name>Input_Contact_Date_If_Blank_0</name>
        <label>Input Contact Date - If Blank</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Input_Application_Pending_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>This updates the Contact Date if it is blank</description>
        <name>Input_Contact_Date_If_Blank_0_0</name>
        <label>Input Contact Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Input_Application_Pending_Date_If_Blank_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Converted_Date</name>
        <label>Input Converted Date</label>
        <locationX>1370</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Input_New_Lead_Date_If_Blank_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Convert_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Convert_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the New Lead Date field is blank, input today&#39;s date.</description>
        <name>Input_New_Lead_Date</name>
        <label>Input New Lead Date</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_New_Lead_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_New_Lead_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the New Lead Date field is blank, input today&#39;s date.</description>
        <name>Input_New_Lead_Date_If_Blank</name>
        <label>Input New Lead Date - If Blank</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_New_Lead_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_New_Lead_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the New Lead Date field is blank, input today&#39;s date.</description>
        <name>Input_New_Lead_Date_If_Blank_0</name>
        <label>Input New Lead Date - If Blank</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Input_Attempted_Contact_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_New_Lead_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_New_Lead_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the New Lead Date field is blank, input today&#39;s date.</description>
        <name>Input_New_Lead_Date_If_Blank_0_0</name>
        <label>Input New Lead Date - If Blank</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Input_Attempted_Contact_Date_If_Blank_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_New_Lead_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_New_Lead_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the New Lead Date field is blank, input today&#39;s date.</description>
        <name>Input_New_Lead_Date_If_Blank_0_0_0</name>
        <label>Input New Lead Date - If Blank</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Input_Attempted_Contact_Date_If_Blank_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_New_Lead_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_New_Lead_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>If the New Lead Date field is blank, input today&#39;s date.</description>
        <name>Input_New_Lead_Date_If_Blank_0_0_0_0</name>
        <label>Input New Lead Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Input_Attempted_Contact_Date_If_Blank_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_New_Lead_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_New_Lead_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Unqualified_Date</name>
        <label>Input Unqualified Date</label>
        <locationX>1634</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unqualified_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Unqualified_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Lead_Status_Set</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
