unpackaged/main/default/flows/Migrate_Accommodations_to_Most_Recent_Enrollment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>New_Accommodation_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Duplicate_Accommodation_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Accommodation_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Enrollment_Record_That_Triggered_Flow</name>
        <label>Assign to Enrollment Record That Triggered Flow</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Duplicate_Accommodation_Records.Enrollment_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_there_are_related_Enrollment_Records</name>
        <label>Check if there are related Enrollment Records</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Related Enrollment Records</defaultConnectorLabel>
        <rules>
            <name>Related_Enrollment_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Enrollment_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Accommodation_Records</targetReference>
            </connector>
            <label>Related Enrollment Records</label>
        </rules>
    </decisions>
    <interviewLabel>Migrate Accommodations to Most Recent Enrollment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate Accommodations to Most Recent Enrollment Record</label>
    <loops>
        <name>Duplicate_Accommodation_Records</name>
        <label>Duplicate Accommodation Records</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Related_Accommodation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Enrollment_Record_That_Triggered_Flow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Duplicated_Accommodations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Duplicated_Accommodations</name>
        <label>Create Duplicated Accommodations</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>New_Accommodation_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Accommodation_Records</name>
        <label>Get Related Accommodation Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Accommodation_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrollment_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Enrollment_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Accommodation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Enrollment_Records</name>
        <label>Get Related Enrollment Records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_related_Enrollment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Enrollment_Records</targetReference>
        </connector>
        <object>Enrollment_Record__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>New_Accommodation_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accommodation__c</objectType>
    </variables>
</Flow>
