unpackaged/main/default/flows/New_or_Updated_Enrollment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_1_Week_Check_In_to_Collection</name>
        <label>Add 1 Week Check-In to Collection</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Checkpoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>x1WeekCheckIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_3_Week_Check_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_3_Week_Check_In_to_Collection</name>
        <label>Add 3 Week Check-In to Collection</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Checkpoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>x3WeekCheckIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_6_Week_Check_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_6_Week_Check_In_to_Collection</name>
        <label>Add 6 Week Check-In to Collection</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>Checkpoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>x6WeekCheckIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Parent_1_Week</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Parent_1_Week_Check_In_to_Collection</name>
        <label>Add Parent 1 Week Check-In to Collection</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Checkpoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Parent1Week</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Parent_4_Week</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Parent_4_Week_Check_In_to_Collection</name>
        <label>Add Parent 4 Week Check-In to Collection</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Checkpoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Parent4Week</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Checkpoint_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Welcome_Call_to_Collection</name>
        <label>Add Welcome Call to Collection</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>Checkpoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WelcomeCall</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_1_Week_Check_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_1_Week_Check_In</name>
        <label>Create 1 Week Check-In</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>x1WeekCheckIn.Enrollment_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>x1WeekCheckIn.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x1WeekLater</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>x1WeekCheckIn.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 Week Check-In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>x1WeekCheckIn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_Week_Check_In_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_3_Week_Check_In</name>
        <label>Create 3 Week Check-In</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>x3WeekCheckIn.Enrollment_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>x3WeekCheckIn.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x3WeeksLater</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>x3WeekCheckIn.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3 Week Check-In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>x3WeekCheckIn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_3_Week_Check_In_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_6_Week_Check_In</name>
        <label>Create 6 Week Check-In</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>x6WeekCheckIn.Enrollment_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>x6WeekCheckIn.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x6WeeksLater</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>x6WeekCheckIn.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6 Week Check-In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>x6WeekCheckIn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_6_Week_Check_In_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Parent_1_Week</name>
        <label>Create Parent 1 Week</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Parent1Week.Enrollment_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent1Week.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x1WeekLater</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent1Week.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent 1 Week Check-in</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent1Week.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parent_1_Week_Check_In_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Parent_4_Week</name>
        <label>Create Parent 4 Week</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Parent4Week.Enrollment_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent4Week.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x4WeeksLater</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent4Week.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent 4 Week Check-in</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent4Week.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parent_4_Week_Check_In_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Welcome_Call_Checkpoint</name>
        <label>Create Welcome Call Checkpoint</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>WelcomeCall.Enrollment_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WelcomeCall.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x3DaysLater</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WelcomeCall.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WelcomeCall.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Welcome_Call_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Enrollment_Record_Status</name>
        <label>Determine Enrollment Record Status</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrew</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verto Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closed_Checkpoints</targetReference>
            </connector>
            <label>Status = ~Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision based upon if the enrollment record is new or updated.</description>
        <name>New_or_Updated_Enrollment_Record</name>
        <label>New or Updated Enrollment Record</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Determine_Enrollment_Record_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated Record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Welcome_Call_Checkpoint</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Workflow/Flow should be disregarded/overridden.</description>
        <name>Override_Workflow</name>
        <label>Override Workflow</label>
        <locationX>545</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Override = True</defaultConnectorLabel>
        <rules>
            <name>Override_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_or_Updated_Enrollment_Record</targetReference>
            </connector>
            <label>Override = False</label>
        </rules>
    </decisions>
    <formulas>
        <description>Determines if Record is new.</description>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Date value for 1 Week after Flow call date.</description>
        <name>x1WeekLater</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <description>Date value for 3 Days after Flow call date.</description>
        <name>x3DaysLater</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <description>Date value for 3 Weeks after Flow call date.</description>
        <name>x3WeeksLater</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 21</expression>
    </formulas>
    <formulas>
        <description>Date value for 4 Weeks after Flow call date.</description>
        <name>x4WeeksLater</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 28</expression>
    </formulas>
    <formulas>
        <name>x6WeeksLater</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 42</expression>
    </formulas>
    <interviewLabel>New or Updated Enrollment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New or Updated Enrollment Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Checkpoint_Records</name>
        <label>Insert Checkpoint Records</label>
        <locationX>50</locationX>
        <locationY>1991</locationY>
        <inputReference>Checkpoints</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Closed_Checkpoints</name>
        <label>Update Closed Checkpoints</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrollment_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed - System Admin</stringValue>
            </value>
        </inputAssignments>
        <object>Checkpoint__c</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Override_Workflow</targetReference>
        </connector>
        <object>Enrollment_Record__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Checkpoint Records for Insertion or Update</description>
        <name>Checkpoints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Checkpoint__c</objectType>
    </variables>
    <variables>
        <name>Parent1Week</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checkpoint__c</objectType>
    </variables>
    <variables>
        <name>Parent4Week</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checkpoint__c</objectType>
    </variables>
    <variables>
        <description>RecordId</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <description>Welcome Call Checkpoint</description>
        <name>WelcomeCall</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checkpoint__c</objectType>
    </variables>
    <variables>
        <name>x1WeekCheckIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checkpoint__c</objectType>
    </variables>
    <variables>
        <name>x3WeekCheckIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checkpoint__c</objectType>
    </variables>
    <variables>
        <name>x6WeekCheckIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checkpoint__c</objectType>
    </variables>
</Flow>
