unpackaged/main/default/flows/New_Withdrawal_Request_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Account_Id_Validity</name>
        <label>Check Account Id Validity</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Program_Id_Validity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Program_Id_Validity</name>
        <label>Check Program Id Validity</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_Input_Ids_Valid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>$Record.Program__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Program__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Are_Input_Ids_Valid</name>
        <label>Are Input Ids Valid?</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Invalid or Null Ids</defaultConnectorLabel>
        <rules>
            <name>Valid_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Account_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Program_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Program</targetReference>
            </connector>
            <label>Valid Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_or_Updated</name>
        <label>Is New or Updated?</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enrollment_Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Record__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactRecord_0</targetReference>
            </connector>
            <label>Enrollment Is Updated</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Id_Validity</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <description>netid2 error handling</description>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>New Withdrawal Request Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Withdrawal Request Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>314</locationX>
        <locationY>1415</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetEnrollmentRecord.Student_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The student has submitted the Semester Withdrawal Form. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Record__c</field>
            <value>
                <elementReference>GetEnrollmentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>GetEnrollmentRecord.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetEnrollmentRecord.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Case_Withdrawal_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Student Withdrawal Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Withdrawal Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_Intent_Stated_to_Staff__c</field>
            <value>
                <elementReference>$Record.Internal_Staff_Notified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_Reasoning__c</field>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCase_0</name>
        <label>CreateCase</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Enrollment_Record__r.Student_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The student has submitted the Semester Withdrawal Form. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Record__c</field>
            <value>
                <elementReference>$Record.Enrollment_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Enrollment_Record__r.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Enrollment_Record__r.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Case_Withdrawal_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Student Withdrawal Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Withdrawal Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_Intent_Stated_to_Staff__c</field>
            <value>
                <elementReference>$Record.Internal_Staff_Notified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_Reasoning__c</field>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateEnrollmentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContactRecord_0</name>
        <label>GetContactRecord</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Withdrawal_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetEnrollmentRecord</name>
        <label>GetEnrollmentRecord</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Withdrawal_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enrollment_Id_FromSubflow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Withdrawal_Form</name>
        <label>Update Withdrawal Form</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>UpdateEnrollmentRecord_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Enrollment_Record__r.Student_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Withdrawal_Request</name>
        <label>Update Withdrawal Request</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Enrollment_Record__c</field>
            <value>
                <elementReference>GetEnrollmentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEnrollmentRecord</name>
        <label>UpdateEnrollmentRecord</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEnrollmentRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Withdrawal_Form_Submitted__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEnrollmentRecord_0</name>
        <label>UpdateEnrollmentRecord</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>CreateCase_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enrollment_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Withdrawal_Form_Submitted__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_or_Updated</targetReference>
        </connector>
        <object>Withdrawal_Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Confirm_Program</name>
        <label>Confirm Program</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>GetEnrollmentRecord</targetReference>
        </connector>
        <flowName>Find_Enrollment_Record_with_Semester_Match_CampusGroups_Integration</flowName>
        <inputAssignments>
            <name>ProgramId</name>
            <value>
                <elementReference>$Record.Program__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentAccountId</name>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Enrollment_Id_FromSubflow</assignToReference>
            <name>EnrollmentRecordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Enrollment_Id_FromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
