unpackaged/main/default/flows/New_Opportunity_Fast_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Override</name>
        <label>Override?</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type?</label>
        <locationX>506</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Traditional_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Opp_TraditionalEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Five9_List_1</targetReference>
            </connector>
            <label>Traditional Enrollment</label>
        </rules>
        <rules>
            <name>Channel_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Opp_ChannelEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_2</targetReference>
            </connector>
            <label>Channel Enrollment</label>
        </rules>
        <rules>
            <name>Additional_Semester</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Opp_Additional_Semester</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Five9_List_3</targetReference>
            </connector>
            <label>Additional Semester</label>
        </rules>
    </decisions>
    <description>Flow created for fast field updates only. Sets the college counselor, and adds to the Five9 opportunities list</description>
    <interviewLabel>New Opportunity - Fast Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Opportunity - Fast Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Five9_List_1</name>
        <label>Get Five9 List 1</label>
        <locationX>110</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunities</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Five9_List_3</name>
        <label>Get Five9 List 3</label>
        <locationX>638</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunities</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_1</name>
        <label>Update Opp 1</label>
        <locationX>110</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Add_to_f9list_id__c</field>
            <value>
                <elementReference>Get_Five9_List_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>College_Counselor__c</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_2</name>
        <label>Update Opp 2</label>
        <locationX>374</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>College_Counselor__c</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_3</name>
        <label>Update Opp 3</label>
        <locationX>638</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Add_to_f9list_id__c</field>
            <value>
                <elementReference>Get_Five9_List_3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Override</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123h000000VHZHAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123h000000VHZEAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123h000000dLSLAA2</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
