unpackaged/main/default/flows/New_Application_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_AutoConvertLeads</name>
        <label>Call AutoConvertLeads</label>
        <locationX>809</locationX>
        <locationY>3191</locationY>
        <actionName>AutoConvertLeads</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_CE_Approval_Process_Criminal</name>
        <label>Submit to CE Approval Process - Criminal</label>
        <locationX>1898</locationX>
        <locationY>2663</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CE_Approval_Process_Criminal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_CE_Approval_Process_Primary</name>
        <label>Submit to CE Approval Process - Primary</label>
        <locationX>1634</locationX>
        <locationY>2663</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CE_Approval_Process_Primary</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist?</label>
        <locationX>429</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Get_Unconverted_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Criminal_Conviction_No</name>
        <label>Does Criminal Conviction = No?</label>
        <locationX>1766</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>Submit_to_CE_Approval_Process_Criminal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Criminal Conviction = Yes</defaultConnectorLabel>
        <rules>
            <name>Criminal_Conviction_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Criminal_Conviction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_CE_Approval_Process_Primary</targetReference>
            </connector>
            <label>Criminal Conviction = No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Exist?</label>
        <locationX>809</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lead</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingLeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Lead</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Owner_Active</name>
        <label>Is Lead Owner Active?</label>
        <locationX>633</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Reassign_Existing_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Owner Inactive</defaultConnectorLabel>
        <rules>
            <name>Lead_Owner_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadOwnerActiveStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attach_Lead_to_App</targetReference>
            </connector>
            <label>Lead Owner is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Override_Workflow_False</name>
        <label>Is Override Workflow False?</label>
        <locationX>1860</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Override Workflow = True</defaultConnectorLabel>
        <rules>
            <name>Override_Workflow_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_App_Record_Type</targetReference>
            </connector>
            <label>Override Workflow = False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Qualification_Requirements</name>
        <label>Meets Qualification Requirements?</label>
        <locationX>809</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>Unqualify_or_Manually_Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Qualified</defaultConnectorLabel>
        <rules>
            <name>Source_KIPP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KIPP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_AutoConvertLeads</targetReference>
            </connector>
            <label>Source = KIPP</label>
        </rules>
        <rules>
            <name>Qualified_1_1_6_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppDateIsToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppDateIsJan1toJun14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboveMinAgeThisYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BelowMaxAgeThisYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GPAQualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disciplinary_Violation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Criminal_Conviction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_AutoConvertLeads</targetReference>
            </connector>
            <label>Qualified 1/1 - 6/14</label>
        </rules>
        <rules>
            <name>Qualified_11_1_12_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppDateIsToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppDateIsNov11toDec31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboveMinAgeNextYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BelowMaxAgeNextYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GPAQualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disciplinary_Violation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Criminal_Conviction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_AutoConvertLeads</targetReference>
            </connector>
            <label>Qualified 11/1 - 12/31</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unqualify_or_Manually_Approve</name>
        <label>Unqualify or Manually Approve?</label>
        <locationX>1304</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Lead_Status_In_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual Approval Needed</defaultConnectorLabel>
        <rules>
            <name>Too_Old</name>
            <conditionLogic>(1 and 2) or (3 and 4)</conditionLogic>
            <conditions>
                <leftValueReference>AppDateIsJan1toJun14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BelowMaxAgeThisYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppDateIsNov11toDec31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BelowMaxAgeNextYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unqualify_Too_Old</targetReference>
            </connector>
            <label>Too Old</label>
        </rules>
        <rules>
            <name>Too_Young</name>
            <conditionLogic>(1 and 2) or (3 and 4)</conditionLogic>
            <conditions>
                <leftValueReference>AppDateIsJan1toJun14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboveMinAgeThisYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppDateIsNov11toDec31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboveMinAgeNextYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unqualify_Too_Young</targetReference>
            </connector>
            <label>Too Young</label>
        </rules>
        <rules>
            <name>Low_GPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GPAUnqualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unqualify_Low_GPA</targetReference>
            </connector>
            <label>Low GPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_App_Record_Type</name>
        <label>What is App Record Type?</label>
        <locationX>1295</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Application_ChannelEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_App_Name</targetReference>
            </connector>
            <label>Channel</label>
        </rules>
    </decisions>
    <description>Route new applications to the matching contact or lead and run the auto-qualification process for channel leads</description>
    <formulas>
        <name>AboveMinAgeNextYear</name>
        <dataType>Boolean</dataType>
        <expression>if( date(year(today()) + 1, 8, 20) - {!$Record.Date_of_Birth__c} &gt;= 6205, true, false)</expression>
    </formulas>
    <formulas>
        <name>AboveMinAgeThisYear</name>
        <dataType>Boolean</dataType>
        <expression>if( date(year(today()), 8, 20) - {!$Record.Date_of_Birth__c} &gt;= 6205, true, false)</expression>
    </formulas>
    <formulas>
        <description>True if Application Date = Jan 1st through Jun 14th</description>
        <name>AppDateIsJan1toJun14</name>
        <dataType>Boolean</dataType>
        <expression>if(
and(
month(datevalue({!$Record.Application_Date_Time__c})) &gt;= 1,
month(datevalue({!$Record.Application_Date_Time__c})) &lt;= 6,
or(
and(
month(datevalue({!$Record.Application_Date_Time__c})) = 6,
day(datevalue({!$Record.Application_Date_Time__c})) &lt;= 14
),
month(datevalue({!$Record.Application_Date_Time__c})) &lt;&gt; 6
)
), true, false
)</expression>
    </formulas>
    <formulas>
        <description>True if Application Date = Nov 1st through Dec 31st</description>
        <name>AppDateIsNov11toDec31</name>
        <dataType>Boolean</dataType>
        <expression>if(
and(
month(datevalue({!$Record.Application_Date_Time__c})) &gt;= 11,
month(datevalue({!$Record.Application_Date_Time__c})) &lt;= 12
), true, false
)</expression>
    </formulas>
    <formulas>
        <name>AppDateIsToday</name>
        <dataType>Boolean</dataType>
        <expression>if(datevalue({!$Record.Application_Date_Time__c}) = today(), true, false)</expression>
    </formulas>
    <formulas>
        <name>AppNamingConvention</name>
        <dataType>String</dataType>
        <expression>if(
not(isblank({!$Record.University__r.Name})),
{!$Record.Applicant_First_Name__c} + &quot; &quot; + {!$Record.Applicant_Last_Name__c} + &quot; - &quot; + text(datevalue({!$Record.Application_Date_Time__c})) + &quot; - Channel - &quot; + {!$Record.University__r.Name},

{!$Record.Applicant_First_Name__c} + &quot; &quot; + {!$Record.Applicant_Last_Name__c} + &quot; - &quot; + text(datevalue({!$Record.Application_Date_Time__c})) + &quot; - Channel&quot;)</expression>
    </formulas>
    <formulas>
        <name>BelowMaxAgeNextYear</name>
        <dataType>Boolean</dataType>
        <expression>if( date(year(today()) + 1, 12, 15) - {!$Record.Date_of_Birth__c} &lt; 8395, true, false)</expression>
    </formulas>
    <formulas>
        <name>BelowMaxAgeThisYear</name>
        <dataType>Boolean</dataType>
        <expression>if( date(year(today()), 12, 15) - {!$Record.Date_of_Birth__c} &lt; 8395, true, false)</expression>
    </formulas>
    <formulas>
        <name>FinalLeadID</name>
        <dataType>String</dataType>
        <expression>if( not(isblank({!ExistingLeadID})), {!ExistingLeadID},
if( not(isblank({!Create_Lead})), {!Create_Lead}, &quot;&quot;
)
)</expression>
    </formulas>
    <formulas>
        <name>FutureCloseDate</name>
        <dataType>Date</dataType>
        <expression>today() + 60</expression>
    </formulas>
    <formulas>
        <description>True if Standardized GPA &gt;= 2.0 &amp; Standardized GPA &lt;= 2.5</description>
        <name>GPANeedsApproval</name>
        <dataType>Boolean</dataType>
        <expression>if(
and({!$Record.Standardized_GPA__c} &gt;= 2.0, {!$Record.Standardized_GPA__c} &lt;=2.5),
true, false)</expression>
    </formulas>
    <formulas>
        <description>True if Standardized GPA &gt; 2.5</description>
        <name>GPAQualified</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Standardized_GPA__c} &gt; 2.5</expression>
    </formulas>
    <formulas>
        <description>True if Standardized GPA &lt; 2.0</description>
        <name>GPAUnqualified</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Standardized_GPA__c} &lt; 2.0</expression>
    </formulas>
    <formulas>
        <name>OpportunityNameChannel</name>
        <dataType>String</dataType>
        <expression>{!AccountName} &amp; &quot; - Channel&quot;</expression>
    </formulas>
    <interviewLabel>New Application Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Application Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Attach_Account_to_App</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opp</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>985</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Attach_Lead_to_App</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>$Record.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>$Record.External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Applicant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_DanielMarion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Lead_ChannelEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>TimeZone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_Email__c</field>
            <value>
                <elementReference>$Record.Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_First_Name__c</field>
            <value>
                <elementReference>$Record.Parent_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_Last_Name__c</field>
            <value>
                <elementReference>$Record.Parent_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Parent_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Create_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FutureCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>$Record.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNameChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Opp_ChannelEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Parent_1_Email__c</field>
            <value>
                <elementReference>$Record.Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Parent_1_First_Name__c</field>
            <value>
                <elementReference>$Record.Parent_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Parent_1_Last_Name__c</field>
            <value>
                <elementReference>$Record.Parent_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Parent_1_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Parent_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Email__c</field>
            <value>
                <elementReference>$Record.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_External_ID__c</field>
            <value>
                <elementReference>$Record.External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_First_Name__c</field>
            <value>
                <elementReference>$Record.Applicant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Last_Name__c</field>
            <value>
                <elementReference>$Record.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>429</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>429</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Postal_Code</name>
        <label>Get Postal Code</label>
        <locationX>429</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Postal_Code__c</elementReference>
            </value>
        </filters>
        <object>Postal_Code__c</object>
        <outputAssignments>
            <assignToReference>TimeZone</assignToReference>
            <field>Time_Zone__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Unconverted_Lead</name>
        <label>Get Unconverted Lead</label>
        <locationX>809</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ExistingLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadOwnerUserID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>633</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lead_Owner_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadOwnerUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>LeadOwnerActiveStatus</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Attach_Account_to_App</name>
        <label>Attach Account to App</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Attach_Lead_to_App</name>
        <label>Attach Lead to App</label>
        <locationX>809</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Meets_Qualification_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Status_In_Review</name>
        <label>Lead Status = In Review</label>
        <locationX>1766</locationX>
        <locationY>2423</locationY>
        <connector>
            <targetReference>Does_Criminal_Conviction_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Existing_Lead</name>
        <label>Reassign Existing Lead</label>
        <locationX>721</locationX>
        <locationY>1751</locationY>
        <connector>
            <targetReference>Attach_Lead_to_App</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_DanielMarion</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the application name according to the naming convention</description>
        <name>Set_App_Name</name>
        <label>Set App Name</label>
        <locationX>429</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Get_Postal_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unqualify_Low_GPA</name>
        <label>Unqualify Low GPA</label>
        <locationX>1370</locationX>
        <locationY>2423</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <stringValue>Low GPA</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unqualify_Too_Old</name>
        <label>Unqualify Too Old</label>
        <locationX>842</locationX>
        <locationY>2423</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <stringValue>Too Old</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unqualify_Too_Young</name>
        <label>Unqualify Too Young</label>
        <locationX>1106</locationX>
        <locationY>2423</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <stringValue>Too Young</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>TimeZone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Lead</name>
        <label>Update Existing Lead</label>
        <locationX>633</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>$Record.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>$Record.External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Lead_ChannelEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>TimeZone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_Email__c</field>
            <value>
                <elementReference>$Record.Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_First_Name__c</field>
            <value>
                <elementReference>$Record.Parent_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_Last_Name__c</field>
            <value>
                <elementReference>$Record.Parent_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>z_Parent_1_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Parent_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>1734</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Override_Workflow_False</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerActiveStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
