unpackaged/main/default/flows/newApplication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_to_CE_Approval_Process_Criminal</name>
        <label>Submit to CE Approval Process - Criminal</label>
        <locationX>4978</locationX>
        <locationY>2846</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CE_Approval_Process_Criminal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>StagedLead.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_CE_Approval_Process_Primary</name>
        <label>Submit to CE Approval Process - Primary</label>
        <locationX>4714</locationX>
        <locationY>2846</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CE_Approval_Process_Primary</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>StagedLead.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_TE_Approval_Process_Criminal</name>
        <label>Submit to TE Approval Process - Criminal</label>
        <locationX>2866</locationX>
        <locationY>2510</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TE_Approval_Process_Criminal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Lead_Owner</name>
        <label>Assign Lead Owner</label>
        <locationX>2514</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>StagedLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Queue_Admissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Traditional_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_ID</name>
        <label>Assign Opp ID</label>
        <locationX>292</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>OppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Traditional_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Open_Traditional_Opp_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Qualified</name>
        <label>Assign Qualified</label>
        <locationX>3658</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>StagedLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Channel_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_In_Review</name>
        <label>Assign Status = In Review</label>
        <locationX>4846</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>StagedLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Unqualified_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Marketing_Nurture_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Channel_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unqualified_Low_GPA</name>
        <label>Assign Unqualified Low GPA</label>
        <locationX>4450</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>StagedLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Unqualified_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low GPA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Channel_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unqualified_Too_Old</name>
        <label>Assign Unqualified Too Old</label>
        <locationX>3922</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>StagedLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Unqualified_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Too Old</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Channel_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unqualified_Too_Young</name>
        <label>Assign Unqualified Too Young</label>
        <locationX>4186</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>StagedLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Unqualified_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Too Young</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Channel_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Existing_Lead_Channel</name>
        <label>Stage Existing Lead Channel</label>
        <locationX>3691</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>StagedLead.Associated_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Date_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Applicant_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.GPA_Scale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.GPA_Scale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.High_School_GPA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.GPA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Lead_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Most_Recent_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Persona__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonaFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RT_Lead_ChannelEnrollment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Time_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Source_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.YOG_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YogScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.GPA_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GpaScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Activity_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Last_Qualifying_Activity_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingLeadID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Behavior_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Existing_Traditional_Lead</name>
        <label>Stage Existing Traditional Lead</label>
        <locationX>2426</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>StagedLead.Associated_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Date_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Applicant_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TraditionalLeadSourceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Most_Recent_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TraditionalSourceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Persona__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonaFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Applicant_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RT_Lead_TraditionalEnrollment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Time_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Year_of_Graduation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Year_of_High_School_Graduation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Channel_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChannelSourceTypeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingLeadID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Parent_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Parent_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Parent_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Parent_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Parent_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Parent_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Parent_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Parent_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Parent_Guardian_2_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Parent_Guardian_2_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Parent_Guardian_2_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Parent_Guardian_2_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.GPA_Scale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.GPA_Scale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.High_School_GPA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.GPA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Source_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.YOG_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YogScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.GPA_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GpaScoreFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Activity_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Last_Qualifying_Activity_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagedLead.Behavior_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Lead_Owner_Channel</name>
        <label>Stage Lead Owner Channel</label>
        <locationX>3779</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>StagedLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.User_CatherineMalcolm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_ID_On_Lead_Not_app</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Used for filtering the role of a user</description>
        <name>Tier1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier 1</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Channel_Opp_with_Matching_Partner_Exist</name>
        <label>Does Channel Opp with Matching Partner Exist?</label>
        <locationX>1238</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Get_Won_Opp_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Channel_Opp_with_Matching_Partner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist?</label>
        <locationX>2486</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Unconverted_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_App_Record_Type_0</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Criminal_Conviction_No</name>
        <label>Does Criminal Conviction = No?</label>
        <locationX>4846</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>Submit_to_CE_Approval_Process_Criminal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Criminal Conviction = Yes</defaultConnectorLabel>
        <rules>
            <name>Criminal_Conviction_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_App.Criminal_Conviction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_CE_Approval_Process_Primary</targetReference>
            </connector>
            <label>Criminal Conviction = No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Exist?</label>
        <locationX>3889</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lead</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingLeadID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Existing_Lead_Channel</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Exist_0</name>
        <label>Does Lead Exist?</label>
        <locationX>2602</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Traditional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lead</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingLeadID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Existing_Traditional_Lead</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Open_Traditional_Opp_Exist</name>
        <label>Does Open Traditional Opp Exist?</label>
        <locationX>292</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Get_Won_Opp_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Traditional_Opps.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Won_Opp_Exist_1</name>
        <label>Does Won Opp Exist? 1</label>
        <locationX>534</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Create_Traditional_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Won_Opp_1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAppTraditional0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Won_Opp_Exist_2</name>
        <label>Does Won Opp Exist? 2</label>
        <locationX>1458</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Create_Channel_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Won_Opp_2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAppChannel0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_Lead_Owner</name>
        <label>Eligible Lead Owner?</label>
        <locationX>2426</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerActiveStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Owner_Role.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Tier1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Traditional_Lead</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>External_ID_On_Lead_Not_app</name>
        <label>External ID On Lead, Not app</label>
        <locationX>3691</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>UpdateAppChannel_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Lead_Not_App_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_App.External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExternalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>universityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_App.University__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAppChannel_0</targetReference>
            </connector>
            <label>On Lead, Not App = TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Owner_Active</name>
        <label>Is Lead Owner Active?</label>
        <locationX>3691</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Stage_Lead_Owner_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Owner Inactive</defaultConnectorLabel>
        <rules>
            <name>Lead_Owner_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerActiveStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_ID_On_Lead_Not_app</targetReference>
            </connector>
            <label>Lead Owner is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Owner_Active_1</name>
        <label>Is Opp Owner Active? 1</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Reassign_Opp_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp Owner Inactive</defaultConnectorLabel>
        <rules>
            <name>Opp_Owner_is_Active_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerActiveStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAppTraditional0</targetReference>
            </connector>
            <label>Opp Owner is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Owner_Active_2</name>
        <label>Is Opp Owner Active? 2</label>
        <locationX>1018</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Reassign_Opp_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp Owner Inactive</defaultConnectorLabel>
        <rules>
            <name>Opp_Owner_is_Active_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerActiveStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAppChannel0_0</targetReference>
            </connector>
            <label>Opp Owner is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Channel_Qualification_Requirements</name>
        <label>Meets Channel Qualification Requirements?</label>
        <locationX>3889</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Unqualify_or_Manually_Approve_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Qualified</defaultConnectorLabel>
        <rules>
            <name>Qualified_1_1_6_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppDateIsToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppDateIsJan1toJun14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboveMinAgeThisYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BelowMaxAgeThisYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GPAQualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_App.Disciplinary_Violation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_App.Criminal_Conviction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Qualified</targetReference>
            </connector>
            <label>Qualified 1/1 - 6/14</label>
        </rules>
        <rules>
            <name>Qualified_11_1_12_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppDateIsToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppDateIsNov11toDec31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboveMinAgeNextYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BelowMaxAgeNextYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GPAQualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_App.Disciplinary_Violation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_App.Criminal_Conviction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Qualified</targetReference>
            </connector>
            <label>Qualified 11/1 - 12/31</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unqualify_or_Manually_Approve_Channel</name>
        <label>Unqualify or Manually Approve Channel?</label>
        <locationX>4384</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Assign_Status_In_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual Approval Needed</defaultConnectorLabel>
        <rules>
            <name>Too_Old</name>
            <conditionLogic>(1 and 2) or (3 and 4)</conditionLogic>
            <conditions>
                <leftValueReference>AppDateIsJan1toJun14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BelowMaxAgeThisYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppDateIsNov11toDec31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BelowMaxAgeNextYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unqualified_Too_Old</targetReference>
            </connector>
            <label>Too Old</label>
        </rules>
        <rules>
            <name>Too_Young</name>
            <conditionLogic>(1 and 2) or (3 and 4)</conditionLogic>
            <conditions>
                <leftValueReference>AppDateIsJan1toJun14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboveMinAgeThisYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppDateIsNov11toDec31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboveMinAgeNextYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unqualified_Too_Young</targetReference>
            </connector>
            <label>Too Young</label>
        </rules>
        <rules>
            <name>Low_GPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GPAUnqualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unqualified_Low_GPA</targetReference>
            </connector>
            <label>Low GPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unqualify_or_Manually_Approve_Traditional</name>
        <label>Unqualify or Manually Approve Traditional?</label>
        <locationX>2602</locationX>
        <locationY>2390</locationY>
        <defaultConnectorLabel>Counselor Review</defaultConnectorLabel>
        <rules>
            <name>Too_Old_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BelowMaxAgeTraditional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unqualify_Too_Old_0</targetReference>
            </connector>
            <label>Too Old</label>
        </rules>
        <rules>
            <name>Too_Young_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AboveMinAgeTraditional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nurture_Too_Young</targetReference>
            </connector>
            <label>Too Young</label>
        </rules>
        <rules>
            <name>Low_GPA1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GPAUnqualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unqualify_Low_GPA_0</targetReference>
            </connector>
            <label>Low GPA</label>
        </rules>
        <rules>
            <name>Criminal_Conviction_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_App.Criminal_Conviction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_TE_Approval_Process_Criminal</targetReference>
            </connector>
            <label>Criminal Conviction = Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_App_Record_Type_0</name>
        <label>What is App Record Type?</label>
        <locationX>1051</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Traditional_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_App.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Application_TraditionalEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Traditional</targetReference>
            </connector>
            <label>Traditional</label>
        </rules>
        <rules>
            <name>Channel_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_App.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Application_ChannelEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Channel</targetReference>
            </connector>
            <label>Channel</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_App_Record_Type_0_0</name>
        <label>What is App Record Type?</label>
        <locationX>3922</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Traditional_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_App.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Application_TraditionalEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Lead_Exist_0</targetReference>
            </connector>
            <label>Traditional</label>
        </rules>
        <rules>
            <name>Channel_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_App.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_Application_ChannelEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Lead_Exist</targetReference>
            </connector>
            <label>Channel</label>
        </rules>
    </decisions>
    <description>AAA 4/1/22 - Adding lead scoring
3/31/22 - Fixed an issue with creating new traditional inquiries.
AAA 3/29/22 - Added changes for Bridge source 
AP 3/28/22- Tried to shut off auto-convert
AAA 3/12/22 - Adding back in application name character limit, which was lost to deployment issues
3/2/22 - Added in further changes lost to deployment issues
TEH 3/1/2022 - merged changes due to deployment issues.
Route new applications to the matching contact or lead and run the auto-qualification process</description>
    <formulas>
        <name>AboveMinAgeNextYear</name>
        <dataType>Boolean</dataType>
        <expression>if( date(year(today()) + 1, 8, 20) - {!Get_App.Date_of_Birth__c} &gt;= 6205, true, false)</expression>
    </formulas>
    <formulas>
        <name>AboveMinAgeThisYear</name>
        <dataType>Boolean</dataType>
        <expression>if( date(year(today()), 8, 20) - {!Get_App.Date_of_Birth__c} &gt;= 6205, true, false)</expression>
    </formulas>
    <formulas>
        <name>AboveMinAgeTraditional</name>
        <dataType>Boolean</dataType>
        <expression>if(today() - {!Get_App.Date_of_Birth__c} &gt; 5475, true, false)</expression>
    </formulas>
    <formulas>
        <description>True if Application Date = Jan 1st through Jun 14th</description>
        <name>AppDateIsJan1toJun14</name>
        <dataType>Boolean</dataType>
        <expression>if(
and(
month(datevalue({!Get_App.CreatedDate})) &gt;= 1,
month(datevalue({!Get_App.CreatedDate})) &lt;= 6,
or(
and(
month(datevalue({!Get_App.CreatedDate})) = 6,
day(datevalue({!Get_App.CreatedDate})) &lt;= 14
),
month(datevalue({!Get_App.CreatedDate})) &lt;&gt; 6
)
), true, false
)</expression>
    </formulas>
    <formulas>
        <description>True if Application Date = Nov 1st through Dec 31st</description>
        <name>AppDateIsNov11toDec31</name>
        <dataType>Boolean</dataType>
        <expression>if(
and(
month(datevalue({!Get_App.CreatedDate})) &gt;= 11,
month(datevalue({!Get_App.CreatedDate})) &lt;= 12
), true, false
)</expression>
    </formulas>
    <formulas>
        <name>AppDateIsToday</name>
        <dataType>Boolean</dataType>
        <expression>if(datevalue({!Get_App.CreatedDate}) = today(), true, false)</expression>
    </formulas>
    <formulas>
        <name>AppNamingConvention</name>
        <dataType>String</dataType>
        <expression>if(
left({!Get_App.RecordTypeId}, 15) = left({!$Label.RT_Application_ChannelEnrollment}, 15) &amp;&amp; not(isblank({!Get_App.University__r.Name})),
LEFT( {!Get_App.Applicant_First_Name__c} + &quot; &quot; + {!Get_App.Applicant_Last_Name__c} + &quot; - &quot; + text(datevalue({!Get_App.CreatedDate})) + &quot; - Channel - &quot; + {!Get_App.University__r.Name}, 80),

if(
left({!Get_App.RecordTypeId}, 15) = left({!$Label.RT_Application_ChannelEnrollment}, 15),
LEFT( {!Get_App.Applicant_First_Name__c} + &quot; &quot; + {!Get_App.Applicant_Last_Name__c} + &quot; - &quot; + text(datevalue({!Get_App.CreatedDate})) + &quot; - Channel&quot;, 80),

LEFT( {!Get_App.Applicant_First_Name__c} + &quot; &quot; + {!Get_App.Applicant_Last_Name__c} + &quot; - &quot; + text(datevalue({!Get_App.CreatedDate})) + &quot; - Traditional&quot;, 80)
)
)</expression>
    </formulas>
    <formulas>
        <name>BelowMaxAgeNextYear</name>
        <dataType>Boolean</dataType>
        <expression>if( date(year(today()) + 1, 12, 15) - {!Get_App.Date_of_Birth__c} &lt; 8395, true, false)</expression>
    </formulas>
    <formulas>
        <name>BelowMaxAgeThisYear</name>
        <dataType>Boolean</dataType>
        <expression>if( date(year(today()), 12, 15) - {!Get_App.Date_of_Birth__c} &lt; 8395, true, false)</expression>
    </formulas>
    <formulas>
        <name>BelowMaxAgeTraditional</name>
        <dataType>Boolean</dataType>
        <expression>if(today() - {!Get_App.Date_of_Birth__c} &lt; 8030, true, false)</expression>
    </formulas>
    <formulas>
        <name>ChannelSourceTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF( 
OR( {!Get_App.UTM_Source__c} = &quot;bridge&quot;, {!Get_App.UTM_Source_Last_Touch__c} = &quot;bridge&quot; ),
&quot;Bridge&quot;, &quot;&quot; 
)</expression>
    </formulas>
    <formulas>
        <name>FinalLeadID</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK( {!ExistingLeadID})), {!ExistingLeadID},
IF( NOT(ISBLANK( {!Create_Lead_Channel} )), {!Create_Lead_Channel} ,
{!Create_Lead_Traditional}
)
)</expression>
    </formulas>
    <formulas>
        <name>FutureCloseDate</name>
        <dataType>Date</dataType>
        <expression>today() + 60</expression>
    </formulas>
    <formulas>
        <description>True if Standardized GPA &gt;= 2.0 &amp; Standardized GPA &lt;= 2.5</description>
        <name>GPANeedsApproval</name>
        <dataType>Boolean</dataType>
        <expression>if(
and({!Get_App.Standardized_GPA__c} &gt;= 2.0, {!Get_App.Standardized_GPA__c} &lt;=2.5),
true, false)</expression>
    </formulas>
    <formulas>
        <description>True if Standardized GPA &gt; 2.5</description>
        <name>GPAQualified</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_App.Standardized_GPA__c} &gt; 2.5</expression>
    </formulas>
    <formulas>
        <name>GpaScoreFormula</name>
        <dataType>Number</dataType>
        <expression>IF(
{!Get_App.Standardized_GPA__c} &gt;= 2.5, 10,
IF(
{!Get_App.Standardized_GPA__c} &lt; 2.5 &amp;&amp; {!Get_App.Standardized_GPA__c} &gt;= 2.3, 2,
0
)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>True if Standardized GPA &lt; 2.0</description>
        <name>GPAUnqualified</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_App.Standardized_GPA__c} &lt; 2.0</expression>
    </formulas>
    <formulas>
        <name>OneMinuteFromNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1/1440</expression>
    </formulas>
    <formulas>
        <name>OpportunityNameChannel</name>
        <dataType>String</dataType>
        <expression>{!AccountName} &amp; &quot; - &quot; &amp; text(today()) &amp; &quot; - Channel&quot;</expression>
    </formulas>
    <formulas>
        <name>OpportunityNameTraditional</name>
        <dataType>String</dataType>
        <expression>{!AccountName} &amp; &quot; - &quot; &amp; text(today()) &amp; &quot; - Traditional&quot;</expression>
    </formulas>
    <formulas>
        <name>PersonaFormula</name>
        <dataType>String</dataType>
        <expression>if( ispickval( {!Get_App.Country__c} , &quot;United States&quot; ), &quot;US High School Student&quot;, &quot;International High School Student&quot; )</expression>
    </formulas>
    <formulas>
        <name>SourceScoreFormula</name>
        <dataType>Number</dataType>
        <expression>IF(
OR(
TEXT( {!Get_App.Referral_Source__c} ) = &quot;A Verto Representative Visited My School&quot;,
TEXT( {!Get_App.Referral_Source__c} ) = &quot;Family or Friend&quot;,
TEXT( {!Get_App.Referral_Source__c} ) = &quot;My High School Counselor&quot;,
TEXT( {!Get_App.Referral_Source__c} ) = &quot;Independent Educational Consultant&quot;,
TEXT( {!Get_App.Referral_Source__c} ) = &quot;My College&quot;
),
5, 0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TraditionalLeadSourceFormula</name>
        <dataType>String</dataType>
        <expression>IF(
OR( {!Get_App.UTM_Source__c} = &quot;kipp&quot;, {!Get_App.UTM_Source_Last_Touch__c} = &quot;kipp&quot; ), 
&quot;KIPP&quot;,
IF(
OR( {!Get_App.UTM_Source__c} = &quot;bridge&quot;, {!Get_App.UTM_Source_Last_Touch__c} = &quot;bridge&quot; ), 
&quot;Bridge&quot;,
IF(
!ISBLANK( {!Get_App.Source__c} ), {!Get_App.Source__c},
IF(
( ISBLANK({!Get_App.Source__c} ) &amp;&amp; !ISBLANK( {!Get_App.UTM_Source_First_Touch_Category__c}) ), 
{!Get_App.UTM_Source_First_Touch_Category__c},
IF(
( ISBLANK( {!Get_App.Source__c} ) &amp;&amp; ISBLANK( {!Get_App.UTM_Source_First_Touch_Category__c} ) &amp;&amp; !ISBLANK( TEXT({!Get_App.Referral_Source__c} )) ), 
TEXT({!Get_App.Referral_Source__c}),
&quot;Website&quot;
)
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>TraditionalSourceFormula</name>
        <dataType>String</dataType>
        <expression>IF(
OR( {!Get_App.UTM_Source__c} = &quot;kipp&quot;, {!Get_App.UTM_Source_Last_Touch__c} = &quot;kipp&quot; ), 
&quot;KIPP&quot;,
IF(
!ISBLANK({!Get_App.Source__c}), {!Get_App.Source__c},
IF(
{!Get_App.UTM_Source_Last_Touch__c} = &quot;bridge&quot;, 
{!GetUniversityAccount.Name},
IF(
( ISBLANK({!Get_App.Source__c} ) &amp;&amp; !ISBLANK( {!Get_App.UTM_Source_First_Touch_Category__c}) ), 
{!Get_App.UTM_Source_First_Touch_Category__c},
IF(
( ISBLANK( {!Get_App.Source__c} ) &amp;&amp; ISBLANK( {!Get_App.UTM_Source_First_Touch_Category__c} ) &amp;&amp; !ISBLANK( TEXT( {!Get_App.Referral_Source__c} )) ), 
TEXT( {!Get_App.Referral_Source__c} ),
&quot;Website&quot;
)
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>UniversityIdFinal</name>
        <dataType>String</dataType>
        <expression>IF( !ISBLANK( {!Get_App.University_ID__c} ), {!Get_App.University_ID__c}, {!GetUniversityAccount.Id} )</expression>
    </formulas>
    <formulas>
        <name>UniversityIdFromUtmTerm</name>
        <dataType>String</dataType>
        <expression>IF( 
AND(
LEFT( {!Get_App.UTM_Term_Last_Touch__c}, 3) = &quot;001&quot;,
LEN( {!Get_App.UTM_Term_Last_Touch__c} ) &lt;= 18
),
{!Get_App.UTM_Term_Last_Touch__c}, &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>YogScoreFormula</name>
        <dataType>Number</dataType>
        <expression>CASE(
TEXT( {!Get_App.Year_of_High_School_Graduation__c} ),
&quot;2022&quot;, 10,
&quot;2021&quot;, 5,
0
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>newAppl {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Channel_Opp</name>
        <label>Create Channel Opp</label>
        <locationX>1546</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>OppID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Application__c</field>
            <value>
                <elementReference>AppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FutureCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_App.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNameChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Opp_ChannelEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_App.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>1546</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>UpdateAppChannel0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role_0</name>
        <label>Create Contact Role</label>
        <locationX>666</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>UpdateAppTraditional0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Channel</name>
        <label>Create Lead Channel</label>
        <locationX>4087</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>UpdateAppChannel_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Score__c</field>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Application__c</field>
            <value>
                <elementReference>Get_App.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behavior_Score__c</field>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_App.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_App.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Get_App.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_App.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_App.Applicant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPA_Scale__c</field>
            <value>
                <elementReference>Get_App.GPA_Scale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPA_Score__c</field>
            <value>
                <elementReference>GpaScoreFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_GPA__c</field>
            <value>
                <elementReference>Get_App.GPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Qualifying_Activity_Date__c</field>
            <value>
                <elementReference>Get_App.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_App.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_App.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Source__c</field>
            <value>
                <elementReference>Get_App.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Source__c</field>
            <value>
                <elementReference>Get_App.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_CatherineMalcolm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <elementReference>PersonaFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_App.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_App.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Lead_ChannelEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Score__c</field>
            <value>
                <elementReference>SourceScoreFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_App.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Get_App.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_App.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>TimeZone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YOG_Score__c</field>
            <value>
                <elementReference>YogScoreFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Traditional</name>
        <label>Create Lead Traditional</label>
        <locationX>2778</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Assign_Parent_Inquiry_to_Student_Lead_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Score__c</field>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Application__c</field>
            <value>
                <elementReference>Get_App.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behavior_Score__c</field>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Source_Type__c</field>
            <value>
                <elementReference>ChannelSourceTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_App.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_App.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Get_App.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_App.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_App.Applicant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPA_Scale__c</field>
            <value>
                <elementReference>Get_App.GPA_Scale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPA_Score__c</field>
            <value>
                <elementReference>GpaScoreFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_GPA__c</field>
            <value>
                <elementReference>Get_App.GPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Qualifying_Activity_Date__c</field>
            <value>
                <elementReference>Get_App.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>TraditionalLeadSourceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Source__c</field>
            <value>
                <elementReference>TraditionalSourceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Source__c</field>
            <value>
                <elementReference>TraditionalSourceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Queue_Admissions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <elementReference>PersonaFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_App.Applicant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_App.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Lead_TraditionalEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Score__c</field>
            <value>
                <elementReference>SourceScoreFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Get_App.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_App.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>TimeZone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <elementReference>Get_App.UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YOG_Score__c</field>
            <value>
                <elementReference>YogScoreFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_of_Graduation__c</field>
            <value>
                <elementReference>Get_App.Year_of_High_School_Graduation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_campaign__c</field>
            <value>
                <elementReference>Get_App.UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_content__c</field>
            <value>
                <elementReference>Get_App.UTM_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_medium__c</field>
            <value>
                <elementReference>Get_App.UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>utm_term__c</field>
            <value>
                <elementReference>Get_App.UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Traditional_Opp</name>
        <label>Create Traditional Opp</label>
        <locationX>666</locationX>
        <locationY>1718</locationY>
        <assignRecordIdToReference>OppID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact_Role_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Application__c</field>
            <value>
                <elementReference>AppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FutureCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>TraditionalLeadSourceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNameTraditional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RT_Opp_TraditionalEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_App</name>
        <label>Get App</label>
        <locationX>2486</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Postal_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>2486</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStudentAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Applicant_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Owner_Role</name>
        <label>Get Lead Owner Role</label>
        <locationX>2426</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligible_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadOwnerRoleID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Channel_Opp_with_Matching_Partner</name>
        <label>Get Open Channel Opp with Matching Partner</label>
        <locationX>1238</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Channel_Opp_with_Matching_Partner_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Associated_Application_University_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.University__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.RT_Opp_ChannelEnrollment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Traditional_Opps</name>
        <label>Get Open Traditional Opps</label>
        <locationX>292</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.RT_Opp_TraditionalEnrollment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Postal_Code</name>
        <label>Get Postal Code</label>
        <locationX>2486</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Postal_Code__c</elementReference>
            </value>
        </filters>
        <object>Postal_Code__c</object>
        <outputAssignments>
            <assignToReference>TimeZone</assignToReference>
            <field>Time_Zone__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Unconverted_Lead</name>
        <label>Get Unconverted Lead</label>
        <locationX>3922</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_App_Record_Type_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Applicant_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ExternalId</assignToReference>
            <field>External_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExistingLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadOwnerUserID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>universityId</assignToReference>
            <field>University__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>3691</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lead_Owner_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadOwnerUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerActiveStatus</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_0</name>
        <label>Get User</label>
        <locationX>2426</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Owner_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadOwnerUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerActiveStatus</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadOwnerRoleID</assignToReference>
            <field>UserRoleId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_1</name>
        <label>Get User 1</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opp_Owner_Active_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Open_Traditional_Opps.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerActiveStatus</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_2</name>
        <label>Get User 2</label>
        <locationX>1018</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opp_Owner_Active_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Open_Channel_Opp_with_Matching_Partner.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerActiveStatus</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Won_Opp_1</name>
        <label>Get Won Opp 1</label>
        <locationX>534</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Won_Opp_Exist_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Won_Opp_2</name>
        <label>Get Won Opp 2</label>
        <locationX>1458</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Won_Opp_Exist_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStudentAccount</name>
        <label>GetStudentAccount</label>
        <locationX>2486</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUniversityAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This step is only necessary for bridge applications that don&#39;t already have the channel partner name set in the Source field</description>
        <name>GetUniversityAccount</name>
        <label>GetUniversityAccount</label>
        <locationX>2486</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UniversityIdFromUtmTerm</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Parent_Inquiry_to_Student_Lead</name>
        <label>Assign Parent Inquiry to Student Lead</label>
        <locationX>2426</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>UpdateAppTraditional</targetReference>
        </connector>
        <filterLogic>(1 AND 3 AND 4) OR (2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>Parent_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Parent_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Persona__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospective Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>StagedLead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Student Applied</stringValue>
            </value>
        </inputAssignments>
        <object>Inquiry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Parent_Inquiry_to_Student_Lead_0</name>
        <label>Assign Parent Inquiry to Student Lead</label>
        <locationX>2778</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>UpdateAppTraditional</targetReference>
        </connector>
        <filterLogic>(1 AND 3 AND 4) OR (2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>Parent_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Parent_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Persona__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospective Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Create_Lead_Traditional</elementReference>
            </value>
        </inputAssignments>
        <object>Inquiry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Nurture_Too_Young</name>
        <label>Nurture Too Young</label>
        <locationX>2338</locationX>
        <locationY>2510</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Marketing_Nurture_Reason__c</field>
            <value>
                <stringValue>Too Young</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Marketing Nurture</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Opp_1</name>
        <label>Reassign Opp 1</label>
        <locationX>138</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>UpdateAppTraditional0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Open_Traditional_Opps.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Opp_2</name>
        <label>Reassign Opp 2</label>
        <locationX>1106</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>UpdateAppChannel0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Open_Channel_Opp_with_Matching_Partner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unqualify_Low_GPA_0</name>
        <label>Unqualify Low GPA</label>
        <locationX>2602</locationX>
        <locationY>2510</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <stringValue>Low GPA</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unqualify_Too_Old_0</name>
        <label>Unqualify Too Old</label>
        <locationX>2074</locationX>
        <locationY>2510</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <stringValue>Too Old</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Channel</name>
        <label>Update Account Channel</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Open_Channel_Opp_with_Matching_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_App.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_App.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_App.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_App.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_App.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_App.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Get_App.Applicant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Get_App.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Source__c</field>
            <value>
                <elementReference>Get_App.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_App.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>TimeZone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Traditional</name>
        <label>Update Account Traditional</label>
        <locationX>292</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Open_Traditional_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_App.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_App.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_App.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_App.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_App.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Source_Type__c</field>
            <value>
                <elementReference>ChannelSourceTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_App.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Get_App.Applicant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Source__c</field>
            <value>
                <elementReference>TraditionalSourceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_App.Applicant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>TimeZone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_of_High_School_Graduation__c</field>
            <value>
                <elementReference>Get_App.Year_of_High_School_Graduation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Traditional_Lead</name>
        <label>Update Existing Traditional Lead</label>
        <locationX>2426</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Assign_Parent_Inquiry_to_Student_Lead</targetReference>
        </connector>
        <inputReference>StagedLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Channel_1</name>
        <label>Update Lead Channel 1</label>
        <locationX>3889</locationX>
        <locationY>3374</locationY>
        <inputReference>StagedLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Channel_2</name>
        <label>Update Lead Channel 2</label>
        <locationX>4846</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Does_Criminal_Conviction_No</targetReference>
        </connector>
        <inputReference>StagedLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAppChannel0</name>
        <label>UpdateAppChannel</label>
        <locationX>1546</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>createOrUpdateContact_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAppChannel0_0</name>
        <label>UpdateAppChannel</label>
        <locationX>1238</locationX>
        <locationY>2390</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAppChannel_0</name>
        <label>UpdateAppChannel</label>
        <locationX>3559</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Meets_Channel_Qualification_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>ExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAppChannel_0_0</name>
        <label>UpdateAppChannel</label>
        <locationX>3823</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Meets_Channel_Qualification_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAppChannel_0_0_0</name>
        <label>UpdateAppChannel</label>
        <locationX>4087</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Meets_Channel_Qualification_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAppTraditional</name>
        <label>UpdateAppTraditional</label>
        <locationX>2602</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Unqualify_or_Manually_Approve_Traditional</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>FinalLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>TraditionalSourceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University__c</field>
            <value>
                <elementReference>UniversityIdFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAppTraditional0</name>
        <label>UpdateAppTraditional</label>
        <locationX>292</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>createOrUpdateContact_Traditional</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.User_GeneralSalesforceAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>TraditionalSourceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University__c</field>
            <value>
                <elementReference>UniversityIdFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAppTraditional0_0</name>
        <label>UpdateAppTraditional</label>
        <locationX>402</locationX>
        <locationY>1718</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>TraditionalSourceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University__c</field>
            <value>
                <elementReference>UniversityIdFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>2360</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_App</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Launching this flow to create/update parent contacts and update student contact</description>
        <name>createOrUpdateContact_Channel</name>
        <label>createOrUpdateContact Channel</label>
        <locationX>1546</locationX>
        <locationY>1958</locationY>
        <flowName>createOrUpdateContact</flowName>
        <inputAssignments>
            <name>AppID</name>
            <value>
                <elementReference>AppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1Email</name>
            <value>
                <elementReference>Get_App.Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1FirstName</name>
            <value>
                <elementReference>Get_App.Parent_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1LastName</name>
            <value>
                <elementReference>Get_App.Parent_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1Phone</name>
            <value>
                <elementReference>Get_App.Parent_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentEmail</name>
            <value>
                <elementReference>Get_App.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentFirstName</name>
            <value>
                <elementReference>Get_App.Applicant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentLastName</name>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentMobilePhone</name>
            <value>
                <elementReference>Get_App.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentPhone</name>
            <value>
                <elementReference>Get_App.Applicant_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Launching this flow to create/update parent contacts and update student contact</description>
        <name>createOrUpdateContact_Traditional</name>
        <label>createOrUpdateContact Traditional</label>
        <locationX>292</locationX>
        <locationY>2270</locationY>
        <flowName>createOrUpdateContact</flowName>
        <inputAssignments>
            <name>AppID</name>
            <value>
                <elementReference>AppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1Email</name>
            <value>
                <elementReference>Get_App.Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1FirstName</name>
            <value>
                <elementReference>Get_App.Parent_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1LastName</name>
            <value>
                <elementReference>Get_App.Parent_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent1Phone</name>
            <value>
                <elementReference>Get_App.Parent_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent2Email</name>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent2FirstName</name>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent2LastName</name>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parent2Phone</name>
            <value>
                <elementReference>Get_App.Parent_Guardian_2_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentEmail</name>
            <value>
                <elementReference>Get_App.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentFirstName</name>
            <value>
                <elementReference>Get_App.Applicant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentLastName</name>
            <value>
                <elementReference>Get_App.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentPhone</name>
            <value>
                <elementReference>Get_App.Applicant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ChannelLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ExistingLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OwnerActiveStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StagedLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>TimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>universityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
