unpackaged/main/default/flows/NewCollegeApplication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assigns the record as the parent opportunity.</description>
        <name>Assign_Parent_Opportunity</name>
        <label>Assign Parent Opportunity</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>ParentOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks for an opportunity with an associated application to assign as the correct opportunity.</description>
        <name>IsBlank_Associated_Application</name>
        <label>IsBlank Associated Application</label>
        <locationX>402</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>For_Each_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Associated_Application_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Opportunity.Associated_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Opportunity</targetReference>
            </connector>
            <label>Associated Application Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if a Parent Opportunity was set during loop iteration.</description>
        <name>isNull_Parent_Opportunity</name>
        <label>isNull Parent Opportunity</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>getCounselingForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Opportunity_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentOpportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFallbackOpportunity</targetReference>
            </connector>
            <label>Parent Opportunity Not Set</label>
        </rules>
    </decisions>
    <formulas>
        <name>AppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Student_Account__r.Name} +&quot; -&quot; + {!$Record.University__r.Name}</expression>
    </formulas>
    <formulas>
        <name>CriminalConviction</name>
        <dataType>String</dataType>
        <expression>IF(
    !ISBLANK(TEXT({!getApplication.Criminal_Conviction__c})),
    IF(
        ISPICKVAL({!getApplication.Criminal_Conviction__c}, &quot;No&quot;),
        &quot;No&quot;, 
        &quot;Yes - &quot; + {!getApplication.Criminal_Conviction_Details__c}
    ),
    null
)</expression>
    </formulas>
    <formulas>
        <name>DisciplinaryViolation</name>
        <dataType>String</dataType>
        <expression>IF(
    !ISBLANK(TEXT({!getApplication.Disciplinary_Violation__c})),
    IF(
        ISPICKVAL({!getApplication.Disciplinary_Violation__c}, &quot;No&quot;),
        &quot;No&quot;, 
        &quot;Yes - &quot; + {!getApplication.Disciplinary_Violation_Details__c}
    ),
    null
)</expression>
    </formulas>
    <formulas>
        <name>HispanicLatinoax</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!getApplication.Hispanic_or_Latino_a_x__c}, &quot;YES&quot;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>StatementofInterest</name>
        <dataType>String</dataType>
        <expression>{!getCounselingForm.First_Choice_Why__c} + &quot; &quot; +{!getCounselingForm.Second_Choice_Why__c} +&quot; &quot; + {!getCounselingForm.Third_Choice_Why__c} +&quot; &quot; + {!getCounselingForm.Fourth_Choice_Why__c} +&quot; &quot;+ {!getCounselingForm.Fifth_Choice_Why__c}</expression>
    </formulas>
    <interviewLabel>NewCollegeApplication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewCollegeApplication</label>
    <loops>
        <description>Loops over the Opportunity records and grabs the one with the Associated Application.</description>
        <name>For_Each_Opportunity</name>
        <label>For Each Opportunity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>getOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsBlank_Associated_Application</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isNull_Parent_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateCollegeApplication</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOpportunity.Associated_Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCounselingForm</name>
        <label>getCounselingForm</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.RT_CounselingForm_PSF</elementReference>
            </value>
        </filters>
        <filters>
            <field>Counseling__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Counseling__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Selection Form</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Counseling_Form__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves a fallback opportunity to relate the College Application record  to.</description>
        <name>getFallbackOpportunity</name>
        <label>getFallbackOpportunity</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCounselingForm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Label.RT_Opp_Additional_Semester</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ParentOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>College_Counselor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Queries the opportunity that is most likely to be related to the College Application, using the following criteria:
1. Must have same Account lookup as College_Application__c.Student_Account__c field.
2. Stage must be &#39;Closed Won&#39;
3. Record Type must be Traditional Enrollment.
4. Sorted by most recently created.</description>
        <name>getOpportunities</name>
        <label>getOpportunities</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCollegeApplication</name>
        <label>updateCollegeApplication</label>
        <locationX>182</locationX>
        <locationY>1559</locationY>
        <inputAssignments>
            <field>ACT_English_Score__c</field>
            <value>
                <elementReference>getCounselingForm.ACT_English_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACT_Math_Score__c</field>
            <value>
                <elementReference>getCounselingForm.ACT_Math_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACT_Science_Score__c</field>
            <value>
                <elementReference>getCounselingForm.ACT_Science_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACT_Score__c</field>
            <value>
                <elementReference>getCounselingForm.ACT_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Gender_Info__c</field>
            <value>
                <elementReference>getApplication.Gender_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Biological_Sex__c</field>
            <value>
                <elementReference>getApplication.Sex__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Citizenship__c</field>
            <value>
                <elementReference>getApplication.Citizen_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>College_Application_Owner__c</field>
            <value>
                <elementReference>ParentOpportunity.College_Counselor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_2_years_of_Social_Studies__c</field>
            <value>
                <elementReference>getCounselingForm.X2_Years_of_Social_Studies__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_2_years_of_World_Language__c</field>
            <value>
                <elementReference>getCounselingForm.X2_Years_of_World_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_3_years_of_Science__c</field>
            <value>
                <elementReference>getCounselingForm.X3_years_of_Sceince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_4_years_of_English__c</field>
            <value>
                <elementReference>getCounselingForm.X4_years_of_English__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_4_years_of_Math_thru_Algebra__c</field>
            <value>
                <elementReference>getCounselingForm.X4_years_of_Math__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County_of_Residence__c</field>
            <value>
                <elementReference>getCounselingForm.Current_County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criminal_Convictions__c</field>
            <value>
                <elementReference>CriminalConviction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Taken_ACT__c</field>
            <value>
                <elementReference>getCounselingForm.ACT_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disciplinary_Violation__c</field>
            <value>
                <elementReference>DisciplinaryViolation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dual_Citizenship__c</field>
            <value>
                <elementReference>getApplication.Dual_Citizenship_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dual_Enrollment_Institution__c</field>
            <value>
                <elementReference>getCounselingForm.Dual_Enrollment_Institution_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrolled_in_IB_Courses_in_HS__c</field>
            <value>
                <elementReference>getCounselingForm.IB_Courses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_generation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>GPA_Scale__c</field>
            <value>
                <elementReference>getApplication.GPA_Scale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPA_Weighting__c</field>
            <value>
                <elementReference>getApplication.GPA_Weighting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_enrolled_in_AP_Courses_in__c</field>
            <value>
                <elementReference>getCounselingForm.AP_Courses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_enrolled_in_Dual_Enrollmen__c</field>
            <value>
                <elementReference>getCounselingForm.Dual_Enrollment_Courses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_enrolled_in_Early_Middle_C__c</field>
            <value>
                <elementReference>getCounselingForm.Early_Middle_College__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_taken_the_ACT__c</field>
            <value>
                <elementReference>getCounselingForm.Taken_ACT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_taken_the_SAT__c</field>
            <value>
                <elementReference>getCounselingForm.Taken_SAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_GPA__c</field>
            <value>
                <elementReference>getApplication.GPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hispanic_or_Latino_a_x__c</field>
            <value>
                <elementReference>HispanicLatinoax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hobbies__c</field>
            <value>
                <elementReference>getCounselingForm.Activities_and_Hobbies__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identity__c</field>
            <value>
                <elementReference>getApplication.Race_Ethnicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Major_of_Interest_1__c</field>
            <value>
                <elementReference>getCounselingForm.Major_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Major_of_Interest_2__c</field>
            <value>
                <elementReference>getCounselingForm.Major_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>ParentOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_1_Email__c</field>
            <value>
                <elementReference>getApplication.Parent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_1_First_Name__c</field>
            <value>
                <elementReference>getApplication.Parent_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_1_Last_Name__c</field>
            <value>
                <elementReference>getApplication.Parent_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_1_Phone_Number__c</field>
            <value>
                <elementReference>getApplication.Parent_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_2_Email__c</field>
            <value>
                <elementReference>getApplication.Parent_Guardian_2_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_2_First_Name__c</field>
            <value>
                <elementReference>getApplication.Parent_Guardian_2_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_2_Last_Name__c</field>
            <value>
                <elementReference>getApplication.Parent_Guardian_2_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_2_Phone_Number__c</field>
            <value>
                <elementReference>getApplication.Parent_Guardian_2_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parents_Highest_Degree_Earned__c</field>
            <value>
                <elementReference>getCounselingForm.Parents_Highest_Degree_Earned__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parents_Marital_Status__c</field>
            <value>
                <elementReference>getApplication.Parents_Guardians_Marital_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parents_State_of_Legal_Residence__c</field>
            <value>
                <elementReference>getCounselingForm.Parent_Guardian_State_of_Residence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Home__c</field>
            <value>
                <elementReference>getApplication.Student_s_Permanent_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_provide_the_course_s_and_grade_s__c</field>
            <value>
                <elementReference>getCounselingForm.Dual_Enrollment_Courses_and_Grades__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proficient_Spoken_Languages__c</field>
            <value>
                <elementReference>getCounselingForm.Proficient_Languages__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residency_Status__c</field>
            <value>
                <elementReference>getApplication.Citizen_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAT_Date__c</field>
            <value>
                <elementReference>getCounselingForm.SAT_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAT_Math_Score__c</field>
            <value>
                <elementReference>getCounselingForm.SAT_Math__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAT_Reading_Writing__c</field>
            <value>
                <elementReference>getCounselingForm.SAT_Reading_Writing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAT_Score__c</field>
            <value>
                <elementReference>getCounselingForm.SAT_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Circumstances_that_impact_high_s__c</field>
            <value>
                <elementReference>getCounselingForm.Explain_GPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_of_Legal_Residence__c</field>
            <value>
                <elementReference>getCounselingForm.State_of_Legal_Residence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statement_of_Interest__c</field>
            <value>
                <elementReference>StatementofInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Date_of_Birth__c</field>
            <value>
                <elementReference>getApplication.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Email__c</field>
            <value>
                <elementReference>getApplication.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Graduation_Year__c</field>
            <value>
                <elementReference>getApplication.Year_of_High_School_Graduation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Phone_Number__c</field>
            <value>
                <elementReference>getApplication.Applicant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Plans_to_Use_Fafsa__c</field>
            <value>
                <elementReference>getCounselingForm.Student_Plans_to_Use_Fafsa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Zip_Code__c</field>
            <value>
                <elementReference>getApplication.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_Address__c</field>
            <value>
                <elementReference>getApplication.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_City__c</field>
            <value>
                <elementReference>getApplication.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_First_Name__c</field>
            <value>
                <elementReference>getApplication.Applicant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_Last_Name__c</field>
            <value>
                <elementReference>getApplication.Applicant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_State__c</field>
            <value>
                <elementReference>getApplication.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_did_you_Start_High_School__c</field>
            <value>
                <elementReference>getCounselingForm.High_School_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_will_you_complete_High_School__c</field>
            <value>
                <elementReference>getCounselingForm.Graduation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_AP_Courses__c</field>
            <value>
                <elementReference>getCounselingForm.Which_AP_Courses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_IB_Courses__c</field>
            <value>
                <elementReference>getCounselingForm.Which_IB_Course__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_Living_in_State_of_Residence__c</field>
            <value>
                <elementReference>getCounselingForm.Length_of_Residency__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunities</targetReference>
        </connector>
        <object>College_Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CollegeAppName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Student_Account__r.Name}  - {!$Record.University__r.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>The Parent Opportunity</description>
        <name>ParentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
