unpackaged/main/default/flows/NewCounselingForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Override_Flow</name>
        <label>Check Override Flow</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordType</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Traditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_CounselingForm_Commitment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>CommittmentForm</label>
        </rules>
        <rules>
            <name>Partner_Selection_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_CounselingForm_PSF</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>findAccount</targetReference>
            </connector>
            <label>Partner Selection Form</label>
        </rules>
    </decisions>
    <description>Added Override Workflow check</description>
    <interviewLabel>NewCounselingForm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewCounselingForm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>findAccount</name>
        <label>findAccount</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCounseling_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCounseling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_s_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCounseling</name>
        <label>getCounseling</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCommitmentForm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_s_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_s_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Counseling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCounseling_0</name>
        <label>getCounseling</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePSF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_s_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>findAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Counseling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_s_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commitment_Form_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount_0</name>
        <label>updateAccount</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>findAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>College_Planning_Form_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCommitmentForm</name>
        <label>UpdateCommitmentForm</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>updateCounseling</targetReference>
        </connector>
        <inputAssignments>
            <field>Counseling__c</field>
            <value>
                <elementReference>getCounseling.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Commitment Form</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCounseling</name>
        <label>updateCounseling</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCounseling.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commitment_Form_Date_Time__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commitment_Form__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Counseling__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCounseling_0</name>
        <label>updateCounseling</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>updateAccount_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCounseling_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Planning_Form_Date_Time__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planning_Form__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Counseling__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePSF</name>
        <label>UpdatePSF</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>updateCounseling_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Counseling__c</field>
            <value>
                <elementReference>getCounseling_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_s_Account__c</field>
            <value>
                <elementReference>findAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Override_Flow</targetReference>
        </connector>
        <object>Counseling_Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
