unpackaged/main/default/flows/NewCollegeForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CounselingRecordExist</name>
        <label>CounselingRecordExist?</label>
        <locationX>67</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>updateCollegeForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCounselingRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCollegeForm</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>630</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commitment_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_CollegeForm_CommitmentForm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCounselingRecord</targetReference>
            </connector>
            <label>Commitment Form</label>
        </rules>
        <rules>
            <name>CollegePlanningForm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RT_CollegeForm_CounselingForm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCounselingRecord</targetReference>
            </connector>
            <label>CollegePlanningForm</label>
        </rules>
    </decisions>
    <formulas>
        <name>CFName</name>
        <dataType>String</dataType>
        <expression>&quot;Commitment Form - &quot; + {!$Record.Opportunity__r.First_Name__c} + &quot; &quot; +   {!$Record.Opportunity__r.Last_Name__c}</expression>
    </formulas>
    <interviewLabel>NewCollegeForm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewCollegeForm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCounselingRecord</name>
        <label>getCounselingRecord</label>
        <locationX>211</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CounselingRecordExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_s_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_s_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Counseling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCollegeForm</name>
        <label>updateCollegeForm</label>
        <locationX>77</locationX>
        <locationY>553</locationY>
        <inputAssignments>
            <field>Counseling__c</field>
            <value>
                <elementReference>getCounselingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CFName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_s_Account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>516</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <object>Counseling_Form__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
