unpackaged/main/default/flows/Notify_SFS_of_Program_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_SFS</name>
        <label>Notify SFS</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>Student Financial Services</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Was_Current_Program_Null</name>
        <label>Was Current Program Null?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Notify_SFS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Current_Program_was_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Current_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Current Program was Null</label>
        </rules>
    </decisions>
    <description>Checks if current program priorval was null to prevent it from sending notifications when it is initially setup.

URL set to QA - This needs to be changed to utilize the production URL when released.</description>
    <formulas>
        <name>ChatterNotification</name>
        <dataType>String</dataType>
        <expression>&#39;https://vertoeducation.lightning.force.com/lightning/r/&#39; + {!$Record.Id} + &#39;/view The Current Program has changed from &#39; + {!$Record__Prior.Current_Program__r.Name} + &#39; to &#39; + {!$Record.Current_Program__r.Name}+ &#39;. Please update all related tuition invoices.&#39;</expression>
    </formulas>
    <interviewLabel>Notify SFS of Program Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify SFS of Program Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Current_Program_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Program__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>25</triggerOrder>
</Flow>
