unpackaged/main/default/flows/Opportunity_Stage_Date_Tracking_2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>What_Stage_was_the_Opportunity_Set_To</name>
        <label>What Stage was the Opportunity Set To?</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage - New Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_New_Opportunity_Date</targetReference>
            </connector>
            <label>Stage - New Opportunity</label>
        </rules>
        <rules>
            <name>Stage_Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage - Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Interview_Stage_Date</targetReference>
            </connector>
            <label>Stage - Interview</label>
        </rules>
        <rules>
            <name>Stage_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage - Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Application_Date</targetReference>
            </connector>
            <label>Stage - Application</label>
        </rules>
        <rules>
            <name>Application_Approved_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Approved (Accepted)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Application_Approved_Date</targetReference>
            </connector>
            <label>Application Approved (Accepted)</label>
        </rules>
        <rules>
            <name>Pending_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Pending_Enrollment_Date</targetReference>
            </connector>
            <label>Pending Enrollment</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won (Enrolled)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Closed_Won_Date</targetReference>
            </connector>
            <label>Closed Won (Enrolled)</label>
        </rules>
        <rules>
            <name>New_Opportunity_Non_Responsive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Opportunity: Non Responsive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_New_Opp_Non_Responsive_Date</targetReference>
            </connector>
            <label>New Opportunity: Non Responsive</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Closed_Lost_Date</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <description>This Flow is trigger by a Process Builder when an Opportunity is created OR the Stage changes.</description>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity Stage Date Tracking 2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage Date Tracking 2.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Input_Application_Approved_Date</name>
        <label>Input Application Approved Date</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Input_New_Opportunity_Date_If_Blank_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Approved__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Approved__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Approved_Date_If_Blank</name>
        <label>Input Application Approved Date - If Blank</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Approved__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Approved__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Approved_Date_If_Blank_0</name>
        <label>Input Application Approved Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Input_Pending_Enrollment_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Approved__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Approved__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Date</name>
        <label>Input Application Date</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Input_New_Opportunity_Date_If_Blank_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Stage__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Date_If_Blank</name>
        <label>Input Application Date - If Blank</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Stage__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Date_If_Blank_0</name>
        <label>Input Application Date - If Blank</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Input_Application_Approved_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Stage__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Application_Date_If_Blank_0_0</name>
        <label>Input Application Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Input_Application_Approved_Date_If_Blank_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Application_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Application_Stage__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Closed_Lost_Date</name>
        <label>Input Closed Lost Date</label>
        <locationX>1898</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Closed_Lost_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Closed_Won_Date</name>
        <label>Input Closed Won Date</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Input_New_Opportunity_Date_If_Blank_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Z_Enrolled__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Z_Enrolled__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Convert_Date_if_blank</name>
        <label>Input Convert Date - if blank</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>z_Convert_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>z_Convert_Date__c</field>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Interview_Stage_Date</name>
        <label>Input Interview Stage Date</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Input_New_Opportunity_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Stage_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Interview_Stage_Date_If_Blank</name>
        <label>Input Interview Stage Date - If Blank</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Stage_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Interview_Stage_Date_If_Blank_0</name>
        <label>Input Interview Stage Date - If Blank</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Input_Application_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Stage_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Interview_Stage_Date_If_Blank_0_0</name>
        <label>Input Interview Stage Date - If Blank</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Input_Application_Date_If_Blank_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Stage_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Interview_Stage_Date_If_Blank_0_0_0</name>
        <label>Input Interview Stage Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Input_Application_Date_If_Blank_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Stage_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_New_Opp_Non_Responsive_Date</name>
        <label>Input New Opp: Non Responsive Date</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Z_New_Opp_Non_Resp_Stage_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_New_Opportunity_Date</name>
        <label>Input New Opportunity Date</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Input_Convert_Date_if_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_New_Opportunity_Date_If_Blank</name>
        <label>Input New Opportunity Date - If Blank</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_New_Opportunity_Date_If_Blank_0</name>
        <label>Input New Opportunity Date - If Blank</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Input_Interview_Stage_Date_If_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_New_Opportunity_Date_If_Blank_0_0</name>
        <label>Input New Opportunity Date - If Blank</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Input_Interview_Stage_Date_If_Blank_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_New_Opportunity_Date_If_Blank_0_0_0</name>
        <label>Input New Opportunity Date - If Blank</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Input_Interview_Stage_Date_If_Blank_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_New_Opportunity_Date_If_Blank_0_0_0_0</name>
        <label>Input New Opportunity Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Input_Interview_Stage_Date_If_Blank_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Z_New_Opportunity_Stage_Date__c</field>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Pending_Enrollment_Date</name>
        <label>Input Pending Enrollment Date</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Input_New_Opportunity_Date_If_Blank_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pending_Enrollment_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pending_Enrollment_Stage__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Input_Pending_Enrollment_Date_If_Blank</name>
        <label>Input Pending Enrollment Date - If Blank</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pending_Enrollment_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pending_Enrollment_Stage__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Stage_was_the_Opportunity_Set_To</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
