unpackaged/main/default/flows/Partner_Portal_Course_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Course</name>
        <label>Add Course</label>
        <locationX>1209</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>courseIdFromMapping</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Course_Mapping.Course__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Course_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Course_Id</name>
        <label>Add Course Id</label>
        <locationX>918</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>courseIdFromCourse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Course.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Course</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Final_List</name>
        <label>Add to Final List</label>
        <locationX>1789</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>finalCourseRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Courses_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Courses_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove</name>
        <label>Remove</label>
        <locationX>1085</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>courseIdFromMapping</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>courseIdFromMapping</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalCourseRecordList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>finalCourseRecordList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Course_Mappings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Existing</name>
        <label>Remove Existing</label>
        <locationX>1399</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>courseIdFromCourse</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>courseIdFromMapping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Courses_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Another_Mapping</name>
        <label>Another Mapping?</label>
        <locationX>2011</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_anotherMapping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Another_Mapping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Course_In_List</name>
        <label>Course In List</label>
        <locationX>1587</locationX>
        <locationY>771</locationY>
        <defaultConnector>
            <targetReference>Loop_Created_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_inList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Courses_Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Created_List</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Final_List</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>record_type</name>
        <label>record type</label>
        <locationX>2451</locationX>
        <locationY>657</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Direct_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransferabilityScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Course_Mapping</targetReference>
            </connector>
            <label>Direct Transfer</label>
        </rules>
        <rules>
            <name>General_Ed_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransferabilityScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Ed Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Course_Mapping_0</targetReference>
            </connector>
            <label>General Ed Credit</label>
        </rules>
        <rules>
            <name>Elective_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransferabilityScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elective Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Course_Mapping_0_0</targetReference>
            </connector>
            <label>Elective Credit</label>
        </rules>
        <rules>
            <name>Does_Not_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransferabilityScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Does Not Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Course_Mapping_0_0_0</targetReference>
            </connector>
            <label>Does Not Transfer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>courseChoiceSet</name>
        <collectionReference>finalCourseRecordList</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Course__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>transferabilityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transferability__c</picklistField>
        <picklistObject>Course_Mapping__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Partner Portal - Course Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Portal - Course Mapping</label>
    <loops>
        <name>Loop_Course</name>
        <label>Loop Course</label>
        <locationX>918</locationX>
        <locationY>383</locationY>
        <collectionReference>All_Courses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Course_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Course_Mappings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Course_Mapping</name>
        <label>Loop Course Mapping</label>
        <locationX>1204</locationX>
        <locationY>393</locationY>
        <collectionReference>Course_Mappings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Course</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Existing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Courses_Record</name>
        <label>Loop Courses Record</label>
        <locationX>1596</locationX>
        <locationY>384</locationY>
        <collectionReference>All_Courses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Created_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>courseChoiceScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Created_List</name>
        <label>Loop Created List</label>
        <locationX>1529</locationX>
        <locationY>588</locationY>
        <collectionReference>courseIdFromCourse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Course_In_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Courses_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Course_Mapping</name>
        <label>Course Mapping</label>
        <locationX>2430</locationX>
        <locationY>279</locationY>
        <connector>
            <targetReference>Another_Mapping</targetReference>
        </connector>
        <inputAssignments>
            <field>Course_Number__c</field>
            <value>
                <elementReference>Course_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>Courses_To_Map</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Hours__c</field>
            <value>
                <elementReference>Credit_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Course_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01278000000GsUCAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transferability__c</field>
            <value>
                <elementReference>TransferabilityScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University__c</field>
            <value>
                <elementReference>Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Course_Mapping_0</name>
        <label>Course Mapping</label>
        <locationX>2639</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Another_Mapping</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>Courses_To_Map</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Hours__c</field>
            <value>
                <elementReference>Credit_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Course_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01278000000GsUHAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transferability__c</field>
            <value>
                <elementReference>TransferabilityScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University__c</field>
            <value>
                <elementReference>Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Course_Mapping_0_0</name>
        <label>Course Mapping</label>
        <locationX>2778</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Another_Mapping</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>Courses_To_Map</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Hours__c</field>
            <value>
                <elementReference>Credit_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Course_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01278000000GsUMAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transferability__c</field>
            <value>
                <elementReference>TransferabilityScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University__c</field>
            <value>
                <elementReference>Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Course_Mapping_0_0_0</name>
        <label>Course Mapping</label>
        <locationX>2294</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>Another_Mapping</targetReference>
        </connector>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>Courses_To_Map</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Course_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01278000000GsURAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transferability__c</field>
            <value>
                <elementReference>TransferabilityScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University__c</field>
            <value>
                <elementReference>Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>All_Courses</name>
        <label>All Courses</label>
        <locationX>776</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>2181</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Course_Mappings</name>
        <label>Course Mappings</label>
        <locationX>1084</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Course_Mapping</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>courseChoiceScreen</name>
        <label>courseChoiceScreen</label>
        <locationX>1845</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>inputScreen</targetReference>
        </connector>
        <fields>
            <name>courseChoiceDisplayText</name>
            <fieldText>&lt;p&gt;Map your courses to ours! Do 1 or 10 you can always come back to finish.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Courses_To_Map</name>
            <choiceReferences>courseChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Courses To Map</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>2090</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endScreenDisplayText</name>
            <fieldText>&lt;p&gt;Thank you for creating course mappings.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>inputScreen</name>
        <label>inputScreen</label>
        <locationX>2030</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <fields>
            <name>inputDisplayText</name>
            <fieldText>&lt;p&gt;Mapping for Course: {!Courses_To_Map}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>inputScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Course_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Course Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>inputScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>inputScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TransferabilityScreen</name>
                    <choiceReferences>transferabilityPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Transferability</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>inputScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Credit_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Credit Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>TransferabilityScreen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Direct Transfer</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TransferabilityScreen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>General Ed Credit</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TransferabilityScreen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Elective Credit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Course_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Course Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TransferabilityScreen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Direct Transfer</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>TransferabilityScreen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>General Ed Credit</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TransferabilityScreen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Elective Credit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_Another_Mapping</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create Another Mapping?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>All_Courses</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>courseIdFromCourse</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>courseIdFromMapping</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalCourseRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
</Flow>
