unpackaged/main/default/flows/Partner_Portal_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Email</name>
        <label>Cancel Email</label>
        <locationX>993</locationX>
        <locationY>620</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CancelTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>contactEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>collegecounseling@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Verto Application Update</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Application</name>
        <label>New Application</label>
        <locationX>997</locationX>
        <locationY>740</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewApplicationTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>contactEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>collegecounseling@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Verto Application!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Email_To_List</name>
        <label>Add Email To List</label>
        <locationX>616</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>contactEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_Emails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Lakota</name>
        <label>add Lakota</label>
        <locationX>603</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>contactEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>lakota.bowen@vertoeducation.org</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>correct_roles</name>
        <label>correct roles</label>
        <locationX>274</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Extract_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_correct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Extract_Emails.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admissions Decisions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Extract_Emails.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Operations/Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Type</name>
        <label>Send Type</label>
        <locationX>751</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_to_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to University</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Application</targetReference>
            </connector>
            <label>Sent to University</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Email</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change_Type</name>
        <label>Status Change Type</label>
        <locationX>167</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) and 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to University</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.University__r.IsPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>University</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>user_exists</name>
        <label>user exists</label>
        <locationX>608</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Extract_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_To_List</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>Partner Portal Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Portal Email Alerts</label>
    <loops>
        <name>Extract_Emails</name>
        <label>Extract Emails</label>
        <locationX>317</locationX>
        <locationY>673</locationY>
        <collectionReference>Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>correct_roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>add_Lakota</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>175</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>University.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>No_Longer_Works_Here__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Contact_Role__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>University</name>
        <label>University</label>
        <locationX>174</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.University__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>299</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>user_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Extract_Emails.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Status_Change_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>College_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CancelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Application update: {!$Record.Students_First_Name__c} {!$Record.Students_Last_Name__c}’s Verto-affiliated application no longer needs to be reviewed; please close it out on your end. Reach out to Lakota (lakota.bowen@vertoeducation.org) if you have questions!&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;&lt;p&gt;The Verto College Counseling Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewApplicationTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;You have a new Verto application ready for review! Please log into your Verto Partner Portal to access it. If you have any questions regarding the applicant, please chatter @Lakota Bowen or email &lt;a href=&quot;mailto:lakota.bowen@vertoeducation.org&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;lakota.bowen@vertoeducation.org&lt;/a&gt;. Your question will be responded to within 2 business days. If you would like to schedule a time to review Verto&#39;s application process, please schedule it &lt;a href=&quot;https://calendly.com/lakota-bowen/30-minute-student-application-touch-base&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Once a decision has been made, please email a copy of the decision letter to &lt;a href=&quot;mailto:collegecounseling@vertoeducation.org&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;collegecounseling@vertoeducation.org&lt;/a&gt;. You may also update the decision in the portal.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks so much!&lt;/p&gt;&lt;p&gt;The Verto College Counseling Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
