unpackaged/main/default/flows/Passport_Upload_Notify_SOA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends the custom notification to the Student Onboarding Advisor.</description>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Student Outreach Needed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>getEnrollmentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Adds the Owner__c ID to the collection, as a recipient.</description>
        <name>Add_OwnerId</name>
        <label>Add OwnerId</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getEnrollmentRecord.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getNotificationType</targetReference>
        </connector>
    </assignments>
    <description>Flow for the Passport Upload site page that handles creating the custom notification to alert SOA staff when a student hasn&#39;t made arrangements for necessary travel documents.

This flow runs in a system context, without sharing. Be very cautious with what data is exposed or mutated during the flow.</description>
    <interviewLabel>Passport Upload: Notify SOA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Passport Upload: Notify SOA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Queries the Enrollment Record, using the ID passed into the flow.</description>
        <name>getEnrollmentRecord</name>
        <label>getEnrollmentRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_OwnerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the required notification type ID for the custom notification.</description>
        <name>getNotificationType</name>
        <label>getNotificationType</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desktop_and_Mobile_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEnrollmentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>The text template for the Notification Body of the custom notification.</description>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The student, {!getEnrollmentRecord.Student_Account__r.Name}, has elected to notify you that they have neither a valid passport nor application submitted for the upcoming period.

Please contact them and assist with ensuring they are eligible for travel during their semester!</text>
    </textTemplates>
    <variables>
        <description>The IDs of the owner of the Enrollment Records. Used to choose the recipient of the notification.</description>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the Enrollment_Record__c, will be used to query the Enrollment Record that is used to create the notification for the Student Onboarding Advisor.</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
