unpackaged/main/default/flows/Passport_Visa_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Check_Account_Id_Validity</name>
        <label>Check Account Id Validity</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Program_Id_Validity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Program_Id_Validity</name>
        <label>Check Program Id Validity</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_Input_Ids_Valid</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputId</name>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputObject</name>
            <value>
                <stringValue>Program__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>coun</name>
        <choiceText>coun</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>coun</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>L</name>
        <choiceText>L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L</stringValue>
        </value>
    </choices>
    <choices>
        <name>M</name>
        <choiceText>M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewPassport</name>
        <choiceText>New Passport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_expedited_passport</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_incorrect_address</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No incorrect address</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_submitted_passport_application</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Valid_Passport</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No_Valid_Passport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Please provide your T-shirt size:</promptText>
        </userInput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>RenewingPassport</name>
        <choiceText>Renewing Passport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>S</name>
        <choiceText>S</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>S</stringValue>
        </value>
    </choices>
    <choices>
        <name>XL</name>
        <choiceText>XL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>XL</stringValue>
        </value>
    </choices>
    <choices>
        <name>XS</name>
        <choiceText>XS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>XS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_expedited_passport</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_I_Have_a_2nd_Flight</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Return_Flight_Available</name>
        <choiceText>Yes, I have return flight information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_submitted_passport_application</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_that_is_my_correct_address</name>
        <choiceText>Yes, that is my correct address</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes_Valid_Passport</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes_Valid_Passport</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Input_Ids_Valid</name>
        <label>Are Input Ids Valid?</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Contact_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid or Null Ids</defaultConnectorLabel>
        <rules>
            <name>Valid_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Account_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Program_Id_Validity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Program</targetReference>
            </connector>
            <label>Valid Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_student_need_a_visa</name>
        <label>Does the student need a Visa?</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Passport_Submission_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Visa</defaultConnectorLabel>
        <rules>
            <name>Needs_Visa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enrollment_Record.Program_Location_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Enrollment_Record.Program_Location_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Enrollment_Record.Program_Location_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czech Republic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visa_Upload</targetReference>
            </connector>
            <label>Needs Visa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_address_correct</name>
        <label>Is Account address correct?</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Create_Passport_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correct Address</defaultConnectorLabel>
        <rules>
            <name>Incorrect_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_address_correct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No incorrect address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Address</targetReference>
            </connector>
            <label>Incorrect Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_passport_application</name>
        <label>Submitted passport application?</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Thank_you</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_submitted_passport_application</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Record_Status_Applied</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Record_Status_Not_Applied</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Contact_Your_SOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>Contact Your SOA</label>
        </rules>
    </decisions>
    <description>Replacing Passport VF page and adding new Visa process</description>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Country__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Legal_Document_Sex</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Legal_Document_Sex__c</picklistField>
        <picklistObject>Verto_Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>New_or_Renewing_Passport</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>New_or_Renewing_Passport__c</picklistField>
        <picklistObject>Verto_Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Passport_Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Legal_Document_Issuing_Country__c</picklistField>
        <picklistObject>Verto_Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>accountAddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.BillingAddress}</expression>
    </formulas>
    <formulas>
        <name>Costa_Rica_Program</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!Get_Enrollment_Record.Program__r.Location__r.Name}, &#39;Costa Rica&#39;), true, false)</expression>
    </formulas>
    <interviewLabel>Passport Visa Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Passport Visa Upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Passport_Record</name>
        <label>Create Passport Form Record</label>
        <locationX>446</locationX>
        <locationY>1886</locationY>
        <assignRecordIdToReference>Form_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Submitted_passport_application</targetReference>
        </connector>
        <inputAssignments>
            <field>Acknowledgement_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledgement_Type__c</field>
            <value>
                <stringValue>It is my responsibility to obtain legal documentation required for travel.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledgement__c</field>
            <value>
                <elementReference>Acknowledgement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Record__c</field>
            <value>
                <elementReference>Get_Enrollment_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Document_Application_Date__c</field>
            <value>
                <elementReference>Please_enter_the_date_you_submitted_your_application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Document_Application_Expedited__c</field>
            <value>
                <elementReference>Did_you_pay_to_expedite_your_passport_application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Document_Application_Submitted__c</field>
            <value>
                <elementReference>Have_you_submitted_your_passport_application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Document_Expiration_Date__c</field>
            <value>
                <elementReference>Passport_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Document_Issue_Date__c</field>
            <value>
                <elementReference>Passport_Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Document_Issuing_Country__c</field>
            <value>
                <elementReference>Passport_Issuing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Document_Sex__c</field>
            <value>
                <elementReference>Passport_Sex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Full_Name__c</field>
            <value>
                <elementReference>Legal_Name_as_listed_on_Passport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_or_Renewing_Passport__c</field>
            <value>
                <elementReference>Are_you_getting_a_new_passport_or_renewing_your_passport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Number__c</field>
            <value>
                <elementReference>Passport_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_shirt_Size__c</field>
            <value>
                <elementReference>What_is_your_T_shirt_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Passport</stringValue>
            </value>
        </inputAssignments>
        <object>Verto_Form_Submission__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enrollment_Record</name>
        <label>Get Enrollment Record</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enrollment_Id_FromSubflow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Enrollment_Record_Status_Applied</name>
        <label>Enrollment Record Status = Applied</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enrollment_Id_FromSubflow</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Passport_Status__c</field>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enrollment_Record_Status_Not_Applied</name>
        <label>Enrollment Record Status = Not Applied</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enrollment_Id_FromSubflow</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Passport_Status__c</field>
            <value>
                <stringValue>Not Applied</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Address</name>
        <label>Update Account Address</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Create_Passport_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Change_address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Change_address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Change_address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Change_address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Change_address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Contact_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Passport_Submission_Form</name>
        <label>Passport Submission Form</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Is_Account_address_correct</targetReference>
        </connector>
        <fields>
            <name>Other_Program_Instructions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Passport Upload&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please complete the following form with your Passport information. Reach out to your Student Onboarding Advisor if you have any questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Enrollment_Record.Program_Name__c}﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Start Date: &lt;/strong&gt;{!Get_Enrollment_Record.Program_Start_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;End Date: &lt;/strong&gt;{!Get_Enrollment_Record.Program_End_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</name>
            <choiceReferences>Yes_Valid_Passport</choiceReferences>
            <choiceReferences>No_Valid_Passport</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you currently have a valid passport with validity of 6 months beyond {!Get_Enrollment_Record.Program_End_Date__c}?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Passport_Submission_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Passport_Submission_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Legal_Name_as_listed_on_Passport</name>
                    <dataType>String</dataType>
                    <fieldText>Legal Name (as listed on Passport)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;(Ex: AA123, BA123)&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Valid_Passport</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Passport_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Passport Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Valid_Passport</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Passport_Issue_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Passport Issue Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Valid_Passport</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Passport_Submission_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Passport_Issuing_Country</name>
                    <choiceReferences>Passport_Country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Passport Issuing Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Valid_Passport</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Passport_Sex</name>
                    <choiceReferences>Legal_Document_Sex</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Passport Sex</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.6667px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Lucida Grande&amp;quot;, Tahoma, Verdana, sans-serif; color: rgb(89, 93, 100);&quot;&gt;Please identify the sex listed on your passport&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Valid_Passport</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Passport_Expiration_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Passport Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Valid_Passport</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Have_you_submitted_your_passport_application</name>
            <choiceReferences>Yes_submitted_passport_application</choiceReferences>
            <choiceReferences>No_submitted_passport_application</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you submitted your passport application?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No_Valid_Passport</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_SOA</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Contact your Student Onboarding Advisor&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Enrollment_Record.Owner__r.FirstName} {!Get_Enrollment_Record.Owner__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone:&lt;/strong&gt; {!Get_Enrollment_Record.Owner__r.Phone}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;&lt;a href=&quot;mailto:{!Get_Enrollment_Record.Owner__r.Email}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Enrollment_Record.Owner__r.Email}﻿&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Get_Enrollment_Record.Owner__r.Calendly_Link__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(239, 172, 8); font-size: 14px;&quot;&gt;&lt;strong&gt;Click here to schedule a meeting&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Passport_Submission_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Passport_Submission_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_getting_a_new_passport_or_renewing_your_passport</name>
                    <choiceReferences>New_or_Renewing_Passport</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you getting a new passport or renewing your passport?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Please_enter_the_date_you_submitted_your_application</name>
                    <dataType>Date</dataType>
                    <fieldText>Please enter the date you submitted your application.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Passport_Submission_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Did_you_pay_to_expedite_your_passport_application</name>
                    <choiceReferences>Yes_expedited_passport</choiceReferences>
                    <choiceReferences>No_expedited_passport</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Did you pay to expedite your passport application?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upload_valid_passport</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Lucida Grande&amp;quot;, Tahoma, Verdana, sans-serif; color: rgb(89, 93, 100);&quot;&gt;Please upload a copy of your valid Passport.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Valid_Passport</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Upload_application_submission</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(89, 93, 100); font-family: &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Lucida Grande&amp;quot;, Tahoma, Verdana, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please upload proof of your application submission, if applicable.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>testUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Files to Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Please provide supporting documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentId_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>Content_Version_Id_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Form_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>FileName_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf,.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Valid_Passport</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Acknowledgement_Header</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Acknowledgement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Valid_Passport</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Acknowledgement</name>
            <dataType>Boolean</dataType>
            <fieldText>Please confirm that you understand it is your responsibility to obtain legal documentation required for travel, such as a passport for international programs.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Valid_Passport</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>446</locationX>
        <locationY>2342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thanks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://vertoeducation--qa--c.documentforce.com/sfc/servlet.shepherd/version/download/0688M000000DlDA?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Your form has been submitted!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Thank_you_passport_submitted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(89, 93, 100); font-family: &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Lucida Grande&amp;quot;, Tahoma, Verdana, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Thank you for submitting your passport! Your Student Onboarding Advisor will review it soon and let you know if we need anything else.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_currently_have_a_valid_passport_with_validity_of_6_12_months_beyond_the_p</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Valid_Passport</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Thank_you_passport_application</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(89, 93, 100); font-family: &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Lucida Grande&amp;quot;, Tahoma, Verdana, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Thank you for submitting your proof of your passport application!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_submitted_your_passport_application</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>link</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://vertoeducation.campusgroups.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;strong&gt;Back to Participant Portal&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verify_Address</name>
        <label>Verify Address</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_the_student_need_a_visa</targetReference>
        </connector>
        <fields>
            <name>Mailing_address_text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Address Verification&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;During the Pre-Departure process, Verto will be mailing documents to your home address about your study abroad experience. Please verify if the current address we have on file below is the best address to send information to you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>currentAddress</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Current Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Account.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Account.BillingCity}, {!Get_Account.BillingState} {!Get_Account.BillingPostalCode}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_address_correct</name>
            <choiceReferences>Yes_that_is_my_correct_address</choiceReferences>
            <choiceReferences>No_incorrect_address</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this address correct?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Change_address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Please update your address here:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_address_correct</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No incorrect address</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Verify_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_your_T_shirt_Size</name>
                    <choiceReferences>XS</choiceReferences>
                    <choiceReferences>S</choiceReferences>
                    <choiceReferences>M</choiceReferences>
                    <choiceReferences>L</choiceReferences>
                    <choiceReferences>XL</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What is your T-shirt Size?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Address_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Visa_Upload</name>
        <label>Visa Upload</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Passport_Submission_Form</targetReference>
        </connector>
        <fields>
            <name>Visa_instructions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Student Visa ID Verification&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In order to help guide you through the Student Visa process, we need to verify the state of your Driver&#39;s License.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;*&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If you do not have a valid Driver&#39;s License, you will need some form of a state ID (which you can get from your local DMV).&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_drivers_license</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload a copy of your driver’s license or state ID here:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Form_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png,.jpg,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>VisaDocumentIdCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>VisaVersionIdCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>VisaFileNameCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Id_Validity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Confirm_Program</name>
        <label>Confirm Program</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Enrollment_Record</targetReference>
        </connector>
        <flowName>Find_Enrollment_Record_with_Semester_Match_CampusGroups_Integration</flowName>
        <inputAssignments>
            <name>ProgramId</name>
            <value>
                <elementReference>Program_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StudentAccountId</name>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Enrollment_Id_FromSubflow</assignToReference>
            <name>EnrollmentRecordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Content_Version_Id_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentId_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_InputFromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enrollment_Id_FromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileName_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flight_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flight__c</objectType>
    </variables>
    <variables>
        <name>Form_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FullName_InputFromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Program_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>studentAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisaDocumentIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisaFileNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisaVersionIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
