unpackaged/main/default/flows/Populate_UNH_ID_on_Enrollment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_ER_to_Collection</name>
        <label>Assign ER to Collection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ER_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Enrollment_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Enrollment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SoR_ID</name>
        <label>Assign SoR ID</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_Enrollment_Records.Student_ID_SoR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UNH_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ER_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Override_Workflow</name>
        <label>Override Workflow?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Override = True</defaultConnectorLabel>
        <rules>
            <name>Override_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Related_Enrollment_Records</targetReference>
            </connector>
            <label>Override = False</label>
        </rules>
    </decisions>
    <decisions>
        <name>University_of_New_Haven</name>
        <label>University of New Haven?</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Enrollment_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UNH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Enrollment_Records.Program__r.Academic_Provider__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>University of New Haven Inc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SoR_ID</targetReference>
            </connector>
            <label>UNH</label>
        </rules>
    </decisions>
    <description>TEH 5/19/2022 - Added User override workflow

TEH 5/18/2022 - UNH Integration</description>
    <interviewLabel>Populate UNH ID on Enrollment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate UNH ID on Enrollment Record</label>
    <loops>
        <name>Iterate_over_Enrollment_Records</name>
        <label>Iterate over Enrollment Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Find_Related_Enrollment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>University_of_New_Haven</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Enrollment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Related_Enrollment_Records</name>
        <label>Find Related Enrollment Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Enrollment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_of_Record__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enrollment_Records</name>
        <label>Update Enrollment Records</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputReference>ER_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Override_Workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UNH_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UNH_Id__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ER_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Record__c</objectType>
    </variables>
</Flow>
