unpackaged/main/default/flows/Roommate_Request_Grant_Share_Access_Staff_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates and inserts the Roommate_Request__Share record to give access to the appropriate Public Group for the Record.</description>
        <name>createRoommateShareRecord</name>
        <label>createRoommateShareRecord</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>FlowRecordSharingUtils</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>deleteExistingSharingRecords</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accessFieldName</name>
            <value>
                <elementReference>ACCESS_FIELD_NAME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupField</name>
            <value>
                <elementReference>LOOKUP_FIELD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shareSObjectName</name>
            <value>
                <elementReference>SHARING_OBJECT_NAME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>SOBJECT_NAME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RoommateRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accessLevel</name>
            <value>
                <elementReference>ACCESS_LEVEL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userOrGroupId</name>
            <value>
                <elementReference>publicGroupId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>checkForExistingPublicGroup</name>
        <label>checkForExistingPublicGroup</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Public_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>publicGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createRoommateShareRecord</targetReference>
            </connector>
            <label>Existing Public Group</label>
        </rules>
    </decisions>
    <description>Gets Program name from Enrollment record instead of Opportunity</description>
    <interviewLabel>Roommate Request - Grant Share Access [Staff Portal] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roommate Request - Grant Share Access [Staff Portal]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPublicGroupIdFromOpportunityProgram</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Returns the Public Group ID of the corresponding group that matches the Opportunity&#39;s current program.</description>
        <name>getPublicGroupIdFromOpportunityProgram</name>
        <label>getPublicGroupIdFromOpportunityProgram</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>checkForExistingPublicGroup</targetReference>
        </connector>
        <flowName>getPublicGroupFromProgram</flowName>
        <inputAssignments>
            <name>ProgramName</name>
            <value>
                <elementReference>RoommateRecord.Enrollment_Record__r.Program__r.Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>publicGroupId</assignToReference>
            <name>GroupId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ACCESS_FIELD_NAME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AccessLevel</stringValue>
        </value>
    </variables>
    <variables>
        <name>ACCESS_LEVEL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </variables>
    <variables>
        <name>LOOKUP_FIELD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ParentId</stringValue>
        </value>
    </variables>
    <variables>
        <name>publicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoommateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Roommate_Request__c</objectType>
    </variables>
    <variables>
        <name>SHARING_OBJECT_NAME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Roommate_Request__Share</stringValue>
        </value>
    </variables>
    <variables>
        <name>SOBJECT_NAME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Roommate_Request__c</stringValue>
        </value>
    </variables>
</Flow>
