unpackaged/main/default/flows/Send_Invoice_via_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Invoice</name>
        <label>Email Invoice</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Sales_Document.bt_stripe__Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>rose.mcintosh@vertoeducation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Email_Address</name>
        <label>Assign Email Address</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Sales_Document.bt_stripe__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sales_Document</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Email_Null</name>
        <label>Is Email Null?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Email_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Document.bt_stripe__Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Invoice</targetReference>
            </connector>
            <label>Email is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Student_Enrolled</name>
        <label>Is The Student Enrolled?</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Student_Not_Enrolled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Enrolled</defaultConnectorLabel>
        <rules>
            <name>Enrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Document.bt_stripe__Opportunity__r.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_Null</targetReference>
            </connector>
            <label>Enrolled</label>
        </rules>
    </decisions>
    <description>Prevents users from sending invoices to students who are not currently enrolled.

Handles null email value and allows user to input new email address.</description>
    <interviewLabel>Send Invoice via Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Invoice via Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Sales_Document</name>
        <label>Get Sales Document</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_The_Student_Enrolled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Sales_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Document</name>
        <label>Update Sales Document</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Email_Invoice</targetReference>
        </connector>
        <inputReference>Get_Sales_Document</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Student_Not_Enrolled</name>
        <label>Error - Student Not Enrolled</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotEnrolled_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to Send Invoice&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Sales_Document.bt_stripe__Opportunity__r.Account.Name} is not currently enrolled. You may only send invoices for students whose Enrollment record status is set to Enrolled.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Invoice</name>
        <label>Send Invoice</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Email_Address</targetReference>
        </connector>
        <fields>
            <name>Email_Instructions</name>
            <fieldText>&lt;p&gt;The email field is blank, please provide the email of the student you want to send the email notification to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>updateEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Document</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your tuition invoice has been posted on the Student Portal. Please login to view and pay based upon your current payment plan.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_Sales_Document.bt_stripe__Contact__r.Name} + &#39; Invoice For &#39; + {!Get_Sales_Document.bt_stripe__Opportunity__r.Current_Program__r.Name} + &#39; is now ready to view&#39;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
