unpackaged/main/default/flows/Set_Opportunity_Tuition_Sales_Document_Delete_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Deposit_or_Tuition</name>
        <label>Deposit or Tuition?</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Deposit</targetReference>
            </connector>
            <label>Deposit</label>
        </rules>
        <rules>
            <name>Tuition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Tuition</targetReference>
            </connector>
            <label>Tuition</label>
        </rules>
    </decisions>
    <formulas>
        <name>Calculate_Deposit</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.bt_stripe__Opportunity__r.Deposit_Amount__c} - {!$Record.bt_stripe__Opportunity__r.Deposit_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Calculate_Tuition</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.bt_stripe__Opportunity__r.Tuition__c} - {!$Record.bt_stripe__Net_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Opportunity Tuition - Sales Document Delete Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Opportunity Tuition - Sales Document Delete Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Opportunity_Deposit</name>
        <label>Set Opportunity Deposit</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>Calculate_Deposit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Invoiced__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_Tuition</name>
        <label>Set Opportunity Tuition</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.bt_stripe__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tuition__c</field>
            <value>
                <elementReference>Calculate_Tuition</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deposit_or_Tuition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>bt_stripe__Sales_Document__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
