unpackaged/main/default/flows/Share_Files_to_Partners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_CDL</name>
        <label>create CDL</label>
        <locationX>272</locationX>
        <locationY>902</locationY>
        <actionName>Ostrij_CreateContentDocumentLink</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Apex_Input</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>ApexInput</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>delete_link</name>
        <label>delete link</label>
        <locationX>270</locationX>
        <locationY>1255</locationY>
        <actionName>Ostrij_DeleteContentDocumentLink</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Apex_Input_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>removeApexInput</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Application_Checkboxes</name>
        <label>Parse Application Checkboxes</label>
        <locationX>901</locationX>
        <locationY>730</locationY>
        <actionName>Ostrij_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_File_Checkboxes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>College_Application_Choice_Set</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_Application_Checkboxes_0</name>
        <label>Parse Application Checkboxes</label>
        <locationX>888</locationX>
        <locationY>1125</locationY>
        <actionName>Ostrij_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_File_Checkboxes_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Remove_College_Application_Choice_Set</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_File_Checkboxes</name>
        <label>Parse File Checkboxes</label>
        <locationX>771</locationX>
        <locationY>732</locationY>
        <actionName>Ostrij_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Applications_to_Share_to</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>File_Eval_Link_Choice_Set</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_File_Checkboxes_0</name>
        <label>Parse File Checkboxes</label>
        <locationX>787</locationX>
        <locationY>1095</locationY>
        <actionName>Ostrij_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Applications_to_Share_to_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Remove_File_Eval_Link_Choice_Set</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>add_file_to_list</name>
        <label>add file to list</label>
        <locationX>1590</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>filesAlreadyShared</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>collegeAndFileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>college_shared_files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Apex_Input</name>
        <label>Fill Apex Input</label>
        <locationX>274</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>createCDLinput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Files_to_Share</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCDLinput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Applications_to_Share_to</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_CDL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Apex_Input_0</name>
        <label>Fill Apex Input</label>
        <locationX>270</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>removeCreateCDLinput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Files_to_Share_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removeCreateCDLinput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Applications_to_Share_to_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>delete_link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Apex_Input</name>
        <label>Remove Apex Input</label>
        <locationX>444</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>createCDLinput</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>createCDLinput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Files_to_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Apex_Input_0</name>
        <label>Remove Apex Input</label>
        <locationX>433</locationX>
        <locationY>1255</locationY>
        <assignmentItems>
            <assignToReference>removeCreateCDLinput</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>removeCreateCDLinput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Files_to_Share_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <decisions>
        <name>add_or_remove_decision</name>
        <label>add or remove</label>
        <locationX>1181</locationX>
        <locationY>938</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>add_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_or_Remove</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1</targetReference>
            </connector>
            <label>add</label>
        </rules>
        <rules>
            <name>remove_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_or_Remove</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1_0</targetReference>
            </connector>
            <label>remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>existing_evaluations_1</name>
        <label>existing evaluations?</label>
        <locationX>788</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Loop_links_to_get_documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Evaluations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_existing_evaluations</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>note</name>
        <label>note</label>
        <locationX>1805</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>add_file_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>note_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Files_0.FileExtension</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>snote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>college_shared_files</targetReference>
            </connector>
            <label>note type</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ApplicationChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Student_Account.Id</elementReference>
            </value>
        </filters>
        <object>College_Application__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>applicationChoiceSetHelper</name>
        <dataType>String</dataType>
        <displayField>Application_Status__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Student_Account.Id</elementReference>
            </value>
        </filters>
        <object>College_Application__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EvalChoiceSet</name>
        <dataType>String</dataType>
        <displayField>ContentDocumentTitle__c</displayField>
        <object>SharingEvaluation__c</object>
        <valueField>contentDocumentId__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FileLinkChoiceSet</name>
        <dataType>String</dataType>
        <displayField>ContentDocumentId</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Student_Account.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <valueField>ContentDocumentId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>removeApplicationChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Student_Account.Id</elementReference>
            </value>
        </filters>
        <object>College_Application__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>removeEvalChoiceSet</name>
        <dataType>String</dataType>
        <displayField>ContentDocumentTitle__c</displayField>
        <object>SharingEvaluation__c</object>
        <valueField>contentDocumentId__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ApexInput</name>
        <dataType>String</dataType>
        <expression>{!createCDLinput}</expression>
    </formulas>
    <formulas>
        <name>cleanFilesAlreadyShared</name>
        <dataType>String</dataType>
        <expression>right(left({!filesAlreadyShared},len({!filesAlreadyShared})-1),len({!filesAlreadyShared})-2)</expression>
    </formulas>
    <formulas>
        <name>collegeAndFileName</name>
        <dataType>String</dataType>
        <expression>&#39;&lt;br&gt;&#39;+{!college_application_loop.University__r.Name}  + &#39; - &#39; +  {!Related_Files_0.Title}</expression>
    </formulas>
    <formulas>
        <name>FileMappingFormula</name>
        <dataType>String</dataType>
        <expression>BR() &amp; {!Related_Files.Id} +&quot; : &quot;+ {!Related_Files.Title}</expression>
    </formulas>
    <formulas>
        <name>removeApexInput</name>
        <dataType>String</dataType>
        <expression>{!removeCreateCDLinput}</expression>
    </formulas>
    <interviewLabel>Share Files to Partners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Files to Partners</label>
    <loops>
        <name>Applications_to_Share_to</name>
        <label>Applications to Share to</label>
        <locationX>646</locationX>
        <locationY>768</locationY>
        <collectionReference>Parse_Application_Checkboxes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Files_to_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Evaluation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Applications_to_Share_to_0</name>
        <label>Applications to Share to</label>
        <locationX>646</locationX>
        <locationY>1104</locationY>
        <collectionReference>Parse_Application_Checkboxes_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Files_to_Share_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Evaluation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>college_application_loop</name>
        <label>college application loop</label>
        <locationX>1204</locationX>
        <locationY>243</locationY>
        <collectionReference>Related_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>files_shared_to_application</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>entryDecisionScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>college_shared_files</name>
        <label>college shared files</label>
        <locationX>1577</locationX>
        <locationY>248</locationY>
        <collectionReference>files_shared_to_application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_Files_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>college_application_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Files_to_Share</name>
        <label>Files to Share</label>
        <locationX>442</locationX>
        <locationY>768</locationY>
        <collectionReference>Parse_File_Checkboxes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fill_Apex_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Applications_to_Share_to</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Files_to_Share_0</name>
        <label>Files to Share</label>
        <locationX>439</locationX>
        <locationY>1108</locationY>
        <collectionReference>Parse_File_Checkboxes_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fill_Apex_Input_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Applications_to_Share_to_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_links_to_get_documents</name>
        <label>Loop links to get documents</label>
        <locationX>946</locationX>
        <locationY>224</locationY>
        <collectionReference>Related_Files_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_Files</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>college_application_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Evaluation</name>
        <label>Create Evaluation</label>
        <locationX>1166</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>Loop_links_to_get_documents</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentTitle__c</field>
            <value>
                <elementReference>Related_Files.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId__c</field>
            <value>
                <elementReference>Loop_links_to_get_documents.LinkedEntityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contentDocumentId__c</field>
            <value>
                <elementReference>Related_Files.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contentDocumentLinkId__c</field>
            <value>
                <elementReference>Loop_links_to_get_documents.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SharingEvaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Evaluation</name>
        <label>Delete Evaluation</label>
        <locationX>648</locationX>
        <locationY>946</locationY>
        <connector>
            <targetReference>Last_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </filters>
        <object>SharingEvaluation__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>delete_existing_evaluations</name>
        <label>delete existing evaluations</label>
        <locationX>797</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Loop_links_to_get_documents</targetReference>
        </connector>
        <inputReference>Existing_Evaluations</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Counseling_Object</name>
        <label>Counseling Object</label>
        <locationX>237</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Counseling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Evaluations</name>
        <label>Existing Evaluations</label>
        <locationX>796</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existing_evaluations_1</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SharingEvaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>files_shared_to_application</name>
        <label>files shared to application</label>
        <locationX>1398</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>college_shared_files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>college_application_loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Applications</name>
        <label>Related Applications</label>
        <locationX>362</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Student_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Counseling__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Counseling_Object.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>College_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Files</name>
        <label>Related Files</label>
        <locationX>950</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Evaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_links_to_get_documents.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FileExtension</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>snote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Files_0</name>
        <label>Related Files</label>
        <locationX>1757</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>college_shared_files.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Files_Link</name>
        <label>Related Files Link</label>
        <locationX>650</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Evaluations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Student_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Student_Account</name>
        <label>Student Account</label>
        <locationX>493</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Files_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Counseling_Object.Student_s_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>entryDecisionScreen</name>
        <label>entryDecisionScreen</label>
        <locationX>1386</locationX>
        <locationY>748</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>add_or_remove_decision</targetReference>
        </connector>
        <fields>
            <name>entryDecisionScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>entryDecisionScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Add_or_Remove</name>
                    <choiceReferences>Add</choiceReferences>
                    <choiceReferences>Remove</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Add or Remove</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>entryDecisionScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titleDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Files already shared with applications&lt;/u&gt; {!cleanFilesAlreadyShared}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Last_Screen</name>
        <label>Last Screen</label>
        <locationX>819</locationX>
        <locationY>935</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>allDone</name>
            <fieldText>&lt;p&gt;All Done!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>1083</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parse_Application_Checkboxes</targetReference>
        </connector>
        <fields>
            <name>addFilesDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Add files to share with universities&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File_Eval_Link_Choice_Set</name>
                    <choiceReferences>EvalChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>File Eval Link Choice Set</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>College_Application_Choice_Set</name>
                    <choiceReferences>ApplicationChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>College Application Choice Set</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Helper_Column</name>
                    <choiceReferences>applicationChoiceSetHelper</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Helper Column</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>alreadySharedDisplayAdd</name>
                    <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Files that are already shared&lt;/u&gt; {!cleanFilesAlreadyShared}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1_0</name>
        <label>Screen 1</label>
        <locationX>1069</locationX>
        <locationY>1125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parse_Application_Checkboxes_0</targetReference>
        </connector>
        <fields>
            <name>Screen_1_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>removeFilesDisplayText_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Remove files from sharing with universities&lt;/u&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_1_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remove_File_Eval_Link_Choice_Set</name>
                    <choiceReferences>removeEvalChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Remove File Eval Link Choice Set</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remove_College_Application_Choice_Set</name>
                    <choiceReferences>removeApplicationChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Remove College Application Choice Set</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_1_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>alreadySharedDisplay</name>
                    <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;﻿Files already shared &lt;/u&gt;{!cleanFilesAlreadyShared}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>164</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Counseling_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createCDLinput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FileMapping</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>filesAlreadyShared</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>removeCreateCDLinput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
