unpackaged/main/default/flows/Student_Concern_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Enrollment_Record</name>
        <label>Enrollment Record</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Enrollment_Record_V</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enrollment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enrollment_Record_0</name>
        <label>Enrollment Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Enrollment_Record_V</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enrollment_Record_from_Account_and_Program</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Currently_Undecided</name>
        <choiceText>Currently Undecided</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Currently Undecided</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_recordId_variable</name>
        <label>Check recordId variable</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Enrollment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recordId_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Case</targetReference>
            </connector>
            <label>recordId is null</label>
        </rules>
    </decisions>
    <description>This flow is used to create Student Concern Cases</description>
    <dynamicChoiceSets>
        <name>Disciplinary_Actions_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Disciplinary_Actions_Needed__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Follow_Up_Required_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Follow_up_Required__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PL_Parents_Notified</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Emergency_Contacts_Notified__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PL_Type_of_Incident</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type_of_Incident__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priorities</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subtype_of_Incident</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Subtype_of_Incident__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Where_in_Journey_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Where_in_Journey__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Get_Enrollment_Record.Students_Name__c} != NULL, 
    {!Get_Enrollment_Record.Students_Name__c} + &quot; - &quot; + {!Type_Subtype_of_Incident.topValue}, 
    {!Get_Enrollment_Record_from_Account_and_Program.Student_Account__r.Name} + &quot; - &quot; + {!Type_Subtype_of_Incident.topValue}
)</expression>
    </formulas>
    <interviewLabel>Student Concern Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Concern Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_0_0_0</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Incident_Report_Form_Page_3</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Enrollment_Record_V.Student_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actions_Taken__c</field>
            <value>
                <elementReference>Actions_taken_in_response_to_the_incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Incident_Reported_to_Verto__c</field>
            <value>
                <elementReference>Date_of_incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disciplinary_Actions_Needed__c</field>
            <value>
                <elementReference>Is_the_Student_Subject_to_Disciplinary_Actions_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Names__c</field>
            <value>
                <elementReference>Indicate_the_names_of_parent_s_or_guardian_s_who_were_notified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Notes__c</field>
            <value>
                <elementReference>Provide_detailed_notes_on_your_conversation_with_parent_s_or_guardian_s_if_appli</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contacts_Notified__c</field>
            <value>
                <elementReference>Have_parents_or_guardians_been_notified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Record__c</field>
            <value>
                <elementReference>Enrollment_Record_V.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>Follow_Up_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Description__c</field>
            <value>
                <elementReference>Full_description_of_incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Cost_Covered__c</field>
            <value>
                <elementReference>Medical_Cost_Covered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Treatment__c</field>
            <value>
                <elementReference>Medical_treatment_received_Where_administered_Hospital_Doctor_on_call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Follow_up_Date__c</field>
            <value>
                <elementReference>Date_of_next_follow_up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Involved__c</field>
            <value>
                <elementReference>Primary_Student_s_or_Staff_involved_or_injured_List_as_Name_student_or_Name_staf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>What_is_the_priority_of_the_incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Case__c</field>
            <value>
                <elementReference>Enrollment_Record_V.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Name__c</field>
            <value>
                <elementReference>Enrollment_Record_V.Program__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype_of_Incident__c</field>
            <value>
                <elementReference>Type_Subtype_of_Incident.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Assist_Case__c</field>
            <value>
                <elementReference>CISI_or_AXA_Travel_Assist_Case_if_case_is_opened</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Incident__c</field>
            <value>
                <elementReference>Type_Subtype_of_Incident.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_type_of_follow_needed__c</field>
            <value>
                <elementReference>What_type_of_follow_up_is_needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_Emergency_Contact_Notified__c</field>
            <value>
                <elementReference>When_were_parent_s_or_guardian_s_notified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_Incident_Occured__c</field>
            <value>
                <elementReference>When_did_the_incident_occur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_in_Journey__c</field>
            <value>
                <elementReference>Where_in_Journey_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_responded_to_incident__c</field>
            <value>
                <elementReference>Who_responded_to_the_incident_List_Verto_staff_member_name_s_and_other_responder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Did_anyone_witness_the_incident_Was_anyone_else_involved_non_Verto_staff_non_Ver</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Enrollment_Record</name>
        <label>Get Enrollment Record</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Uses the Account Id of the student selected and the associated Program of the Account the logged in user is running as to identify the correct Enrollment Record to link the case to.</description>
        <name>Get_Enrollment_Record_from_Account_and_Program</name>
        <label>Get Enrollment Record from Account and Program</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollment_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ProgramName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_User_Contact</name>
        <label>Get Portal User Contact</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Enrollment_Record_from_Account_and_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ProgramName</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Incident_Report_Form_Page_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student Concern</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Account</targetReference>
        </connector>
        <fields>
            <name>Create_New_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intro_Prompt</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Click &quot;Submit a Case&quot; if you would like to create a new Student Concern Case.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Case_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incident_Report_Form_Page_1</name>
        <label>Incident Report Form Page 1</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Incident_Report_Form_Page_2</targetReference>
        </connector>
        <fields>
            <name>IncidentReportFormPhoto</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>IncidentReportFormPhoto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>30%</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>60%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_incident</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Incident was reported to Verto?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_Subtype_of_Incident</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Type_of_Incident__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Subtype_of_Incident__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Type of Incident</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Subtype of Incident</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>TypeOfIncident</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>SubtypeOfIncident</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>When_did_the_incident_occur</name>
                    <dataType>Date</dataType>
                    <fieldText>When did the incident occur?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_priority_of_the_incident</name>
                    <choiceReferences>Priorities</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What is the priority of the incident?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_description_of_incident</name>
                    <fieldText>Full description of incident:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actions_taken_in_response_to_the_incident</name>
                    <fieldText>Actions taken in response to the incident.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Medical_treatment_received_Where_administered_Hospital_Doctor_on_call</name>
                    <dataType>String</dataType>
                    <fieldText>Medical treatment received? Where administered ?(Hospital, Doctor on call)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_parents_or_guardians_been_notified</name>
                    <choiceReferences>PL_Parents_Notified</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Have parents or guardians been notified?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Indicate_the_names_of_parent_s_or_guardian_s_who_were_notified</name>
                    <dataType>String</dataType>
                    <fieldText>Indicate the names of parent(s) or guardian(s) who were notified.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>When_were_parent_s_or_guardian_s_notified</name>
                    <dataType>String</dataType>
                    <fieldText>When were parent(s) or guardian(s) notified?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provide_detailed_notes_on_your_conversation_with_parent_s_or_guardian_s_if_appli</name>
                    <dataType>String</dataType>
                    <fieldText>Provide detailed notes on your conversation with parent(s) or guardian(s) if applicable.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Follow_Up_Required</name>
                    <choiceReferences>Follow_Up_Required_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Follow Up Required?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_next_follow_up</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of next follow up:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section13_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_type_of_follow_up_is_needed</name>
                    <dataType>String</dataType>
                    <fieldText>What type of follow up is needed?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section14_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_1_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_1_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_the_Student_Subject_to_Disciplinary_Actions_0</name>
                    <choiceReferences>Disciplinary_Actions_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the Student Subject to Disciplinary Actions?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_1_Section15_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incident_Report_Form_Page_2</name>
        <label>Incident Report Form Page 2</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Incident_Report_Form_Page_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CISI_or_AXA_Travel_Assist_Case_if_case_is_opened</name>
                    <dataType>String</dataType>
                    <fieldText>CISI &amp;/or AXA Travel Assist Case # (if case is opened)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Medical_Cost_Covered</name>
                    <dataType>String</dataType>
                    <fieldText>Medical Costs covered by Verto (if applicable). Remember to send copies of receipts to safety@vertoeducation.org.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_2_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_2_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Persons_Involved</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Person(s) Involved&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Provide information on the person(s) involved in the incident to the best of your knowledge.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_2_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_2_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Student_s_or_Staff_involved_or_injured_List_as_Name_student_or_Name_staf</name>
                    <dataType>String</dataType>
                    <fieldText>Primary Student(s) or Staff involved or injured. List as &quot;Name - student&quot; or &quot;Name - staff&quot;.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_2_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_2_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Where_in_Journey_0</name>
                    <choiceReferences>Where_in_Journey_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Where in Journey?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_2_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_2_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Who_responded_to_the_incident_List_Verto_staff_member_name_s_and_other_responder</name>
                    <dataType>String</dataType>
                    <fieldText>Who responded to the incident? List Verto staff member name(s) and other responders separately.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incident_Report_Form_Page_2_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_2_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Did_anyone_witness_the_incident_Was_anyone_else_involved_non_Verto_staff_non_Ver</name>
                    <dataType>String</dataType>
                    <fieldText>Did anyone witness the incident? Was anyone else involved? (non-Verto staff, non-Verto students)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_2_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incident_Report_Form_Page_3</name>
        <label>Incident Report Form Page 3</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Incident_Report_Form_Page_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Report_Form_Page_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_3_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CaseId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Report_Form_Page_3_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Account</name>
        <label>Select Account</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Portal_User_Contact</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Student Name:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_recordId_variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Enrollment_Record_V</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Record__c</objectType>
    </variables>
    <variables>
        <name>EnrollmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Record__c</objectType>
    </variables>
    <variables>
        <name>FileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubtypeOfIncident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TypeOfIncident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
