unpackaged/main/default/flows/Technology_Case_Workflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Which_Department_Queue</name>
        <label>Which Department Queue</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admissions_Questions_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_your_department_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admissions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Admissions_Question_Queue_0</targetReference>
            </connector>
            <label>Admissions Questions Queue</label>
        </rules>
        <rules>
            <name>Student_Success_Questions_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_your_department_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Student_Success_Question_Queue</targetReference>
            </connector>
            <label>Student Success Questions Queue</label>
        </rules>
        <rules>
            <name>College_Planning_Questions_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_your_department_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>College Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_College_Planning_Question_Queue</targetReference>
            </connector>
            <label>College Planning Questions Queue</label>
        </rules>
        <rules>
            <name>Marketing_Questions_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_your_department_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_technology_system_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Cloud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Marketing_Question_Queue</targetReference>
            </connector>
            <label>Marketing Questions Queue</label>
        </rules>
        <rules>
            <name>Technology_Questions_Queue</name>
            <conditionLogic>3 OR (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>What_is_your_department_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_technology_system_Question</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_is_your_department_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Technology_Questions_Queue</targetReference>
            </connector>
            <label>Technology Questions Queue</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision uses what the user selected on the first screen for what they need help with (i.e. the Technology Case Topic field).</description>
        <name>Which_topic_does_the_user_need_help_with</name>
        <label>Which topic does the user need help with</label>
        <locationX>1436</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technology_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_can_we_help_you_with</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology Question</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Your_Technology_Question</targetReference>
            </connector>
            <label>Technology Question</label>
        </rules>
        <rules>
            <name>Technology_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_can_we_help_you_with</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Your_Technology_Issue</targetReference>
            </connector>
            <label>Technology Issue</label>
        </rules>
        <rules>
            <name>Technology_Idea_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_can_we_help_you_with</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology Idea/Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Your_Technology_Idea</targetReference>
            </connector>
            <label>Technology Idea/Request</label>
        </rules>
    </decisions>
    <description>This flow supports the case submission and workflow to the Technology Department.</description>
    <dynamicChoiceSets>
        <name>FormStackFormPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Which_FormStack_Form__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewUpdateFormStackPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>New_or_Update_Form__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The resource pulls the picklist options in the Priority field on Cases.</description>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This resource provides the yes/no picklist related to the Want to Provide ROI field.</description>
        <name>ProvideROIPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Want_to_provide_ROI__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This resource provides the picklist yes/no if this case is related to a specific record.</description>
        <name>RelatedtoRecord</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Related_to_Specific_Record__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ROI_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Primary_ROI_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This resource provides the picklist values in the Which Salesforce Object field on the Technology Issue Case.</description>
        <name>SalesforceObjectsPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Which_Salesforce_Objects__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This resource provides the picklist options from the Technology Case Topic field.</description>
        <name>Technology_Case_Topic</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Revenue_Ops_Case_Topic__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This resource provided the picklist options in the Which Technology System field on the Case.</description>
        <name>Technology_System_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Which_Technology_System__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This resource provides the picklist options in the Your Department field on a Case.</description>
        <name>Your_Department_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Your_Department__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Technology Case Workflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technology Case Submission Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This creates the Case for the record type for ideas/requests.</description>
        <name>Create_Technology_Idea_Case</name>
        <label>Create Technology Idea Case</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Idea_Thank_You_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>As_a__c</field>
            <value>
                <elementReference>As_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_want__c</field>
            <value>
                <elementReference>I_want</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_or_Update_Form__c</field>
            <value>
                <elementReference>New_Update_Form_YesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_ROI_Type__c</field>
            <value>
                <elementReference>ROI_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority_Idea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ROI_Explanation__c</field>
            <value>
                <elementReference>ROI_Explanation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Ops_Case_Topic__c</field>
            <value>
                <elementReference>What_can_we_help_you_with</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>So_that__c</field>
            <value>
                <elementReference>So_that</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_Idea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Feature Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Want_to_provide_ROI__c</field>
            <value>
                <elementReference>Provide_ROI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_FormStack_Form__c</field>
            <value>
                <elementReference>Which_FormStack_Form_Idea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_Technology_System__c</field>
            <value>
                <elementReference>Which_technology_system_is_the_main_focus_of_your_idea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_Department__c</field>
            <value>
                <elementReference>What_is_your_department_Issue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This creates the Case for the record type for questions.</description>
        <name>Create_Technology_Issue_Case</name>
        <label>Create Technology Issue Case</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Issue_Thank_You_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Which_Record_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_to_Specific_Record__c</field>
            <value>
                <elementReference>Is_your_issue_related_to_a_specific_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Ops_Case_Topic__c</field>
            <value>
                <elementReference>What_can_we_help_you_with</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Steps_to_Replicate__c</field>
            <value>
                <elementReference>Steps_to_Replicate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_Issue__c</field>
            <value>
                <elementReference>The_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Technology Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_FormStack_Form__c</field>
            <value>
                <elementReference>Which_FormStack_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_Salesforce_Objects__c</field>
            <value>
                <elementReference>Which_Salesforce_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_Technology_System__c</field>
            <value>
                <elementReference>Which_technology_system_is_your_issue_related_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_Department__c</field>
            <value>
                <elementReference>What_is_your_department_Issue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This creates the Case for the record type for questions.</description>
        <name>Create_Technology_Question_Case</name>
        <label>Create Technology Question Case</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Questions_Thank_You_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Which_Record_Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority_Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_to_Specific_Record__c</field>
            <value>
                <elementReference>Is_your_question_related_to_a_specific_record_Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Ops_Case_Topic__c</field>
            <value>
                <elementReference>What_can_we_help_you_with</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Technology_Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_Technology_System__c</field>
            <value>
                <elementReference>Which_technology_system_Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_Department__c</field>
            <value>
                <elementReference>What_is_your_department_Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_Question__c</field>
            <value>
                <elementReference>Your_Question</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Admissions_Question_Queue_0</name>
        <label>Find Admissions Question Queue</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admissions_Questions_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_College_Planning_Question_Queue</name>
        <label>Find College Planning Question Queue</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>College_Planning_Questions_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Marketing_Question_Queue</name>
        <label>Find Marketing Question Queue</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing_Questions_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Student_Success_Question_Queue</name>
        <label>Find Student Success Question Queue</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student_Success_Questions_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Technology_Ideas_Requests_Queue</name>
        <label>Find Technology Ideas/Requests Queue</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Technology_Idea_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology_Ideas_Requests_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Technology_Issues_Queue</name>
        <label>Find Technology Issues Queue</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Technology_Issue_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology_Issues_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Technology_Questions_Queue</name>
        <label>Find Technology Questions Queue</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology_Questions_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This finds the record type ID for Technology Question.</description>
        <name>Get_RecordType_ID</name>
        <label>Get RecordType ID</label>
        <locationX>710</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Technology_Question_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology_Question</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This finds the record type ID for Technology Question.</description>
        <name>Get_RecordType_ID_0</name>
        <label>Get RecordType ID</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Technology_Issues_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology_Issue</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This finds the record type ID for Technology Question.</description>
        <name>Get_RecordType_ID_0_0</name>
        <label>Get RecordType ID</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Technology_Ideas_Requests_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technology_Idea_Request</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>This page asks for the specific details related to the idea.</description>
        <name>Idea_Details</name>
        <label>Idea Details</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordType_ID_0_0</targetReference>
        </connector>
        <fields>
            <name>Idea_Details_Head</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Technology Ideas/Request: Request Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Here is format we use to collect requirements:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(76, 77, 82);&quot;&gt;As a &amp;lt; type of user &amp;gt;, I want &amp;lt; some goal &amp;gt; so that &amp;lt; some reason &amp;gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(76, 77, 82);&quot;&gt;This help the Technology Department understand who, what the goal is, and why.  It provides a specific enough yet vague enough so the Technology Department can work with the business to determine the best way to reach the goal.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_Idea</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>As_a</name>
            <fieldText>As a...</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_want</name>
            <fieldText>I want...</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>So_that</name>
            <fieldText>So that...</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provide_ROI</name>
            <choiceReferences>ProvideROIPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to provide an ROI?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ROI_Type</name>
            <choiceReferences>ROI_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the primary focus/type of your ROI</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Provide_ROI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ROI_Explanation</name>
            <fieldText>Please provide an explanation of how your ROI will be calculate/determined.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Provide_ROI</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This page displays confirmation of the case submissions.</description>
        <name>Idea_Thank_You_Page</name>
        <label>Idea - Thank You Page</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Issue_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Thank you for submitting your idea.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your idea/request has been submitted to the Technology Department.  They will work with department stakeholders to prioritize and groom the requirements to ensure the best solution is implemented. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This page asks for the specific details related to the issue.</description>
        <name>Issue_Details</name>
        <label>Issue Details</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordType_ID_0</targetReference>
        </connector>
        <fields>
            <name>Issue_Details_Head</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Technology Issue: Issue Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please fill out the following details as specific as you can.  The more details you provide will aid the Technology Department to resolve your issue.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_Issue</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_Issue</name>
            <fieldText>What is the issue you are experiencing?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Steps_to_Replicate</name>
            <fieldText>What are the steps to replicate the issue?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_your_issue_related_to_a_specific_record</name>
            <choiceReferences>RelatedtoRecord</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is your issue related to a specific record?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_Record_Explanation_Issue</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Which Record:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Provide as much detail as possible or the direct link.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details should include:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Which object : Lead, Opportunity, Contact, Account, Enrollment Record, etc.&lt;/li&gt;&lt;li&gt;Name or email on record&lt;/li&gt;&lt;li&gt;Record number if Invoice or Enrollment Record.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_your_issue_related_to_a_specific_record</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Which_Record_Issue</name>
            <fieldText>Which Record?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_your_issue_related_to_a_specific_record</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This page displays confirmation of the case submissions.</description>
        <name>Issue_Thank_You_Page</name>
        <label>Issue - Thank You Page</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Issue</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Your Issue Has Been Submitted&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your issue/case has been submitted to the Technology Department.  They will get back to you as quickly as possible.  Please do not resubmit this issue if it&#39;s urgent and you did not set the Priority to High update your case so that Priority is High.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Issue_Supporting_Document</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Submit Any Supporting Documentation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Technology_Issue_Case</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>Issue_Supporting_Document.fileNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This page displays confirmation of the case submissions.</description>
        <name>Questions_Thank_You_Page</name>
        <label>Questions - Thank You Page</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Questions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Your Question Has Been Submitted&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for submitting your question.  Verto&#39;s Management Team and Technology Department will work to answer your questions has quickly as possible.  Please do not resubmit this question, if it&#39;s urgent and you did not set the Priority to High update your case so that Priority is High.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Your_Technology_Idea</name>
        <label>Submit Your Technology Idea</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Idea_Details</targetReference>
        </connector>
        <fields>
            <name>Technology_Issue_Screen1_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Technology Idea/Request: Your Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please complete this form with as much detail as possible.  The Technology Department will work with the primary stakeholders to groom all requests after submission to ensure that everyone is clear on what is to be implemented.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_your_department_Idea</name>
            <choiceReferences>Your_Department_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your department?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_technology_system_is_the_main_focus_of_your_idea</name>
            <choiceReferences>Technology_System_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which technology system is the main focus of your idea?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Update_Form_YesNo</name>
            <choiceReferences>NewUpdateFormStackPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you need a new form or updates made to an existing form?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_technology_system_is_the_main_focus_of_your_idea</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FormStack</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Which_FormStack_Form_Idea</name>
            <choiceReferences>FormStackFormPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which FormStack Form</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_Update_Form_YesNo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Update an Existing Form</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Priority_Explanation_Issue_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;﻿What is the priority of your issue?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;High = Need to have.  Mission Critical.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Medium = Nice to have.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Low = Dream. No rush needed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Priority_Idea</name>
            <choiceReferences>Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Your_Technology_Issue</name>
        <label>Submit Your Technology Issue</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Issue_Details</targetReference>
        </connector>
        <fields>
            <name>Technology_Issue_Screen1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Technology Issue: Your Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please fill out the following details as specific as you can.  The more details you provide will aid the Technology Department to resolve your issue.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_your_department_Issue</name>
            <choiceReferences>Your_Department_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your department?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_technology_system_is_your_issue_related_to</name>
            <choiceReferences>Technology_System_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which technology system is your issue related to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_Salesforce_Object</name>
            <choiceReferences>SalesforceObjectsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Salesforce Objects?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AirCall_number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What&#39;s your AirCall number?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_technology_system_is_your_issue_related_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AirCall</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Which_FormStack_Form</name>
            <choiceReferences>FormStackFormPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which FormStack Form</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_technology_system_is_your_issue_related_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FormStack</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Priority_Explanation_Issue</name>
            <fieldText>&lt;p&gt;&lt;b&gt;﻿What is the priority of your issue?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;High = You cannot move forward with your tasks until it is resolved.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Medium = Important but I can do other tasks while I wait for it to get resolved.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Low = There is a workaround and it does not stop me from doing my job but still needs to be resolved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Priority_Issue</name>
            <choiceReferences>Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Your_Technology_Question</name>
        <label>Submit Your Technology Question</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Department_Queue</targetReference>
        </connector>
        <fields>
            <name>Technology_Question_Form</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Technology Question:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please fill out the fields below as specific details as you can.  Your question will first route to your management team and if necessary they can escalate it to the Technology Department.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_your_department_Question</name>
            <choiceReferences>Your_Department_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your department?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_technology_system_Question</name>
            <choiceReferences>Technology_System_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which technology system?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority_Explanation_Question</name>
            <fieldText>&lt;p&gt;&lt;b&gt;﻿What is the priority for you to get your questions answered?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;High = You cannot move forward with your tasks until it is answered.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Medium = Important but I can do other tasks while I wait.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Low = Does not stop me from doing any tasks.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Priority_Question</name>
            <choiceReferences>Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_Question</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Your_Question</name>
            <dataType>String</dataType>
            <fieldText>Your Question</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_your_question_related_to_a_specific_record_Question</name>
            <choiceReferences>RelatedtoRecord</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is your question related to a specific record?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Related_Record_Instructions_Question</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Which Record:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Provide as much detail as possible or the direct link.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details should include:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Which object : Lead, Opportunity, Contact, Account, Enrollment Record, etc.&lt;/li&gt;&lt;li&gt;Name or email on record&lt;/li&gt;&lt;li&gt;Record number if Invoice or Enrollment Record.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_your_question_related_to_a_specific_record_Question</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Which_Record_Question</name>
            <fieldText>Which Record</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Provide as much detail about a record (name, email) or the specific link to the record.  &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_your_question_related_to_a_specific_record_Question</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen will determine what time of Technology Case they are trying to submit.</description>
        <name>Technology_Case</name>
        <label>Technology Case</label>
        <locationX>1436</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_topic_does_the_user_need_help_with</targetReference>
        </connector>
        <fields>
            <name>Banner</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Home Screen Banner</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Technology_Case_Welcome</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This form will walk you through submitting questions, issues, or ideas to the Technology Department.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The more information and details you can provide the better we will be able to support you and exceed your expectations.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_can_we_help_you_with</name>
            <choiceReferences>Technology_Case_Topic</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What can we help you with?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Technology_Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AdmissionsQuestionsQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This stores the ID of the Queue that the case should be assigned to.</description>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the id for the record type that supports the Technology Question case.</description>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable stores the ID of the user submitting the case.</description>
        <name>SubmitterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
