unpackaged/main/default/flows/Transcript_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>set_StudentId</name>
        <label>set StudentId</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>studentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Student.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Student_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>isStudentIdNull</name>
        <label>isStudentIdNull</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Student_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>studentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Student</targetReference>
            </connector>
            <label>is Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Courses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Course__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Junior_Year_English</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Junior_Year_English_Grade__c</picklistField>
        <picklistObject>Transcript_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Math</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Math_Completed__c</picklistField>
        <picklistObject>Transcript_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Prerequisites_Satisfied_For</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Prerequisites_Satisfied_For__c</picklistField>
        <picklistObject>Transcript_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RereviewReasons</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Requires_Additional_Review__c</picklistField>
        <picklistObject>Transcript_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Spanish</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Spanish_Completed__c</picklistField>
        <picklistObject>Transcript_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TranscriptType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Transcript_Type__c</picklistField>
        <picklistObject>Transcript_Evaluation__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>RecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_260})) &amp; {!evaluationId}</expression>
    </formulas>
    <interviewLabel>Transcript Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transcript Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transcript_Evalution</name>
        <label>Create Transcript Evalution</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>evaluationId</assignRecordIdToReference>
        <connector>
            <targetReference>Additional_Evaluations</targetReference>
        </connector>
        <inputAssignments>
            <field>College_Credit_Received_For__c</field>
            <value>
                <elementReference>Student_Has_Prior_College_Credit_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPA__c</field>
            <value>
                <elementReference>GPA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Junior_Year_English_Grade__c</field>
            <value>
                <elementReference>What_was_the_student_s_Junior_year_English_grade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Math_Completed__c</field>
            <value>
                <elementReference>Highest_Level_of_Math_Passed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prerequisites_Satisfied_For__c</field>
            <value>
                <elementReference>Has_this_student_satisfied_the_prerequisites_for_any_of_the_following_courses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spanish_Completed__c</field>
            <value>
                <elementReference>How_many_years_of_high_School_Spanish_has_the_student_completed_with_a_C_or_grea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>studentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transcript_Type__c</field>
            <value>
                <elementReference>This_Transcript_is</elementReference>
            </value>
        </inputAssignments>
        <object>Transcript_Evaluation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_First_Enrollment_Record</name>
        <label>Get First Enrollment Record</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transcript_Evaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.RT_EnrollmentRecord_FirstSemester</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student_Account</name>
        <label>Get Student Account</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Enrollment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>studentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Additional_Evaluations</name>
        <label>Additional Evaluations</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Thank you!&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The transcript evaluation for &lt;a href=&quot;{!RecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Student_Account.Name}&lt;/a&gt; has been saved.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You may close the window if you&#39;re done or click continue to evaluate another transcript.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Student</name>
        <label>Select Student</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set_StudentId</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Welcome to the Transcript Audit Questionnaire.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please select a student below to get started.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Student</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Student__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select A Student</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Transcript_Evaluation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transcript_Evaluation</name>
        <label>Transcript Evaluation</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Transcript_Evalution</targetReference>
        </connector>
        <fields>
            <name>Transcript_Evaluation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transcript_Evaluation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StudentInformation</name>
                    <fieldText>&lt;p&gt;Transcript Assessment&lt;/p&gt;&lt;p&gt;Student: {!Get_Student_Account.Name}&lt;/p&gt;&lt;p&gt;First Program: {!Get_First_Enrollment_Record.Program__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Transcript_Evaluation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transcript_Evaluation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>This_Transcript_is</name>
                    <choiceReferences>TranscriptType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>This Transcript is:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Indicates if the transcript is preliminary or final.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>The_final_transcript_will_need_to_be_reviewed_for_the_following_reasons</name>
                    <choiceReferences>RereviewReasons</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>The final transcript will need to be reviewed for the following reasons:</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>This_Transcript_is</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Preliminary</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Comments</name>
                    <fieldText>Additional Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>This_Transcript_is</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Preliminary</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Transcript_Evaluation_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transcript_Evaluation_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Student_Has_Prior_College_Credit</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Student Has Prior College Credit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Student_Has_Prior_College_Credit_For</name>
                    <choiceReferences>Courses</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Student Has Prior College Credit For:</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Student_Has_Prior_College_Credit</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Has_this_student_satisfied_the_prerequisites_for_any_of_the_following_courses</name>
                    <choiceReferences>Prerequisites_Satisfied_For</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has this student satisfied the prerequisites for any of the following courses?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Highest_Level_of_Math_Passed</name>
                    <choiceReferences>Math</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What is the student&#39;s highest level of math completed with a C or greater?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>How_many_years_of_high_School_Spanish_has_the_student_completed_with_a_C_or_grea</name>
                    <choiceReferences>Spanish</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How many years of high School Spanish has the student completed with a C or greater?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>What_was_the_student_s_Junior_year_English_grade</name>
                    <choiceReferences>Junior_Year_English</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What was the student&#39;s Junior year English grade?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>GPA</name>
                    <dataType>Number</dataType>
                    <fieldText>GPA</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isStudentIdNull</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>evaluationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>studentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
