unpackaged/main/default/flows/UpdatedInvoiceRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Invoice_Update_Type</name>
        <label>Invoice Update Type</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppStage</targetReference>
            </connector>
            <label>Opportunity Changed</label>
        </rules>
        <rules>
            <name>Status_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppStage_0</targetReference>
            </connector>
            <label>Status = Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppStage</name>
        <label>OppStage?</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>UpdateOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admitted_Qualification_Consideration</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consideration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp_0</targetReference>
            </connector>
            <label>Admitted/Qualification/Consideration</label>
        </rules>
        <rules>
            <name>Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLostOpp</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppStage_0</name>
        <label>OppStage?</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>UpdateOpp1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admitted_Qualification_Consideration_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consideration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp0</targetReference>
            </connector>
            <label>Admitted/Qualification/Consideration</label>
        </rules>
        <rules>
            <name>Lost_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLostOpp_0</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Override_Workflow</name>
        <label>Override Workflow?</label>
        <locationX>1436</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Update_Type</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <description>When opportunity lookup field on the invoice is changed, updated the relevant deposit fields on the opportunity</description>
    <formulas>
        <name>LostOppNewStageFormula</name>
        <dataType>String</dataType>
        <expression>if( left( {!$Record.Opportunity__r.RecordTypeId}, 15) = left( {!$Label.RT_Opp_TraditionalEnrollment}, 15),
&quot;Qualified&quot;,
if( left( {!$Record.Opportunity__r.RecordTypeId}, 15) = left( {!$Label.RT_Opp_ChannelEnrollment}, 15),
&quot;Admitted&quot;,
if( left( {!$Record.Opportunity__r.RecordTypeId}, 15) = left( {!$Label.RT_Opp_Additional_Semester}, 15),
&quot;Qualification&quot;,&quot;&quot;
)
)
)</expression>
    </formulas>
    <interviewLabel>UpdatedInvoiceRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdatedInvoiceRecord</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateLostOpp</name>
        <label>UpdateLostOpp</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Program__c</field>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Date__c</field>
            <value>
                <elementReference>$Record.Date_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Agreement_Signed_Date_Time__c</field>
            <value>
                <elementReference>$Record.Enrollment_Agreement_Signed_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Program__c</field>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>LostOppNewStageFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLostOpp_0</name>
        <label>UpdateLostOpp</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Date__c</field>
            <value>
                <elementReference>$Record.Date_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>LostOppNewStageFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Program__c</field>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Date__c</field>
            <value>
                <elementReference>$Record.Date_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Agreement_Signed_Date_Time__c</field>
            <value>
                <elementReference>$Record.Enrollment_Agreement_Signed_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Program__c</field>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp0</name>
        <label>UpdateOpp</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Date__c</field>
            <value>
                <elementReference>$Record.Date_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Deposit Received</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp1</name>
        <label>UpdateOpp</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Date__c</field>
            <value>
                <elementReference>$Record.Date_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp_0</name>
        <label>UpdateOpp</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Program__c</field>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Date__c</field>
            <value>
                <elementReference>$Record.Date_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Agreement_Signed_Date_Time__c</field>
            <value>
                <elementReference>$Record.Enrollment_Agreement_Signed_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Program__c</field>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Deposit Received</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Override_Workflow</targetReference>
        </connector>
        <filterLogic>1 or (2 and 3 and 4)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
