unpackaged/main/default/flows/updateFRUP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Null</name>
        <label>Null?</label>
        <locationX>382</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>D_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boxIdCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCollegeApp</targetReference>
            </connector>
            <label>D_NULL</label>
        </rules>
    </decisions>
    <interviewLabel>updateFRUP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateFRUP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCollegeApp</name>
        <label>GetCollegeApp</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collegeAppId</elementReference>
            </value>
        </filters>
        <object>College_Application__c</object>
        <outputAssignments>
            <assignToReference>boxIdCheck</assignToReference>
            <field>Box_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCollegeApp</name>
        <label>UpdateCollegeApp</label>
        <locationX>542</locationX>
        <locationY>239</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collegeAppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Box_Id__c</field>
            <value>
                <elementReference>folderId</elementReference>
            </value>
        </inputAssignments>
        <object>College_Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCollegeApp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>boxIdCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>collegeAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>folderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
