unpackaged/main/default/flows/Verto_Form_Submission_Status_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Flow_Skip_Check</name>
        <label>Flow Skip Check</label>
        <locationX>545</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Skip Flow</defaultConnectorLabel>
        <rules>
            <name>Run_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Override_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Check</targetReference>
            </connector>
            <label>Run Flow</label>
        </rules>
    </decisions>
    <decisions>
        <description>Reviews the Form Status</description>
        <name>Form_Status_Check</name>
        <label>Form Status Check</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>updateEnrollmentRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Form Denied</defaultConnectorLabel>
        <rules>
            <name>Form_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Passport_Information</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Form Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Status_Check</targetReference>
            </connector>
            <label>Passport</label>
        </rules>
    </decisions>
    <description>Flow that handles business logic required for when the Status is changed.</description>
    <formulas>
        <description>Abbreviation of Passport Sex, to use for the Account Passport Sex field, which is the truncated version.</description>
        <name>PassportSexAbbreviation</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!$Record.Legal_Document_Sex__c}), 1)</expression>
    </formulas>
    <interviewLabel>Verto Form Submission - Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verto Form Submission - Status Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Passport_Information</name>
        <label>Update Account Passport Information</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>updateEnrollmentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enrollment_Record__r.Student_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Passport_Expiration_Date__c</field>
            <value>
                <elementReference>$Record.Legal_Document_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Full_Legal_Name__c</field>
            <value>
                <elementReference>$Record.Legal_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Issue_Date__c</field>
            <value>
                <elementReference>$Record.Legal_Document_Issue_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Issuing_Country__c</field>
            <value>
                <elementReference>$Record.Legal_Document_Issuing_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Number__c</field>
            <value>
                <elementReference>$Record.Passport_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Sex__c</field>
            <value>
                <elementReference>PassportSexAbbreviation</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Enrollment Record associated with the form, specifically any passport related fields.</description>
        <name>updateEnrollmentRecord</name>
        <label>updateEnrollmentRecord</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enrollment_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Passport_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Enrollment_Record__c</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Skip_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Verto_Form_Submission__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
